/* media */
$media-list: (
		'xxs': 375,
		'xs': 560,
		'sm': 767,
		'md': 992,
		'mdHeader': 1079,
		'lg': 1279,
		'xl': 1599,
		'xxl': 1920
);

/* шрифты */
$mainFont: 'HelveticaNeueCyr', sans-serif;

/* цвета */
$fonBlack: #1B1F22;
$white: #fff;
$red: #FF3E41;
$grey: #CBCECF;
$greyBlack: #7F8589;
$mainDark: #1B1F22;
