.cards
  .card
    .card__title.text__18   Ультразвуковой твердомер МЕТ-УДА
    .card__foto
      .swiper-container.card-gallery.js-card-gallery
        .swiper-wrapper
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--2.png", srcset="img/index/hardness-gallery__slide--2--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--3.png", srcset="img/index/hardness-gallery__slide--3--2x.png 2x" alt="")
        .swiper-pagination.card-gallery-pagination
    .card__bottom 
      .card__cost           
        .card__cost__title В наличии          
        .card__cost__value         
          .card__cost__value--sale 85 200       
          .card__cost__value--actual  79 368      
      .card__buttons
        .card__cart
          img(src="img/svg/cart-lite.svg", alt="")
        .card__front
          img(src="img/svg/row-right.svg", alt="")
  .card
    .card__title.text__18   Ультразвуковой твердомер МЕТ-УДА
    .card__foto
      .swiper-container.card-gallery.js-card-gallery
        .swiper-wrapper
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--2.png", srcset="img/index/hardness-gallery__slide--2--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--3.png", srcset="img/index/hardness-gallery__slide--3--2x.png 2x" alt="")
        .swiper-pagination.card-gallery-pagination
    .card__bottom 
      .card__cost           
        .card__cost__title В наличии          
        .card__cost__value         
          .card__cost__value--sale 85 200       
          .card__cost__value--actual  79 368      
      .card__buttons
        .card__cart
          img(src="img/svg/cart-lite.svg", alt="")
        .card__front
          img(src="img/svg/row-right.svg", alt="")
  .card
    .card__title.text__18   Ультразвуковой твердомер МЕТ-УДА
    .card__foto
      .swiper-container.card-gallery.js-card-gallery
        .swiper-wrapper
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--2.png", srcset="img/index/hardness-gallery__slide--2--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--3.png", srcset="img/index/hardness-gallery__slide--3--2x.png 2x" alt="")
        .swiper-pagination.card-gallery-pagination
    .card__bottom 
      .card__cost           
        .card__cost__title В наличии          
        .card__cost__value         
          .card__cost__value--sale 85 200       
          .card__cost__value--actual  79 368      
      .card__buttons
        .card__cart
          img(src="img/svg/cart-lite.svg", alt="")
        .card__front
          img(src="img/svg/row-right.svg", alt="")
  .card
    .card__title.text__18   Ультразвуковой твердомер МЕТ-УДА
    .card__foto
      .swiper-container.card-gallery.js-card-gallery
        .swiper-wrapper
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--2.png", srcset="img/index/hardness-gallery__slide--2--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--3.png", srcset="img/index/hardness-gallery__slide--3--2x.png 2x" alt="")
        .swiper-pagination.card-gallery-pagination
    .card__bottom 
      .card__cost           
        .card__cost__title В наличии          
        .card__cost__value         
          .card__cost__value--sale 85 200       
          .card__cost__value--actual  79 368      
      .card__buttons
        .card__cart
          img(src="img/svg/cart-lite.svg", alt="")
        .card__front
          img(src="img/svg/row-right.svg", alt="")
  .card
    .card__title.text__18   Ультразвуковой твердомер МЕТ-УДА
    .card__foto
      .swiper-container.card-gallery.js-card-gallery
        .swiper-wrapper
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--2.png", srcset="img/index/hardness-gallery__slide--2--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--3.png", srcset="img/index/hardness-gallery__slide--3--2x.png 2x" alt="")
        .swiper-pagination.card-gallery-pagination
    .card__bottom 
      .card__cost           
        .card__cost__title В наличии          
        .card__cost__value         
          .card__cost__value--sale 85 200       
          .card__cost__value--actual  79 368      
      .card__buttons
        .card__cart
          img(src="img/svg/cart-lite.svg", alt="")
        .card__front
          img(src="img/svg/row-right.svg", alt="")
  .card
    .card__title.text__18   Ультразвуковой твердомер МЕТ-УДА
    .card__foto
      .swiper-container.card-gallery.js-card-gallery
        .swiper-wrapper
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--2.png", srcset="img/index/hardness-gallery__slide--2--2x.png 2x" alt="")
          .swiper-slide.card-gallery__slide
            img(src="img/index/hardness-gallery__slide--3.png", srcset="img/index/hardness-gallery__slide--3--2x.png 2x" alt="")
        .swiper-pagination.card-gallery-pagination
    .card__bottom 
      .card__cost           
        .card__cost__title В наличии          
        .card__cost__value         
          .card__cost__value--sale 85 200       
          .card__cost__value--actual  79 368      
      .card__buttons
        .card__cart
          img(src="img/svg/cart-lite.svg", alt="")
        .card__front
          img(src="img/svg/row-right.svg", alt="")
