.product-card__slider
  .swiper-container.gallery-main
    .swiper-wrapper
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--1.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--2.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--3.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--1.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--2.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--3.png" alt="">
    .swiper-buttons.gallery-main--swiper-buttons
      .swiper-button-prev.gallery-main-prev
      .swiper-button-next.gallery-main-next  
  .swiper-container.gallery-thumbs
    .swiper-wrapper
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--1.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--2.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--3.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--1.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--2.png" alt="">
      .swiper-slide
        <img src="img/index/hardness-gallery__slide--3.png" alt="">
    .gallery-thumbs__swiper-buttons    
      .swiper-button-prev.gallery-thumbs-prev
      .swiper-button-next.gallery-thumbs-next
  .button__circle.animate__animated
    .button__circle-inner
      img.button__circle-outside(src="img/index/button__circle-outside.png" alt="")
      img.button__circle-inside(src="img/index/button__circle-inside.png" alt="logo")