.general-links
  a.general-link
    .general-link__icon
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0769 24.6154H32V0H0V32L11.0769 24.6154ZM4.92308 23.3049L9.71331 19.6923H27.0769V4.92308H4.92308V23.3049Z" fill="#FF3E41"/>
      </svg>
    .general-link__text.text__18 Часто задаваемые вопросы
  a.general-link
    .general-link__icon
      <svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6971 9.22726L9.96154 4.61363H4.98077V20.7613H27.3942V9.22726H13.6971ZM12.4519 0L16.1875 4.61363H32.375V25.375H0V0H12.4519Z" fill="#FF3E41"/>
      </svg>
    .general-link__text.text__18 Техническая документация
  a.general-link
    .general-link__icon
      <svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.3089 14.5015L10.6087 11.2312L12.506 13.1115L17.3913 8.26989L20.6911 11.5403L12.506 19.6522L7.3089 14.5015Z" fill="#FF3E41"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M28 2.3125V18.5L14 32.375L0 18.5V2.3125L14 0L28 2.3125ZM14 4.68879L23.3333 6.23045V16.5842L14 25.8342L4.66667 16.5842V6.23045L14 4.68879Z" fill="#FF3E41"/>
      </svg>
    .general-link__text.text__18 Гарантия и сервис
