.section__header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	width: 100%;
	padding: 0;
	background: $fonBlack;
	z-index: 999;
	height: 73px;
	box-sizing: border-box;
	border-bottom: 1px solid #292B32;
	.container {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-left: 80px;
		padding-right: 80px;
		max-width: 1920px;
		overflow: visible;
		@include max(xl) {
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}

.header {
	&__logo {
		display: flex;
		position: relative;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		width: 64px;
		@include max(lg) {
			margin-right: 30px;
		}
		&__img {
			position: relative;
			display: block;
			width: 100%;
			img {
				position: relative;
				display: inline-block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	
		&__name {
			display: block;
			position: relative;
			font-family: 'Manrope';
			font-style: normal;
			font-weight: 700;
			font-size: 21px;
			line-height: 28px;
			text-transform: uppercase;
			color: #FFFFFF;
			word-spacing: 4px;
	
			span {
				word-spacing: 2px;
				text-transform: none;
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 26px;
			}
		}
	
	}
	&__menu {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 54.4%;
		height: 100%;
		@include max(lg) {
			width: 65%;
		}
		@include max(md) {
			width: 89%;
		}
		&__item {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-family: HelveticaNeueCyr;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			white-space: nowrap;
			letter-spacing: 0.6px;
			color: $grey;
			text-transform: uppercase;
			text-decoration: none;
			height: 100%;
			transition: all 0.3s;
			border-bottom: 1px solid transparent;
			&:hover {
				border-bottom: 1px solid $red;
				color: $white;
				transition: all 0.3s;
			}		
		}
		&__list {
			position: absolute;
			top: calc(100% + 20px);
			left: -40px;
			display: flex;
			visibility: hidden;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 30px;
			padding-top: 43px;
			background: #2e3236;
			border-radius: 28px;
			min-width: 203px;
			flex-flow: column nowrap;
			opacity: 0;
			transition: all .3s;
			&.active {
				display: flex;
				opacity: 1;
				transition: all .3s;
				visibility: inherit;
			}
			&::before {
				position: absolute;
				left: 13px;
				top: -13px;
				content: url(../img/row.png);
				display: flex;
				justify-content: flex-start;
				align-items: flex-end;
			}
			&__item {
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				color: $white;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				margin-bottom: 20px;
				text-transform: none;
				a{
					position: relative;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					color: $white;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-decoration: none;
					transition: all .3s;
					&:hover {
						transition: all .3s;
						color: $greyBlack;
					}
				}
			}
		}
	}
	&__other {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-flow: row nowrap;
		width: 29.54%;
		@include max(md) {
			width: 20%;
			margin-left: 40px;
		}
		&__fone {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 14px;
			font-weight: 700;
			line-height: 14px;
			letter-spacing: 0.05em;
			color: $grey;
			margin-right: 72px;
			&--desc {
				@media (max-width: 1350px) {
					display: none;
				}
			}
			&--mob {
				display: none;
				@media (max-width: 1350px) {
					display: flex;
				}
			}
			@media (max-width: 1700px) {
				margin-right: 40px;
			}
			@media (max-width: 1350px) {
				margin-right: 25px
			}
			a {
				position: relative;
				display: inline-block;
				text-decoration: none;
				font-size: 14px;
				font-weight: 700;
				line-height: 14px;
				letter-spacing: 0.05em;
				color: $grey;
				transition: all .3s;
				&:hover {
					color: $white;
					transition: all .3s;
					svg {
						path {
							fill: $white;
							transition: all .3s;
						}
					}
				}		
			}		
		}
		&__lang {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 12px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.6px;
			text-transform: uppercase;
			color: $grey;
			margin-right: 79px;
			transition: all .3s;
			@media (max-width: 1700px) {
				margin-right: 40px;
			}
			@media (max-width: 1350px) {
				margin-right: 25px
			}
			@include max(md) {
				display: none;
			}
			&:hover {
				color: $white;
				transition: all .3s;
				svg {
					path {
						fill: $white;
						transition: all .3s;
					}
				}
			}
			img, svg {
				transition: all .3s;
				margin-right: 14px;
			}
		}
		&__search  {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-right: 24px;
			&__button {
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				z-index: 3;
				transition: all .3s;
				&:hover {
					color: $white;
					transition: all .3s;
					svg {
						transition: all .3s;
						path {
							fill: $white;

						}
					}
				}
			}
			&__input {
				position: absolute;
				left: 0;
				z-index: 2;
				width: auto;
				input {
					position: relative;
					width: 0%;
					border: none;
					padding: 0;
					background: #7F8589;
					border-radius: 5px;
					background: #25292B;
				}
			}
		}
		&__cart {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-right: 21px;
			transition: all .3s;
			&:hover {
				color: $white;
				transition: all .3s;
				svg {
					path {
						fill: $white;
						transition: all .3s;
					}
				}
			}
		}
		&__user {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			transition: all .3s;
			&:hover {
				color: $white;
				transition: all .3s;
				svg {
					path {
						fill: $white;
						transition: all .3s;
					}
				}
			}
		}
	}
}
