.section__header.animate__animated.animate__fadeInDown
	.container
		a(href="index.html").header__logo 
			img(src="img/svg/logo.svg", alt="logo")
		.header__menu
			a(href="#").header__menu__item компания

			.header__menu__item продукция
				ul.header__menu__list
					li.header__menu__list__item
						a(href="#") Твердомеры
					li.header__menu__list__item 
						a(href="#") Меры твердости
			a(href="#").header__menu__item Дилеры
			.header__menu__item инфоцентр
				ul.header__menu__list
					li.header__menu__list__item 
						a(href="#") Подобрать твердомер
					li.header__menu__list__item 
						a(href="#") Подобрать меры твердости
			a(href="#").header__menu__item проверка подлинности
			a(href="#").header__menu__item контакты
		.header__other
			.header__other__fone.header__other__fone--desc.header__menu__item
				a(href="tel:+88002227526") 
					!="8 (800) 222-75-26"
					<svg xmlns="http://www.w3.org/2000/svg" width="15" height="9" viewBox="0 0 15 9" fill="none">
					<path d="M1.41417 7.05719e-05L-4.57764e-05 1.41428L7.07102 8.48535L14.1421 1.41428L12.7279 7.05719e-05L7.07102 5.65692L1.41417 7.05719e-05Z" fill="#F5F5F5"/>
					</svg>
				ul.header__menu__list
					li.header__menu__list__item
						a(href="tel:+88002227526") 8 (800) 222-75-26
					li.header__menu__list__item 
						a(href="tel:+88002227526") 8 (800) 222-75-26
				.header__other__fone--icon 
			.header__other__fone.header__other__fone--mob.header__menu__item
				<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M7.55001 8.4707C7.34998 8.67072 7.13578 8.84793 6.91063 9.00232C7.23404 9.42762 7.57923 9.82285 7.94689 10.1905C8.31454 10.5582 8.70977 10.9033 9.13507 11.2268C9.28946 11.0016 9.46667 10.7874 9.6667 10.5874C11.4202 8.83386 14.2632 8.83386 16.0168 10.5874C17.0553 11.6259 17.5268 13.055 17.3352 14.4052C17.3192 14.4023 17.3512 14.408 17.3352 14.4052L16.815 17.3531C12.1411 16.5282 8.50451 14.9815 5.8302 12.3072C3.15588 9.63288 1.60914 5.9963 0.784332 1.3224L3.73223 0.802178C3.72939 0.786176 3.73506 0.818218 3.73223 0.802178C5.08237 0.610611 6.51151 1.08214 7.55001 2.12063C9.30353 3.87415 9.30353 6.71717 7.55001 8.4707ZM4.41911 3.79959C4.69539 4.74841 5.01371 5.61537 5.3762 6.40825C5.3956 6.39076 5.41464 6.37268 5.43332 6.35401C6.01783 5.7695 6.01783 4.82183 5.43332 4.23732C5.15229 3.95629 4.78732 3.81038 4.41911 3.79959ZM14.3378 13.7183C14.327 13.3501 14.1811 12.9851 13.9001 12.7041C13.3156 12.1196 12.3679 12.1196 11.7834 12.7041C11.7647 12.7227 11.7466 12.7418 11.7292 12.7612C12.522 13.1237 13.389 13.442 14.3378 13.7183Z" fill="#CBCECF"/>
				</svg>					
				ul.header__menu__list
					li.header__menu__list__item
						a(href="tel:+88002227526") 8 (800) 222-75-26
					li.header__menu__list__item
						a(href="tel:+88002227526") 8 (800) 222-75-26
					li.header__menu__list__item 
						a(href="tel:+88002227526") 8 (800) 222-75-26
			.header__other__lang.header__other__lang--desc
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M9.99999 0.666687C4.84533 0.666687 0.666656 4.84536 0.666656 10C0.666656 13.8823 3.03703 17.211 6.40947 18.6177C7.48503 19.0664 8.6625 19.3195 9.89752 19.3328C9.93163 19.3332 9.9658 19.3334 9.99999 19.3334C10.0342 19.3334 10.0683 19.3332 10.1024 19.3328C11.3375 19.3195 12.515 19.0664 13.5905 18.6177C16.963 17.211 19.3333 13.8823 19.3333 10C19.3333 4.84536 15.1546 0.666687 9.99999 0.666687ZM11.2452 11.3334C11.0696 12.6515 10.6372 13.8884 9.99999 14.9923C9.36278 13.8884 8.93039 12.6515 8.75477 11.3334H11.2452ZM13.9307 11.3334C13.7457 13.1014 13.197 14.7612 12.3608 16.2366C14.4744 15.4361 16.0748 13.5921 16.5333 11.3334H13.9307ZM16.5333 8.66669H13.9307C13.7457 6.89865 13.197 5.23884 12.3608 3.76343C14.4743 4.56392 16.0748 6.40796 16.5333 8.66669ZM11.2452 8.66669H8.75477C8.9304 7.34858 9.36278 6.11164 9.99999 5.0078C10.6372 6.11164 11.0696 7.34858 11.2452 8.66669ZM6.06933 8.66669C6.25429 6.89865 6.80296 5.23884 7.63918 3.76343C5.52563 4.56392 3.92518 6.40796 3.46668 8.66669H6.06933ZM3.46668 11.3334C3.92518 13.5921 5.52562 15.4361 7.63915 16.2366C6.80294 14.7612 6.25428 13.1014 6.06933 11.3334H3.46668Z" fill="#CBCECF"/>
				</svg>
				!="ENG"
			.header__other__search.header__other__search--desc
				.header__other__search__button
					<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M12.6529 15.2052C11.519 15.8215 10.2195 16.1716 8.83821 16.1716C4.41993 16.1716 0.838211 12.5898 0.838211 8.17157C0.838211 3.75329 4.41993 0.17157 8.83821 0.17157C13.2565 0.17157 16.8382 3.75329 16.8382 8.17157C16.8382 10.2402 16.0531 12.1255 14.7645 13.5456L17.3905 16.1716L15.5049 18.0572L12.6529 15.2052ZM14.1715 8.17157C14.1715 11.1171 11.7837 13.5049 8.83821 13.5049C5.89269 13.5049 3.50488 11.1171 3.50488 8.17157C3.50488 5.22605 5.89269 2.83824 8.83821 2.83824C11.7837 2.83824 14.1715 5.22605 14.1715 8.17157Z" fill="#CBCECF"/>
					</svg>
				.header__other__search__input
					input(type="search", name="", placeholder="Поиск")
			.header__other__cart
				<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M4.1494 5.72854L0.856796 0.200012H3.8L5.71981 3.40001H21.0662L16.7735 11.6927H7.69372L4.1494 5.72854ZM7.34505 6.06668L9.23774 9.02603H15.1254L16.7515 6.06668H7.34505Z" fill="#CBCECF"/>
				<path d="M11.1495 15.826C11.1495 16.9306 10.2541 17.826 9.14949 17.826C8.04492 17.826 7.14948 16.9306 7.14948 15.826C7.14948 14.7215 8.04492 13.826 9.14949 13.826C10.2541 13.826 11.1495 14.7215 11.1495 15.826Z" fill="#CBCECF"/>
				<path d="M14.4828 17.826C15.5874 17.826 16.4828 16.9306 16.4828 15.826C16.4828 14.7215 15.5874 13.826 14.4828 13.826C13.3782 13.826 12.4828 14.7215 12.4828 15.826C12.4828 16.9306 13.3782 17.826 14.4828 17.826Z" fill="#CBCECF"/>
				</svg>
			.header__other__user.header__other__user--desc.js-company-card__button
				<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4459 11.9682C15.8089 10.7475 16.6667 8.9741 16.6667 7.00035C16.6667 3.31845 13.6819 0.333679 9.99999 0.333679C6.31809 0.333679 3.33333 3.31845 3.33333 7.00035C3.33333 8.9741 4.19106 10.7475 5.55412 11.9682C3.54028 12.8928 1.86397 14.4263 0.760857 16.3328L3.07064 17.6664C4.45397 15.2755 7.03915 13.667 10 13.667C12.9609 13.667 15.546 15.2755 16.9294 17.6663L19.2391 16.3328C18.136 14.4262 16.4597 12.8928 14.4459 11.9682ZM14 7.00035C14 9.20948 12.2091 11.0003 9.99999 11.0003C7.79085 11.0003 5.99999 9.20948 5.99999 7.00035C5.99999 4.79121 7.79085 3.00035 9.99999 3.00035C12.2091 3.00035 14 4.79121 14 7.00035Z" fill="#CBCECF"/>
				</svg>
			<button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>


.mob-menu__section
	.mob-menu--overlay
	.mob-menu
		.mob-menu__top
			.mob-menu__top__row
				.header__other__search 
					.header__other__search__button
						<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M12.6529 15.2052C11.519 15.8215 10.2195 16.1716 8.83821 16.1716C4.41993 16.1716 0.838211 12.5898 0.838211 8.17157C0.838211 3.75329 4.41993 0.17157 8.83821 0.17157C13.2565 0.17157 16.8382 3.75329 16.8382 8.17157C16.8382 10.2402 16.0531 12.1255 14.7645 13.5456L17.3905 16.1716L15.5049 18.0572L12.6529 15.2052ZM14.1715 8.17157C14.1715 11.1171 11.7837 13.5049 8.83821 13.5049C5.89269 13.5049 3.50488 11.1171 3.50488 8.17157C3.50488 5.22605 5.89269 2.83824 8.83821 2.83824C11.7837 2.83824 14.1715 5.22605 14.1715 8.17157Z" fill="#CBCECF"/>
						</svg>
					.header__other__search__input.active
						input(type="search", name="")
			.mob-menu__top__row
				.header__other__user
					<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.4459 11.9682C15.8089 10.7475 16.6667 8.9741 16.6667 7.00035C16.6667 3.31845 13.6819 0.333679 9.99999 0.333679C6.31809 0.333679 3.33333 3.31845 3.33333 7.00035C3.33333 8.9741 4.19106 10.7475 5.55412 11.9682C3.54028 12.8928 1.86397 14.4263 0.760857 16.3328L3.07064 17.6664C4.45397 15.2755 7.03915 13.667 10 13.667C12.9609 13.667 15.546 15.2755 16.9294 17.6663L19.2391 16.3328C18.136 14.4262 16.4597 12.8928 14.4459 11.9682ZM14 7.00035C14 9.20948 12.2091 11.0003 9.99999 11.0003C7.79085 11.0003 5.99999 9.20948 5.99999 7.00035C5.99999 4.79121 7.79085 3.00035 9.99999 3.00035C12.2091 3.00035 14 4.79121 14 7.00035Z" fill="#CBCECF"/>
					</svg>
					!="Личный кабинет"
				.header__other__lang
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M9.99999 0.666687C4.84533 0.666687 0.666656 4.84536 0.666656 10C0.666656 13.8823 3.03703 17.211 6.40947 18.6177C7.48503 19.0664 8.6625 19.3195 9.89752 19.3328C9.93163 19.3332 9.9658 19.3334 9.99999 19.3334C10.0342 19.3334 10.0683 19.3332 10.1024 19.3328C11.3375 19.3195 12.515 19.0664 13.5905 18.6177C16.963 17.211 19.3333 13.8823 19.3333 10C19.3333 4.84536 15.1546 0.666687 9.99999 0.666687ZM11.2452 11.3334C11.0696 12.6515 10.6372 13.8884 9.99999 14.9923C9.36278 13.8884 8.93039 12.6515 8.75477 11.3334H11.2452ZM13.9307 11.3334C13.7457 13.1014 13.197 14.7612 12.3608 16.2366C14.4744 15.4361 16.0748 13.5921 16.5333 11.3334H13.9307ZM16.5333 8.66669H13.9307C13.7457 6.89865 13.197 5.23884 12.3608 3.76343C14.4743 4.56392 16.0748 6.40796 16.5333 8.66669ZM11.2452 8.66669H8.75477C8.9304 7.34858 9.36278 6.11164 9.99999 5.0078C10.6372 6.11164 11.0696 7.34858 11.2452 8.66669ZM6.06933 8.66669C6.25429 6.89865 6.80296 5.23884 7.63918 3.76343C5.52563 4.56392 3.92518 6.40796 3.46668 8.66669H6.06933ZM3.46668 11.3334C3.92518 13.5921 5.52562 15.4361 7.63915 16.2366C6.80294 14.7612 6.25428 13.1014 6.06933 11.3334H3.46668Z" fill="#CBCECF"/>
					</svg>
					!="ENG"
		.mob-menu--list.accordions
			.accordion
				.accordion__intro
					a(href="")  компания
				.accordion__content
			.accordion
				.accordion__intro
					p продукция
					.accordion__intro__img
						<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.3 0L0 1.16667L6.5 7L13 1.16667L11.7 0L6.5 4.66667L1.3 0Z" fill="#CBCECF"/>
						</svg>
				.accordion__content
					a(href="") Твердомеры
					a(href="") Меры твердости
			.accordion
				.accordion__intro
					a(href="")  Дилеры
				.accordion__content
			.accordion
				.accordion__intro
					p инфоцентр
					.accordion__intro__img
						<svg width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.3 0L0 1.16667L6.5 7L13 1.16667L11.7 0L6.5 4.66667L1.3 0Z" fill="#CBCECF"/>
						</svg>
				.accordion__content
					a(href="") Подобрать твердомер
					a(href="") Подобрать меры твердости
			.accordion
				.accordion__intro
					a(href="")  проверка подлинности
				.accordion__content
			.accordion
				.accordion__intro
					a(href="")  контакты
				.accordion__content

		.mob-menu__bottom
			.mob-menu__fone
				a(href="tel:+88002227526") 8 (800) 222-75-26
			.soc
				a(href="#").soc__item 
					.soc__item__text Telegram
					.soc__item__picture 
						img(src="img/svg/tg.svg", alt="logo")
				a(href="#").soc__item 
					.soc__item__text WhatsApp
					.soc__item__picture 
						img(src="img/svg/wt.svg", alt="logo")
				a(href="#").soc__item
					.soc__item__text Mail
					.soc__item__picture 
						img(src="img/svg/sms.svg", alt="logo")
				a(href="#").soc__item 
					.soc__item__text Chat
					.soc__item__picture 
						img(src="img/svg/message.svg", alt="logo")
