.section__header 
	.container
		a(href="index.html").header__logo 
			.header__logo__img
				img(src="img/svg/logo.svg", alt="logo")
		.header__menu
			a(href="#").header__menu__item компания
			a(href="#").header__menu__item продукция
			a(href="#").header__menu__item Дилеры
			a(href="#").header__menu__item инфоцентр
			a(href="#").header__menu__item проверка подлинности
			a(href="#").header__menu__item контакты
		.header__other
			.header__other__fone
				a(href="tel:+88002227526") 8 (800) 222-75-26
			.header__other__lang
				img(src="img/svg/lang.svg", alt="icon")
				!="ENG"
			.header__other__search 
				.header__other__search__button
					img(src="img/svg/header__other__search.svg", alt="icon")
				.header__other__search__input 
					input(type="search", name="")
			.header__other__cart
				img(src="img/svg/cart.svg", alt="icon")
			.header__other__user
				img(src="img/svg/user.svg", alt="icon")