.reviews
  .review
    .review__top 
      .review__top__col
        .review__name ООО «НПП «Линэртон»
        .review__adress г. Нижний Новгород, Нижегородская область, ул. Ларина, д. 7
      .review__top__col
        .review__rating
          .review__total 5.0
          .review__stars
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
        .review__load
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.33325H19.219L28 10.1143V30.6666H4V1.33325ZM6.66667 3.99992V27.9999H25.3333V11.9999H17.3333V3.99992H6.66667ZM20 5.88554L23.4477 9.33325H20V5.88554Z" fill="#1B1F22"/>
          <circle cx="12" cy="18" r="1" fill="#1B1F22"/>
          <circle cx="16" cy="18" r="1" fill="#1B1F22"/>
          <circle cx="20" cy="18" r="1" fill="#1B1F22"/>
          </svg>
    .review__text.text__15.active НПП «Линэтрон-Нижний Новгород» занимается разработкой и внедрением упрочняющих технологий на основе пучково-импульсного облучения ионами углерода. В настоящее время мы специализируемся на обработке мощными ионными пучками (МИП) режущего твердосплавного инструмента железнодорожной номенклатуры. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum dicta corrupti delectus consequatur debitis temporibus fugiat alias omnis adipisci quibusdam minima iure, nobis, veniam officiis eos iusto. Explicabo magni culpa similique aliquam veritatis, harum, voluptatum doloremque sunt quae nisi molestias repellendus in deleniti consequatur iure vero? Nisi eos eaque veniam!
    .review__button.btn.btn--red Отзыв полностью
  .review
    .review__top 
      .review__top__col
        .review__name ООО «НПП «Линэртон»
        .review__adress г. Нижний Новгород, Нижегородская область, ул. Ларина, д. 7
      .review__top__col
        .review__rating
          .review__total 5.0
          .review__stars
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
        .review__load
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.33325H19.219L28 10.1143V30.6666H4V1.33325ZM6.66667 3.99992V27.9999H25.3333V11.9999H17.3333V3.99992H6.66667ZM20 5.88554L23.4477 9.33325H20V5.88554Z" fill="#1B1F22"/>
          <circle cx="12" cy="18" r="1" fill="#1B1F22"/>
          <circle cx="16" cy="18" r="1" fill="#1B1F22"/>
          <circle cx="20" cy="18" r="1" fill="#1B1F22"/>
          </svg>
    .review__text.text__15.active НПП «Линэтрон-Нижний Новгород» занимается разработкой и внедрением упрочняющих технологий на основе пучково-импульсного облучения ионами углерода. В настоящее время мы специализируемся на обработке мощными ионными пучками (МИП) режущего твердосплавного инструмента железнодорожной номенклатуры. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aut animi enim commodi molestiae harum nemo iste beatae, sed blanditiis qui adipisci. Totam quod consectetur sapiente architecto quisquam vero aliquam nesciunt reiciendis. Ad aliquam sit vitae, libero quas assumenda ex qui earum numquam soluta? Accusantium possimus exercitationem soluta in voluptates quod numquam perferendis dolor similique, porro, amet aperiam! Alias minima, porro iure sapiente sed voluptatibus commodi accusamus suscipit ut repellat aliquam accusantium quae eum odio, nam, totam quia dolorem! Quo saepe id error qui architecto nulla sit, repellendus possimus laboriosam unde adipisci aliquid vero accusamus facilis sed! Explicabo, laborum temporibus.
    .review__button.btn.btn--red Отзыв полностью
  .review
    .review__top 
      .review__top__col
        .review__name ООО «НПП «Линэртон»
        .review__adress г. Нижний Новгород, Нижегородская область, ул. Ларина, д. 7
      .review__top__col
        .review__rating
          .review__total 5.0
          .review__stars
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
            .review__star
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
              <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
              </svg>
        .review__load
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M4 1.33325H19.219L28 10.1143V30.6666H4V1.33325ZM6.66667 3.99992V27.9999H25.3333V11.9999H17.3333V3.99992H6.66667ZM20 5.88554L23.4477 9.33325H20V5.88554Z" fill="#1B1F22"/>
          <circle cx="12" cy="18" r="1" fill="#1B1F22"/>
          <circle cx="16" cy="18" r="1" fill="#1B1F22"/>
          <circle cx="20" cy="18" r="1" fill="#1B1F22"/>
          </svg>
    .review__text.text__15.active НПП «Линэтрон-Нижний Новгород» занимается разработкой и внедрением упрочняющих технологий на основе пучково-импульсного облучения ионами углерода. В настоящее время мы специализируемся на обработке мощными ионными пучками (МИП) режущего твердосплавного инструмента железнодорожной номенклатуры. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aut animi enim commodi molestiae harum nemo iste beatae, sed blanditiis qui adipisci. Totam quod consectetur sapiente architecto quisquam vero aliquam nesciunt reiciendis. Ad aliquam sit vitae, libero quas assumenda ex qui earum numquam soluta? Accusantium possimus exercitationem soluta in voluptates quod numquam perferendis dolor similique, porro, amet aperiam! Alias minima, porro iure sapiente sed voluptatibus commodi accusamus suscipit ut repellat aliquam accusantium quae eum odio, nam, totam quia dolorem! Quo saepe id error qui architecto nulla sit, repellendus possimus laboriosam unde adipisci aliquid vero accusamus facilis sed! Explicabo, laborum temporibus.
    .review__button.btn.btn--red Отзыв полностью