.text-block 
  h3 Метеорологические характеристики
  <table>
    <tr>
      <th>Шкала твердости</th>
      <th>Диапазон измерений</th>
      <th>Пределы допускаемой абсолютной погрешности твердомера</th>
    </tr>
    <tr>
      <td>Шкала "С" Роквелла</td>
      <td>(20-70) HRC</td>
      <td>±2 HRC</td>
    </tr>
    <tr>
      <td>Шкала Бринелля</td>
      <td>(20-70) HRC</td>
      <td>±2 HRC</td>
    </tr>
    <tr>
      <td>Шкала Виккерса</td>
      <td>(20-70) HRC</td>
      <td>+2 HRC</td>
    </tr>
    <tr>
      <td>Шкала Шора</td>
      <td>(20-70) HRC</td>
      <td>+2 HRC</td>
    </tr>
  </table>
  h3 Технические характеристики
  <table class="tabel__two">
    <tr>
      <th>Принцип измерений</th>
      <th colspan="6">UCI-метод (принцип ультразвукового контактного импеданса)</th>
    </tr>
    <tr>
      <td>Типы датчиков</td>
      <td>y10</td>
      <td>y15</td>
      <td>y50</td>
      <td>y50</td>
      <td>y50</td>
      <td>y50</td>
    </tr>
    <tr>
      <td>Измерительное усиление датчика, H</td>
      <td>9,8</td>
      <td>14,7</td>
      <td>49,0</td>
      <td>98,0</td>
      <td>14,7</td>
      <td>49,0</td>
    </tr>
    <tr>
      <td>Шероховатость поверхности образца</td>
      <td colspan="6">
        !='	&#60;Ra 2,5 (для усилия 10 Н и 14,7 Н) <br>	&#60;Ra 4,5 (для усилия 50 Н) <br> 	&#60;Ra 8,0 (для усилия 100 Н)'
      </td>
    </tr>
    <tr>
      <td>Радиус кривизны поверхности образца</td>
      <td colspan="6">>5 мм</td>
    </tr>
  </table>
