
.product-cart {
	&__filter {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		background: $greyLight;
		border-radius: 35px;
		padding: 40px 35px;
		margin-bottom: 40px;
		@include max(sm) {
			padding: 34px 16px;
			margin-bottom: 22px;
		}
		&__top {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			border-bottom: 1px solid #CBCECF;
			padding-bottom: 25px;
			margin-bottom: 33px;
			@include max(sm) {
				padding-bottom: 0px;
				margin-bottom: 22px;
			}
			.product-cart__filter__cost {
				margin-bottom: 5px;
				@include max(sm) {
					margin-bottom: 22px;
				}
			}
			&--two {
				.product-cart__filter__garantia {
					text-align: right;
					width: 100%;
					margin-bottom: 17px;
				}
				.product-cart__filter__cost {
					margin-bottom: 5px;
					@include max(sm) {
						margin-bottom: 5px;
					}			
				}
				.product-cart__filter__cost--sale {
					color: $greyBlack;
					font-size: 30px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 1.5px;
					text-decoration-line: line-through;

					@include max(md) {
						font-size: 16px;

					}				
					@include max(sm) {
						margin-bottom: 15px;

					}				
				}
			}
		}
		&__btn {
			padding-left: 20px;
			padding-right: 20px;
			white-space: nowrap;
			font-size: 11px;
			font-style: normal;
			font-weight: 550;
			line-height: 135%; /* 14.85px */
			text-transform: uppercase;
		}
		&__bottom {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			&__row {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				margin-bottom: 12px;
				@include max(xl) {
					padding-top: 20px;
					margin-bottom: 20px;
					
				}
				@include max(lg) {
					margin-bottom: 12px;
					padding-top: 0;
				}
				&.border {
					border-bottom: 1px solid #CBCECF;
					padding-bottom: 33px;
					margin-bottom: 33px;
					@include max(sm) {
						padding-bottom: 22px;
						margin-bottom: 22px;
					}

				}
				&__title {
					color: $greyBlack;
					font-size: 12px;
					font-style: normal;
					font-weight: 550;
					line-height: normal;
					text-transform: uppercase;
					margin-right: 20px;	
					position: relative;
					min-width: 112px;	
					@include max(xl) {
						position: absolute;
						left: 0;
						top: 0px
						
					}			
					@include max(lg) {
						position: relative;
						left: auto;
						top: auto;
						
					}			
					@include max(sm) {
						position: absolute;
						left: 0;
						top: 0;
						
					}			
				}

			}
		}
		&__total {
			position: relative;
			display: flex;
			width: 100%;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;

		}
		&__stock {
			color: $red;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 17px ;
			@include max(sm) {
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.7px;
				margin-bottom: 12px; 			
			}
		}
		&__cost {
			margin-bottom: 0;
			line-height: 1;

		}
		&__garantia {
			color: $mainDark;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 115%; /* 16.1px */
			letter-spacing: 0.42px;	
			white-space: nowrap;
		}
		&__counter {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 44px;
			background: $greyLight;
			color: $mainDark;
			font-size: 18px;
			font-style: normal;
			font-weight: 550;
			line-height: 135%; /* 24.3px */
			letter-spacing: 0.54px;
			border-radius: 5px;
			min-width: 107px;
			padding-left: 20px;
			padding-right: 20px;
			margin-right: 18px;
			border: 1px solid $greyBlack;
			&__text {
				position: absolute;
				display: inline-block;
				white-space: nowrap;
				left: 0;
				bottom: -33px;
			}
			&__count {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				margin-left: 12px;
				margin-right: 12px;
				@include max(xs) {
					margin-left: 15px;
					margin-right: 15px;
					font-size: 14px;
					font-style: normal;
					font-weight: 550;
					line-height: 135%; /* 18.9px */
					letter-spacing: 0.42px;
				}      
			}
			&__prev {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 18px;
				height: 18px;
				cursor: pointer;
				&:hover {
					svg {
						rect {
							fill: $mainDark;
						}
					}
				}
			}
			&__next {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 18px;
				height: 18px;
				cursor: pointer;
				&:hover {
					svg {
						rect {
							fill: $mainDark;
						}
					}
				}
			}
		}
		&__advice {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			border-bottom: 1px solid #CBCECF;
			flex-flow: column nowrap;
			padding-bottom: 25px;
			margin-bottom: 33px;
			@include max(sm) {
				margin-bottom: 22px;
				padding-bottom: 12px;
			}
			&__title {
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				color: $mainDark;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 135%;
				margin-bottom: 22px;
				svg {
					margin-right: 8px;
				}
			}			
		}
		&__block { 
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: row wrap;
			width: 100%;

			&__wrap {
				position: relative;
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-flow: column nowrap;
				margin-bottom: 22px;
				&:last-child {
					@include max(sm) {
						margin-bottom: 0px;
					}
				}
			}
			&__title {
				color: $mainDark;
				font-size: 16px;
				font-style: normal;
				font-weight: 550;
				line-height: normal;
				margin-bottom: 14px;			
			}
		}
		&__links {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			width: 100%;
			border-bottom: 1px solid #CBCECF;
			margin-bottom: 33px;
			padding-bottom: 33px;
			@include max(sm) {
				padding-bottom: 22px;
				margin-bottom: 22px;
			}
		}
		&__link {
			position: relative;
			display: flex;
			width: 100%;
			cursor: pointer;
			color: $mainFont;
			font-size: 16px;
			font-style: normal;
			font-weight: 550;
			line-height: normal;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 21px;
			text-decoration: none;
			transition: all .3s;
			padding-right: 40px;
			&:hover {
				color: $greyBlack;
				transition: all .3s;
				p {
					transition: all .3s;
					color: $greyBlack;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				transition: all 0.1s;
			}
			&__img {
				position: absolute;
				right: 0;
				top: 0px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}		
		}	

	}

}
