.accessories
  .accessory
    .accessory__picture
      img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")   
    .accessory__text
      .accessory__title   Штатив для датчика ультразвукового
      .accessory__cost__value--actual.mob 79 360 P 
    .accessory__bottom 
      .accessory__cost                        
        .accessory__cost__value--actual.desc 79 360 P     
      .accessory__buttons
        .accessory__cart
          img(src="img/svg/cart-lite.svg", alt="")
  .accessory
    .accessory__picture
      img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")   
    .accessory__text
      .accessory__title   Штатив для датчика ультразвукового
      .accessory__cost__value--actual.mob 79 360 P 
    .accessory__bottom 
      .accessory__cost                        
        .accessory__cost__value--actual.desc 79 360 P     
      .accessory__buttons
        .accessory__cart
          img(src="img/svg/cart-lite.svg", alt="")
  .accessory
    .accessory__picture
      img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")   
    .accessory__text
      .accessory__title   Штатив для датчика ультразвукового
      .accessory__cost__value--actual.mob 79 360 P 
    .accessory__bottom 
      .accessory__cost                        
        .accessory__cost__value--actual.desc 79 360 P     
      .accessory__buttons
        .accessory__cart
          img(src="img/svg/cart-lite.svg", alt="")
  .accessory
    .accessory__picture
      img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")   
    .accessory__text
      .accessory__title   Штатив для датчика ультразвукового
      .accessory__cost__value--actual.mob 79 360 P 
    .accessory__bottom 
      .accessory__cost                        
        .accessory__cost__value--actual.desc 79 360 P     
      .accessory__buttons
        .accessory__cart
          img(src="img/svg/cart-lite.svg", alt="")
  .accessory
    .accessory__picture
      img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")   
    .accessory__text
      .accessory__title   Штатив для датчика ультразвукового
      .accessory__cost__value--actual.mob 79 360 P 
    .accessory__bottom 
      .accessory__cost                        
        .accessory__cost__value--actual.desc 79 360 P     
      .accessory__buttons
        .accessory__cart
          img(src="img/svg/cart-lite.svg", alt="")
  .accessory
    .accessory__picture
      img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")   
    .accessory__text
      .accessory__title   Штатив для датчика ультразвукового
      .accessory__cost__value--actual.mob 79 360 P 
    .accessory__bottom 
      .accessory__cost                        
        .accessory__cost__value--actual.desc 79 360 P     
      .accessory__buttons
        .accessory__cart
          img(src="img/svg/cart-lite.svg", alt="")
  .accessory
    .accessory__picture
      img(src="img/index/hardness-gallery__slide--1.png", srcset="img/index/hardness-gallery__slide--1--2x.png 2x" alt="")   
    .accessory__text
      .accessory__title   Штатив для датчика ультразвукового
      .accessory__cost__value--actual.mob 79 360 P 
    .accessory__bottom 
      .accessory__cost                        
        .accessory__cost__value--actual.desc 79 360 P     
      .accessory__buttons
        .accessory__cart
          img(src="img/svg/cart-lite.svg", alt="")