extends ../layouts/default

block variables
	- const title = "New Page";

block content
	.section.section__white.products__section
		.container
			include ../../blocks/components/hardness-tester/hardness-tester

