extends ../layouts/default

block variables
	- const title = "Contacts";

block content
	.section.section__white.section--breadcrumbs.contacts__section.contacts__section--cards.section-nopaddingbottom
		.section__breadcrumbs
			.container 
				.breadcrumbs
					a.breadcrumbs__item 
						| Главная
					a.breadcrumbs__item.breadcrumbs__item__active
						| Контакты
		.contacts
			.container
				.contacts__title.title__40 Контакты 
				.contacts__hero.hero-contacts
					.hero-contacts__info 
						.hero-contacts__item 
							.hero-contacts__item-icon 
								<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
								<ellipse cx="30" cy="30" rx="30" ry="30" fill="#F5F5F5"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M28.9318 29.8996C28.7268 30.1045 28.5074 30.2861 28.2767 30.4443C28.608 30.88 28.9617 31.2849 29.3384 31.6616C29.7151 32.0383 30.12 32.392 30.5557 32.7233C30.7139 32.4926 30.8955 32.2732 31.1004 32.0682C32.897 30.2717 35.8098 30.2717 37.6064 32.0682C38.6703 33.1322 39.1534 34.5965 38.9572 35.9797C38.9407 35.9768 38.9736 35.9826 38.9572 35.9797L38.4242 39C33.6355 38.1549 29.9097 36.5702 27.1697 33.8303C24.4298 31.0903 22.8451 27.3645 22 22.5758L25.0203 22.0428C25.0173 22.0264 25.0232 22.0593 25.0203 22.0428C26.4035 21.8466 27.8678 22.3297 28.9318 23.3936C30.7283 25.1902 30.7283 28.103 28.9318 29.8996ZM25.724 25.1138C26.0071 26.0859 26.3332 26.9742 26.7046 27.7865C26.7245 27.7686 26.744 27.7501 26.7631 27.7309C27.362 27.1321 27.362 26.1612 26.7631 25.5623C26.4752 25.2744 26.1012 25.1249 25.724 25.1138ZM35.8862 35.276C35.8751 34.8988 35.7256 34.5248 35.4377 34.2369C34.8388 33.638 33.8679 33.638 33.2691 34.2369C33.2499 34.256 33.2314 34.2755 33.2135 34.2954C34.0258 34.6668 34.9141 34.9929 35.8862 35.276Z" fill="#1B1F22"/>
								</svg>
							.hero-contacts__item-body.hero-contacts__item-tel 
								a(href="88002227526") 8 (800) 222-75-26
								a(href="88002347323") 8 (800) 234-73-23
						.hero-contacts__item 
							.hero-contacts__item-icon 
								<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
								<ellipse cx="30" cy="30" rx="30" ry="30" fill="#F5F5F5"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M30.1216 21L21 30.1216V40.0034H39.2432V30.1216L30.1216 21ZM30.1216 25.3L36.2027 31.3811V36.9628H32.402V32.7821H27.8412V36.9628H24.0405V31.3811L30.1216 25.3Z" fill="#1B1F22"/>
								</svg>

							.hero-contacts__item-body 
								.hero-contacts__item-title Офис и производство
								span 124498, г. Москва, Зеленоград, 
									<br>
									|4922-й проезд, д. 4с4, Технопарк «ЭЛМА»
						.hero-contacts__item 
							.hero-contacts__item-icon 
								<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
								<ellipse cx="30" cy="30" rx="30" ry="30" fill="#F5F5F5"/>
								<path d="M28.25 26V33.5H34.25V30.5H31.25V26H28.25Z" fill="#1B1F22"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20 30.5C20 24.701 24.701 20 30.5 20C36.299 20 41 24.701 41 30.5C41 36.299 36.299 41 30.5 41C24.701 41 20 36.299 20 30.5ZM23 30.5C23 26.3579 26.3579 23 30.5 23C34.6421 23 38 26.3579 38 30.5C38 34.6421 34.6421 38 30.5 38C26.3579 38 23 34.6421 23 30.5Z" fill="#1B1F22"/>
								</svg>

							.hero-contacts__item-body 
								.hero-contacts__item-title Email
								a(href="mailto:mng@tverdomer.ru") mng@tverdomer.ru
								a(href="mailto:support@tverdomer.ru") support@tverdomer.ru
						.hero-contacts__item 
							.hero-contacts__item-icon 
								<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
								<ellipse cx="30" cy="30" rx="30" ry="30" fill="#F5F5F5"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20 22H39.7635V37.2027H20V22ZM35.604 25.0405H24.1596L29.8818 27.9016L35.604 25.0405ZM23.0405 27.8805V34.1622H36.723V27.8805L29.8818 31.3011L23.0405 27.8805Z" fill="#1B1F22"/>
								</svg>

							.hero-contacts__item-body 
								.hero-contacts__item-title Режим работы
								span понедельник-пятница с 
									b 9:00 
									|до 
									b 18:00 
									|(Мск)
						.hero-contacts__item 
							.hero-contacts__item-icon 
								<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
								<ellipse cx="30" cy="30" rx="30" ry="30" fill="#F5F5F5"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0369 29.2933C26.2384 26.5914 30.3737 24.8102 32.4428 23.9496C38.3505 21.4924 39.5781 21.0655 40.3782 21.0514C40.5542 21.0483 40.9476 21.0919 41.2025 21.2987C41.4177 21.4734 41.4769 21.7093 41.5053 21.8748C41.5336 22.0404 41.5689 22.4176 41.5408 22.7123C41.2207 26.076 39.8355 34.2389 39.1307 38.0064C38.8325 39.6005 38.2454 40.1351 37.6769 40.1874C36.4416 40.301 35.5035 39.371 34.307 38.5866C32.4347 37.3593 31.377 36.5953 29.5596 35.3977C27.4593 34.0136 28.8208 33.2529 30.0178 32.0097C30.331 31.6844 35.774 26.7335 35.8794 26.2844C35.8926 26.2282 35.9048 26.0189 35.7804 25.9083C35.656 25.7978 35.4724 25.8356 35.34 25.8656C35.1522 25.9082 32.1612 27.8852 26.3669 31.7965C25.5179 32.3794 24.7489 32.6635 24.06 32.6486C23.3004 32.6322 21.8393 32.2191 20.7532 31.8661C19.4209 31.433 18.3621 31.2041 18.4543 30.4686C18.5024 30.0855 19.0299 29.6938 20.0369 29.2933Z" fill="#1B1F22"/>
								</svg>

							.hero-contacts__item-body 
								.hero-contacts__item-title Telegram
								a(href="") tverdomery_met
						.hero-contacts__item 
							.hero-contacts__item-icon 
								<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
								<ellipse cx="30" cy="30" rx="30" ry="30" fill="#F5F5F5"/>
								<path d="M38.4878 21.5C36.23 19.25 33.2195 18 30.0418 18C23.4355 18 18.0836 23.3333 18.0836 29.9167C18.0836 32 18.669 34.0833 19.6725 35.8333L18 42L24.3554 40.3333C26.1115 41.25 28.0348 41.75 30.0418 41.75C36.6481 41.75 42 36.4167 42 29.8333C41.9164 26.75 40.7456 23.75 38.4878 21.5ZM35.8118 34.1667C35.561 34.8333 34.3902 35.5 33.8049 35.5833C33.3031 35.6667 32.6341 35.6667 31.9652 35.5C31.547 35.3333 30.9617 35.1667 30.2927 34.8333C27.2822 33.5833 25.3589 30.5833 25.1916 30.3333C25.0244 30.1667 23.9373 28.75 23.9373 27.25C23.9373 25.75 24.6899 25.0833 24.9408 24.75C25.1916 24.4167 25.5261 24.4167 25.777 24.4167C25.9442 24.4167 26.1951 24.4167 26.3624 24.4167C26.5296 24.4167 26.7805 24.3333 27.0314 24.9167C27.2822 25.5 27.8676 27 27.9512 27.0833C28.0348 27.25 28.0348 27.4167 27.9512 27.5833C27.8676 27.75 27.784 27.9167 27.6167 28.0833C27.4495 28.25 27.2822 28.5 27.1986 28.5833C27.0314 28.75 26.8641 28.9167 27.0314 29.1667C27.1986 29.5 27.784 30.4167 28.7038 31.25C29.8746 32.25 30.7944 32.5833 31.1289 32.75C31.4634 32.9167 31.6307 32.8333 31.7979 32.6667C31.9652 32.5 32.5505 31.8333 32.7178 31.5C32.885 31.1667 33.1359 31.25 33.3868 31.3333C33.6376 31.4167 35.1429 32.1667 35.3937 32.3333C35.7282 32.5 35.8955 32.5833 35.9791 32.6667C36.0627 32.9167 36.0627 33.5 35.8118 34.1667Z" fill="#1B1F22"/>
								</svg>

							.hero-contacts__item-body 
								.hero-contacts__item-title Whatsapp
								a(href="") 8 (800) 222-75-26

					.hero-contacts__map-wrapper 
						#hero-contacts__map.hero-contacts__map 
				.contacts__requisites.requisites-contacts
					.requisites-contacts__title Реквизиты
					.requisites-contacts__row 
						.requisites-contacts__left 
							.requisites-contacts__left-item 
								p 
									b Полное наименование:
								p Общество с ограниченной ответственностью «Центр «МЕТ»
							.requisites-contacts__left-item 
								p 
									b Юридический адрес:
								p 109052, Москва, ул. Подъемная, д. 14, стр. 11, помещение № 13
						.requisites-contacts__right
							.requisites-contacts__right-top 
								.requisites-contacts__right-item 
									p 
										b ИНН 
										|7722156602
									p 
										b КПП 
										|772201001
								.requisites-contacts__right-item 
									p 
										b ОГРН 
										|1037739582209
									p 
										b ОКПО 
										|18606393
								.requisites-contacts__right-item 
									p 
										b ОКОГУ 
										|49013
									p 
										b ОКАТО 
										|45290564000
							.requisites-contacts__right-bottom 
								p 
									b Р/с 
									|40702810038150006541 в ПАО «СБЕРБАНК РОССИИ» г. Москва
								p 
									b К/с 
									|30101810400000000225, 
									b БИК 
									|044525225





				.new__contact-info.contact-info 
					.contact-info__row 
						.contact-info__item 
							a.contact-info__column(href="") 
								.contact-info__icon 
									svg(width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' y='0.5' width='43' height='43.0005' rx='21.5' fill='#259CD8')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M16.0499 21.5784C19.7536 19.9647 22.2233 18.9009 23.459 18.3869C26.9873 16.9194 27.7204 16.6645 28.1983 16.6561C28.3034 16.6542 28.5384 16.6803 28.6906 16.8038C28.8191 16.9081 28.8545 17.049 28.8714 17.1479C28.8883 17.2467 28.9094 17.472 28.8926 17.648C28.7014 19.6569 27.8741 24.532 27.4533 26.782C27.2752 27.7341 26.9245 28.0533 26.585 28.0846C25.8472 28.1525 25.287 27.597 24.5724 27.1286C23.4542 26.3956 22.8225 25.9393 21.7371 25.2241C20.4828 24.3975 21.2959 23.9431 22.0108 23.2007C22.1978 23.0064 25.4486 20.0496 25.5115 19.7814C25.5193 19.7478 25.5266 19.6228 25.4524 19.5568C25.3781 19.4907 25.2684 19.5133 25.1893 19.5313C25.0772 19.5567 23.2908 20.7374 19.8304 23.0733C19.3233 23.4215 18.8641 23.5911 18.4526 23.5822C17.999 23.5724 17.1264 23.3257 16.4777 23.1149C15.6821 22.8563 15.0497 22.7195 15.1048 22.2803C15.1335 22.0515 15.4485 21.8175 16.0499 21.5784Z' fill='#F5F5F5')
								.contact-info__body
									.contact-info__social-name telegram
									.contact-info__social-link tverdomery_met
						.contact-info__item 
							a.contact-info__column(href="") 
								.contact-info__icon 
									svg(width='44' height='43' viewBox='0 0 44 43' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' width='43' height='43' rx='21.5' fill='#FF3E41')
										path(d='M25.7328 15.1545H18.2676C16.028 15.1545 14.5349 16.2743 14.5349 18.8872V24.1129C14.5349 26.7257 16.028 27.8455 18.2676 27.8455H25.7328C27.9724 27.8455 29.4655 26.7257 29.4655 24.1129V18.8872C29.4655 16.2743 27.9724 15.1545 25.7328 15.1545ZM26.0837 19.7009L23.7471 21.5672C23.2544 21.9629 22.6273 22.157 22.0002 22.157C21.3731 22.157 20.7386 21.9629 20.2533 21.5672L17.9167 19.7009C17.6778 19.5068 17.6405 19.1485 17.8271 18.9096C18.0212 18.6707 18.3721 18.6259 18.611 18.82L20.9476 20.6863C21.5149 21.1417 22.478 21.1417 23.0453 20.6863L25.382 18.82C25.6209 18.6259 25.9792 18.6632 26.1658 18.9096C26.3599 19.1485 26.3226 19.5068 26.0837 19.7009Z' fill='#F5F5F5')
								.contact-info__body
									.contact-info__social-name email
									.contact-info__social-link mng@tverdomer.ru
						.contact-info__item 
							a.contact-info__column(href="") 
								.contact-info__icon 
									svg(width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg')
										rect(x='0.5' y='0.5' width='43' height='43.0005' rx='21.5' fill='#25CB63')
										path(d='M13.9377 30.0629L15.0774 25.9243C14.3728 24.7096 14.0032 23.3339 14.007 21.9275C14.007 17.5207 17.6109 13.9377 22.0349 13.9377C24.1833 13.9377 26.2009 14.7693 27.7141 16.2791C29.2311 17.7889 30.0666 19.7969 30.0627 21.9314C30.0627 26.3382 26.4589 29.9211 22.031 29.9211H22.0272C20.6834 29.9211 19.3628 29.5839 18.1885 28.9478L13.9377 30.0629ZM18.3925 27.5031L18.6351 27.6487C19.6593 28.2542 20.8336 28.5723 22.031 28.5761H22.0349C25.7119 28.5761 28.7074 25.5986 28.7074 21.9352C28.7074 20.161 28.0144 18.494 26.7553 17.2371C25.4963 15.9802 23.8176 15.2905 22.0349 15.2905C18.3579 15.2866 15.3623 18.2641 15.3623 21.9275C15.3623 23.1806 15.7127 24.403 16.3827 25.4607L16.5405 25.7136L15.8667 28.1622L18.3925 27.5031Z' fill='#F5F5F5')
										path(d='M13.9377 30.0629L15.0774 25.9243C14.3728 24.7096 14.0032 23.3339 14.007 21.9275C14.007 17.5207 17.6109 13.9377 22.0349 13.9377C24.1833 13.9377 26.2009 14.7693 27.7141 16.2791C29.2311 17.7889 30.0666 19.7969 30.0627 21.9314C30.0627 26.3382 26.4589 29.9211 22.031 29.9211H22.0272C20.6834 29.9211 19.3628 29.5839 18.1885 28.9478L13.9377 30.0629ZM18.3925 27.5031L18.6351 27.6487C19.6593 28.2542 20.8336 28.5723 22.031 28.5761H22.0349C25.7119 28.5761 28.7074 25.5986 28.7074 21.9352C28.7074 20.161 28.0144 18.494 26.7553 17.2371C25.4963 15.9802 23.8176 15.2905 22.0349 15.2905C18.3579 15.2866 15.3623 18.2641 15.3623 21.9275C15.3623 23.1806 15.7127 24.403 16.3827 25.4607L16.5405 25.7136L15.8667 28.1622L18.3925 27.5031Z' fill='#F5F5F5')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M20.029 18.5858C19.8788 18.2524 19.7209 18.2447 19.5785 18.2409C19.463 18.2371 19.3282 18.2371 19.1935 18.2371C19.0587 18.2371 18.8431 18.2869 18.6583 18.4861C18.4735 18.6854 17.9575 19.1682 17.9575 20.1531C17.9575 21.1341 18.6775 22.0844 18.7776 22.2185C18.8777 22.3527 20.1676 24.4335 22.2044 25.2343C23.8985 25.9011 24.245 25.767 24.6108 25.7325C24.9766 25.698 25.7967 25.2497 25.9661 24.7822C26.1317 24.3147 26.1317 23.9161 26.0816 23.8318C26.0316 23.7475 25.8968 23.6977 25.6966 23.5981C25.4964 23.4984 24.5107 23.0156 24.3259 22.9466C24.1411 22.8815 24.0063 22.847 23.8754 23.0463C23.7406 23.2455 23.3556 23.6939 23.2401 23.828C23.1246 23.9621 23.0052 23.9774 22.805 23.8778C22.6048 23.7782 21.958 23.5674 21.1918 22.8853C20.595 22.3565 20.1907 21.7012 20.0752 21.5019C19.9597 21.3027 20.0636 21.1954 20.1637 21.0958C20.2523 21.0076 20.3639 20.862 20.4641 20.747C20.5642 20.6321 20.5988 20.5478 20.6643 20.4137C20.7297 20.2795 20.6989 20.1646 20.6489 20.0649C20.5988 19.9691 20.2061 18.9805 20.029 18.5858Z' fill='#F5F5F5')
								.contact-info__body
									.contact-info__social-name whatsapp
									.contact-info__social-link 8 (800) 222-75-26

			.new__feedback.feedback
				.container
					.feedback__title Получить консультацию
					form.feedback__form(action="") 
						.feedback__item 
							input.feedback__input.feedback__field(type="text" placeholder="Имя")
						.feedback__item 
							input.feedback__input.feedback__field(type="text" placeholder="Телефон")
						.feedback__item 
							input.feedback__input.feedback__field(type="text" placeholder="Организация")
						.feedback__item 
							input.feedback__input.feedback__field(type="text" placeholder="Электронный адрес")
						.feedback__item.feedback__item--fullwidth 
							textarea.feedback__textarea.feedback__field(placeholder='Задать вопрос' style="resize: none")
						.feedback__bottom
							.feedback__bottom-text Отправляя форму я принимаю условия политики конфиденциальности и даю согласие на обработку моих персональных данных
							.feedback__bottom-submit
								input.feedback__bottom-submit-btn(type="submit" placeholder="Отправить")





	script(src='https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU' type='text/javascript')