extends ../layouts/default

block variables
	- const title = "Order Page";

block content
	.section.section__white.section--breadcrumbs
		include ../../blocks/modules/breadcrumbs/breadcrumbs
		.container
			.history__section
				.history__title.title__40 История заказов
				.history 
					.history__col.accordions
						.history__list.accordion
							.history__list__top.accordion__intro
								.accordion__intro__col
									.history__list__title  Заказ № 22888922
									.history__list__subtitle.history__list__subtitle--gray  от 28.04 2024
								.accordion__intro__col
									.history__list__status В работе
								.accordion__intro__col
									.history__list__title  2 товара, на сумму
									.history__list__subtitle  2 000 000 ₽
								.accordion__intro__col
									.history__list__title  Оплачено
									.history__list__subtitle  1 000 000 ₽ (50%)
								.accordion__intro__col
									.btn.btn--black.history__list__btn__repeat повторить заказ
								.accordion__intro__col
									.accordion__intro__img
										<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path d="M19.3926 1.44409L10.24 10.7122L0.97189 1.55967" stroke="#1B1F22" stroke-width="1.97368"/>
										</svg>								

							.accordion__content
								.history__item
									.history__item__row.history__item__row__top
										.history__item__picture
										.history__item__desc
											.history__item__desc__col Наименование
											.history__item__desc__col Цена с НДС
											.history__item__desc__col Доставка
											.history__item__desc__col Кол-во
											.history__item__desc__col Сумма с НДС
									.history__item__row
										.history__item__picture
											img(src="img/index/hardness-gallery__slide--1.png", alt="")
										.history__item__desc
											.history__item__desc__col
												.history__item__name Ультразвуковой твердомер МЕТ-У1
											.history__item__desc__col
												.history__item__cost 48 000 ₽
											.history__item__desc__col
												.history__item__cost 3 дня
											.history__item__desc__col
												.history__item__num 1 шт
											.history__item__desc__col
												.history__item__sum 98 000 ₽
									.history__item__row
										.history__item__picture
											img(src="img/index/hardness-gallery__slide--1.png", alt="")
										.history__item__desc
											.history__item__desc__col
												.history__item__name Ультразвуковой твердомер МЕТ-У1
											.history__item__desc__col
												.history__item__cost 48 000 ₽
											.history__item__desc__col
												.history__item__cost 3 дня
											.history__item__desc__col
												.history__item__num 1 шт
											.history__item__desc__col
												.history__item__sum 98 000 ₽
								.history__item__bottom
									.history__item__bottom__col
										.history__item__buttons
											.history__item__buttons__row.history__item__buttons__row__duoble
												.btn.btn--black получить КП
												.btn.btn--black получить счет
											.history__item__buttons__row
												.btn.btn--gray получить упд
											.history__item__buttons__row
												.btn.btn--gray получить счет-фактуру на аванс
									.history__item__bottom__col
										.history__item__tabel
											.history__item__tabel__row
												.history__item__tabel__title Стоимость доставки
												.history__item__tabel__value 300 ₽
											.history__item__tabel__row
												.history__item__tabel__title Скидка по промокоду
												.history__item__tabel__value 5 800 ₽
											.history__item__tabel__row
												.history__item__tabel__title Дополнительная скидка
												.history__item__tabel__value 5 800 ₽
											.history__item__tabel__row.total
												.history__item__tabel__title Итого с НДС:
												.history__item__tabel__value 91 000 ₽
						.history__list.accordion
							.history__list__top.accordion__intro
								.accordion__intro__col
									.history__list__title  Заказ № 22888922
									.history__list__subtitle.history__list__subtitle--gray  от 28.04 2024
								.accordion__intro__col
									.history__list__status В работе
								.accordion__intro__col
									.history__list__title  2 товара, на сумму
									.history__list__subtitle  2 000 000 ₽
								.accordion__intro__col
									.history__list__title  Оплачено
									.history__list__subtitle  1 000 000 ₽ (50%)
								.accordion__intro__col
									.btn.btn--black.history__list__btn__repeat повторить заказ
								.accordion__intro__col
									.accordion__intro__img
										<svg xmlns="http://www.w3.org/2000/svg" width="21" height="13" viewBox="0 0 21 13" fill="none">
										<path d="M19.3926 1.44409L10.24 10.7122L0.97189 1.55967" stroke="#1B1F22" stroke-width="1.97368"/>
										</svg>								

							.accordion__content
								.history__item
									.history__item__row.history__item__row__top
										.history__item__picture
										.history__item__desc
											.history__item__desc__col Наименование
											.history__item__desc__col Цена с НДС
											.history__item__desc__col Доставка
											.history__item__desc__col Кол-во
											.history__item__desc__col Сумма с НДС
									.history__item__row
										.history__item__picture
											img(src="img/index/hardness-gallery__slide--1.png", alt="")
										.history__item__desc
											.history__item__desc__col
												.history__item__name Ультразвуковой твердомер МЕТ-У1
											.history__item__desc__col
												.history__item__cost 48 000 ₽
											.history__item__desc__col
												.history__item__cost 3 дня
											.history__item__desc__col
												.history__item__num 1 шт
											.history__item__desc__col
												.history__item__sum 98 000 ₽
									.history__item__row
										.history__item__picture
											img(src="img/index/hardness-gallery__slide--1.png", alt="")
										.history__item__desc
											.history__item__desc__col
												.history__item__name Ультразвуковой твердомер МЕТ-У1
											.history__item__desc__col
												.history__item__cost 48 000 ₽
											.history__item__desc__col
												.history__item__cost 3 дня
											.history__item__desc__col
												.history__item__num 1 шт
											.history__item__desc__col
												.history__item__sum 98 000 ₽
								.history__item__bottom
									.history__item__bottom__col
										.history__item__buttons
											.history__item__buttons__row.history__item__buttons__row__duoble
												.btn.btn--black получить КП
												.btn.btn--black получить счет
											.history__item__buttons__row
												.btn.btn--gray получить упд
											.history__item__buttons__row
												.btn.btn--gray получить счет-фактуру на аванс
									.history__item__bottom__col
										.history__item__tabel
											.history__item__tabel__row
												.history__item__tabel__title Стоимость доставки
												.history__item__tabel__value 300 ₽
											.history__item__tabel__row
												.history__item__tabel__title Скидка по промокоду
												.history__item__tabel__value 5 800 ₽
											.history__item__tabel__row
												.history__item__tabel__title Дополнительная скидка
												.history__item__tabel__value 5 800 ₽
											.history__item__tabel__row.total
												.history__item__tabel__title Итого с НДС:
												.history__item__tabel__value 91 000 ₽

					.history__col
						include ../../blocks/components/company-card/company-card


