extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Project title"

block content
	.main__header.main__header__two(id="index1")
		.container
			.main__header__title
				!="Портативные твердомеры"
			include ../../blocks/components/portable/portable
			.main__header__registry.animate__animated
				img(src="img/svg/reestr.svg" alt="")
			.button__circle.animate__animated(href="https://youtu.be/ebClY2tcCL4?si=39oJ3fYYG1frMhJ6" data-fancybox="video"  data-caption="Большое нзвание для фото 1")
				.button__circle-inner
					img.button__circle-outside(src="img/index/button__circle-outside.png" alt="")
					img.button__circle-inside(src="img/index/button__circle-inside.png" alt="logo")
	.scroll-down__wrap
		.scroll-down.scroll-down--white
			//- .scroll-down__icon
				//- span
			<svg xmlns="http://www.w3.org/2000/svg" width="23" height="13" viewBox="0 0 23 13" fill="none">
				<g clip-path="url(#clip0_3696_1122)">
				<rect x="20.7197" width="3" height="16.0038" rx="1.5" transform="rotate(45 20.7197 0)" fill="#7F8589"/>
				<rect y="2.13611" width="3" height="16.0047" rx="1.5" transform="rotate(-45 0 2.13611)" fill="#7F8589"/>
				</g>
				<defs>
				<clipPath id="clip0_3696_1122">
				<rect width="23" height="13" fill="white"/>
				</clipPath>
				</defs>
			</svg>
			.scroll-down__text Вниз
	include ../../blocks/modules/soc/soc
	.main__pagination.animate__animated
		.main__pagination__wrap
			a(href="#index1").main__pagination__item.active
				!="01"
			a(href="#index2").main__pagination__item
				!="02"
			a(href="#index3").main__pagination__item
				!="03"
			a(href="#index4").main__pagination__item
				!="04"
			a(href="#index5").main__pagination__item
				!="05"
			a(href="#index6").main__pagination__item
				!="06"
			a(href="#index7").main__pagination__item
				!="07"
			a(href="#index8").main__pagination__item
				!="08"

	.section.section__black.section__border-b.sonic-sensor__section(id="index2")
		.container
			include ../../blocks/components/sonic-sensor/sonic-sensor

	.section.section__black.section__border-b.dynamic-sensor__section(id="index3")
		.container
			include ../../blocks/components/dynamic-sensor/dynamic-sensor
	.section.section__black.section__border-b.electronic-unit__section(id="index4")
		.container
			include ../../blocks/components/electronic-unit/electronic-unit
	.section.section__black.section__border-b.calibrate__section(id="index5")
		.container
			include ../../blocks/components/calibrate/calibrate
	.section.section__black.section__border-b.equipment__section(id="index6")
		.container
			include ../../blocks/components/equipment-two/equipment-two
	.section.section__black.section__border-b.comparison__section(id="index7")
		.container
			include ../../blocks/components/comparison/comparison
	.section.section__black(id="index8")
		.container
			include ../../blocks/components/contacts-duoble/contacts-duoble
	//- .section.section__white.infocenter__section.section--pr-none(id="index8")
	//- 	.container
	//- 		.title__40 Наша продукция
	//- 		include ../../blocks/components/hardness-tester/hardness-tester

