extends ../layouts/default

block variables
	- const title = "Offices";

block content
	.section.section__white.section--breadcrumbs.offices__section
		include ../../blocks/modules/breadcrumbs/breadcrumbs
		.offices
			.container
				.offices__top
					.offices__title.title__40 Дилерская сеть
					.offices__top__right 
						.periodSelect
							<select class="js-example-responsive periodSelect__date__value__month date-month">
								<option  value="" selected>Выбрать город</option>  
								<option  value="" >Москва</option>  
								<option value="" >Санкт-Петербург </option>  
								<option value="" >Екатеринбург</option>  
								<option value="" >Казань</option>  
								<option value="" >Нижний Новгород</option>  
								<option value="" >Челябинск</option>  
								<option value="" >Красноярск</option>  
								<option value="" >Уфа</option>  
								<option value="" >Самара</option>  
								<option value="" >Пермь</option> 
							</select>
						.btn.btn--border.btn__city посмотреть списком
				.offices__pointers
					.offices__pointer
						.offices__pointer__icon
							<svg width="56" height="47" viewBox="0 0 56 47" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 10C0 4.47715 4.47715 1.96377e-06 10 1.75327e-06L46 3.81145e-07C51.5229 1.70645e-07 56 4.47715 56 10V25.8095C56 31.3324 51.5228 35.8095 46 35.8095H37.194C36.5557 35.8095 35.9558 36.1141 35.5792 36.6294L29.6567 44.7332C28.8456 45.8429 27.1828 45.8227 26.399 44.6935L20.8288 36.6691C20.4551 36.1307 19.8412 35.8095 19.1858 35.8095H9.99999C4.47715 35.8095 0 31.3324 0 25.8095V10Z" fill="#FF3E41"/>
							<g clip-path="url(#clip0_776_725)">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M8 26.2355H11.9962V16.9065C13.8568 20.1223 15.6728 23.2607 17.526 26.4634C19.3682 23.2905 21.2214 20.0891 23.0645 16.9046V26.2355H26.1021H27.0607H37.8938L36.0374 23.1198H27.0607V19.6501H34.1328L32.2765 16.5344H27.0608V13.1477H30.4306L28.5743 10.032C26.738 10.032 24.927 10.0002 23.0646 10.0002L17.5305 19.846L11.9963 10.0002H8.00011V26.2355L8 26.2355ZM48.3698 10.032C41.9655 10.032 35.685 10.032 29.2795 10.032L31.1359 13.1477H35.6895H36.9103V23.1198L38.9053 26.4634L40.9064 23.1198V13.1477H41.9598H46.5134L48.3697 10.032H48.3698Z" fill="white"/>
							</g>
							<defs>
							<clipPath id="clip0_776_725">
							<rect width="40.3698" height="16.4633" fill="white" transform="translate(8 10)"/>
							</clipPath>
							</defs>
							</svg>
						.offices__pointer__text Нет демонстрационных приборов
					.offices__pointer.black
						.offices__pointer__icon
							<svg width="56" height="47" viewBox="0 0 56 47" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path class="path__black" d="M0 10C0 4.47715 4.47715 1.96377e-06 10 1.75327e-06L46 3.81145e-07C51.5229 1.70645e-07 56 4.47715 56 10V25.8095C56 31.3324 51.5228 35.8095 46 35.8095H37.194C36.5557 35.8095 35.9558 36.1141 35.5792 36.6294L29.6567 44.7332C28.8456 45.8429 27.1828 45.8227 26.399 44.6935L20.8288 36.6691C20.4551 36.1307 19.8412 35.8095 19.1858 35.8095H9.99999C4.47715 35.8095 0 31.3324 0 25.8095V10Z" fill="#FF3E41"/>
							<g clip-path="url(#clip0_776_725)">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M8 26.2355H11.9962V16.9065C13.8568 20.1223 15.6728 23.2607 17.526 26.4634C19.3682 23.2905 21.2214 20.0891 23.0645 16.9046V26.2355H26.1021H27.0607H37.8938L36.0374 23.1198H27.0607V19.6501H34.1328L32.2765 16.5344H27.0608V13.1477H30.4306L28.5743 10.032C26.738 10.032 24.927 10.0002 23.0646 10.0002L17.5305 19.846L11.9963 10.0002H8.00011V26.2355L8 26.2355ZM48.3698 10.032C41.9655 10.032 35.685 10.032 29.2795 10.032L31.1359 13.1477H35.6895H36.9103V23.1198L38.9053 26.4634L40.9064 23.1198V13.1477H41.9598H46.5134L48.3697 10.032H48.3698Z" fill="white"/>
							</g>
							<defs>
							<clipPath id="clip0_776_725">
							<rect width="40.3698" height="16.4633" fill="white" transform="translate(8 10)"/>
							</clipPath>
							</defs>
							</svg>
						.offices__pointer__text Есть демонстрационные приборы
			.offices__map__section
				.container 
					.offices__map
						img(src="img/index/map.png", alt="")
					.offices__cities.noActive.animate__animated.animate__fadeOutRight
						.offices__cities__list
							.offices__cities__list__col
								.offices__city
									.offices__city__title Москва
									.offices__city__office.red
										.offices__city__office__company ООО «ЛКС»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+4952252595").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЛКС»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+4952252595").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЛКС»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+4952252595").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ГЕО-НДТ»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+4952252595").offices__city__office__fone  (495) 225-25-95
								.offices__city
									.offices__city__title Нижний Новгород
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
										a(href="").offices__city__office__site  geo-ndt.ru
								.offices__city
									.offices__city__title Уфа
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК-Казань»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
							.offices__cities__list__col
								.offices__city
									.offices__city__title Санкт-Петербург
									.offices__city__office.red
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
										a(href="").offices__city__office__site  geo-ndt.ru							
								.offices__city
									.offices__city__title Казань
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК-Казань»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
								.offices__city
									.offices__city__title Челябинск
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК-Казань»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
								.offices__city
									.offices__city__title Самара
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК-Казань»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
							.offices__cities__list__col
								.offices__city
									.offices__city__title Санкт-Петербург
									.offices__city__office.red
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
										a(href="").offices__city__office__site  geo-ndt.ru							
								.offices__city
									.offices__city__title Казань
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК-Казань»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
								.offices__city
									.offices__city__title Челябинск
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК-Казань»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
								.offices__city
									.offices__city__title Самара
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
									.offices__city__office
										.offices__city__office__company ООО «ЕЦНК-Казань»
										.offices__city__office__adress УЛ. Грайвороновская, д 89а, стр. 1
										a(href="tel:+(812)6404013").offices__city__office__fone  (495) 225-25-95
