extends ../layouts/default

block variables
	- const title = "Order Page";

block content
	.section.section__white.section--breadcrumbs
		include ../../blocks/modules/breadcrumbs/breadcrumbs
		.container
			.order__section
				.order__title.title__40 Оформление заказа №423432
				.order 
					.order__col
						.order__list
							.order__list__top
								.order__list__title.text__18  Товары в корзине
								.order__list__buttons
									.order__list__clear.text__16 Очистить
							.order__item
								.order__item__picture
									img(src="img/index/hardness-gallery__slide--1.png", alt="")
								.order__item__describe 48 000 ₽
								.order__item__describe 1 шт
								.order__item__describe 98 000 ₽
					.order__col
						.order__order
							.order__order__total
								.order__order__title Итого:
								.order__order__total__wrap
									.order__order__total__cost 150 000 руб
									.order__order__total__text Включая НДС: 0 ₽
							.btn.btn--black Получить КП
							.btn.btn--black получить счет-договор


