extends ../layouts/default

block variables
	- const title = "Order Page";

block content
	.section.section__white.section--breadcrumbs
		include ../../blocks/modules/breadcrumbs/breadcrumbs
		.container
			.order__section
				.order__title.title__40 Оформление заказа №423432
				forn.order 
					.order__col
						.order__list
							.order__list__top
								.order__list__title  1. Товары в заказе
							.order__item
								.order__item__row.order__item__row__top
									.order__item__picture
									.order__item__desc
										.order__item__desc__col Наименование
										.order__item__desc__col Цена с НДС
										.order__item__desc__col Кол-во
										.order__item__desc__col Сумма с НДС
								.order__item__row
									.order__item__picture
										img(src="img/index/hardness-gallery__slide--1.png", alt="")
									.order__item__desc
										.order__item__desc__col
											.order__item__name Ультразвуковой твердомер МЕТ-У1
										.order__item__desc__col
											.order__item__cost 48 000 ₽
										.order__item__desc__col
											.order__item__num 1 шт
										.order__item__desc__col
											.order__item__sum 98 000 ₽
						.order__list
							.order__list__top
								.order__list__title  2. Регион доставки
							.order__item
								.order__item__input.order__item__input__location
									input(type="search", name="")
						.order__list
							.order__list__top
								.order__list__title  3. Способ доставки
							.order__item
						.order__list
							.order__list__top
								.order__list__title  3. Способ доставки
							.order__item
						.order__list
							.order__list__top
								.order__list__title  4. Покупатель
							.order__item
								
					.order__col
						.order__order
							.order__order__total
								.order__order__title Итого:
								.order__order__total__wrap
									.order__order__total__cost 150 000 руб
									.order__order__total__text Включая НДС: 0 ₽
							
							.btn.btn--black Получить КП
							.btn.btn--black получить счет-договор


