extends ../layouts/default

block variables
	- const title = "Registrations";

block content
	.section.section__white.section--breadcrumbs
		include ../../blocks/modules/breadcrumbs/breadcrumbs
		.container
			.registrations-table
				.registrations-table-row.registrations-table-row--head
					.registrations-table-row__col.registrations-table-row__col--inn  ИНН Организации
					.registrations-table-row__col.registrations-table-row__col--btns 
						

				.registrations-table-row
					.registrations-table-row__col.registrations-table-row__col--inn 
						span 123456789123
						.rshow-more.registrations-table__show-more

						.registrations-table__item-more-info
							.registrations-complete__item
								.registrations-complete__item--title ИНН Организации
								.registrations-complete__item--value 4543545345434
							.registrations-complete__item
								.registrations-complete__item--title ФИО ответственного лица
								.registrations-complete__item--value Панов Анатолий Яковлевич
							.registrations-complete__item
								.registrations-complete__item--title Почта ответственного лица
								.registrations-complete__item--value panoff783442@rambler.ru
							.registrations-complete__item
								.registrations-complete__item--title Тепефон ответственного лица
								.registrations-complete__item--value +7 906 892 82 82

					.registrations-table-row__col.registrations-table-row__col--btns 
						a.btn.btn--black.registrations-table__btn(href="")  Подтвердить
						a.btn.btn--black.registrations-table__btn(href="")  Подтвердить и отправить 1с
						a.btn.btn--black.registrations-table__btn(href="")  отклонить
				.registrations-table-row
					.registrations-table-row__col.registrations-table-row__col--inn 
						span 4543545345434
						.rshow-more.registrations-table__show-more

						.registrations-table__item-more-info
							.registrations-complete__item
								.registrations-complete__item--title ИНН Организации
								.registrations-complete__item--value 4543545345434
							.registrations-complete__item
								.registrations-complete__item--title ФИО ответственного лица
								.registrations-complete__item--value Панов Анатолий Яковлевич
							.registrations-complete__item
								.registrations-complete__item--title Почта ответственного лица
								.registrations-complete__item--value panoff783442@rambler.ru
							.registrations-complete__item
								.registrations-complete__item--title Тепефон ответственного лица
								.registrations-complete__item--value +7 906 892 82 82
					.registrations-table-row__col.registrations-table-row__col--btns 
						a.btn.btn--black.registrations-table__btn(href="")  Подтвердить
						a.btn.btn--black.registrations-table__btn(href="")  Подтвердить и отправить 1с
						a.btn.btn--black.registrations-table__btn(href="")  отклонить
				.registrations-table-row
					.registrations-table-row__col.registrations-table-row__col--inn 
						span 4543545345434
						.rshow-more.registrations-table__show-more

						.registrations-table__item-more-info
							.registrations-complete__item
								.registrations-complete__item--title ИНН Организации
								.registrations-complete__item--value 4543545345434
							.registrations-complete__item
								.registrations-complete__item--title ФИО ответственного лица
								.registrations-complete__item--value Панов Анатолий Яковлевич
							.registrations-complete__item
								.registrations-complete__item--title Почта ответственного лица
								.registrations-complete__item--value panoff783442@rambler.ru
							.registrations-complete__item
								.registrations-complete__item--title Тепефон ответственного лица
								.registrations-complete__item--value +7 906 892 82 82
					.registrations-table-row__col.registrations-table-row__col--btns 
						a.btn.btn--black.registrations-table__btn(href="")  Подтвердить
						a.btn.btn--black.registrations-table__btn(href="")  Подтвердить и отправить 1с
						a.btn.btn--black.registrations-table__btn(href="")  отклонить

