extends ../layouts/default

block variables
	- const title = "Registrations";

block content
	.section.section__white
		.container
			form.registrations
				.registrations__title.title__32 Регистрация
				.registrations__input-block 
					input.registrations__field.text__18(type="text" placeholder="Имя")
				.registrations__input-block 
					input.registrations__field.text__18(type="text" placeholder="ФИО ответственного лица")
				.registrations__input-block 
					input.registrations__field.text__18(type="text" placeholder="Почта ответственного лица")
				.registrations__input-block 
					input.registrations__field.text__18(type="text" placeholder="Телефон ответственного лица")
				.registrations__input-block 
					input.registrations__field.registrations__field--pass.text__18(type="text" placeholder="Пароль")
					.registrations__field--icon
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16" fill="none">
						<path d="M11.9997 11.6667C9.97463 11.6667 8.33301 10.0251 8.33301 8.00002C8.33301 5.97498 9.97463 4.33335 11.9997 4.33335C14.0247 4.33335 15.6663 5.97498 15.6663 8.00002C15.6663 10.0251 14.0247 11.6667 11.9997 11.6667Z" fill="#1B1F22"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M23.9163 8.00002C22.083 11.6667 17.4997 15.3334 11.9997 15.3334C6.49967 15.3334 1.91634 11.6667 0.0830078 8.00002C1.91634 4.33335 6.49967 0.666687 11.9997 0.666687C17.4997 0.666687 22.083 4.33335 23.9163 8.00002ZM11.9997 11.6667C15.0897 11.6667 17.8666 9.98789 19.5418 8.00002C17.8666 6.01216 15.0897 4.33335 11.9997 4.33335C8.90962 4.33335 6.13278 6.01216 4.45756 8.00002C6.13278 9.98789 8.90962 11.6667 11.9997 11.6667Z" fill="#1B1F22"/>
						</svg>
				.registrations__input-block 
					input.registrations__field.registrations__field--pass.text__18(type="text" placeholder="Подтверждение пароля")
					.registrations__field--icon
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3.03607 15.7776L0.241651 18.572L2.83438 21.1647L21.1677 2.83137L18.575 0.238647L13.9886 4.82507C13.3418 4.72049 12.6777 4.66476 11.9997 4.66476C6.49967 4.66476 1.91634 8.33143 0.0830078 11.9981C0.741195 13.3145 1.75383 14.6308 3.03607 15.7776ZM5.63273 13.1809C7.19445 11.6192 8.75602 10.0576 10.3177 8.49594C7.91747 8.9648 5.82207 10.3789 4.45756 11.9981C4.8044 12.4097 5.19845 12.808 5.63273 13.1809Z" fill="#1B1F22"/>
						<path d="M10.0108 19.1711C10.6575 19.2757 11.3216 19.3314 11.9997 19.3314C17.4997 19.3314 22.083 15.6648 23.9163 11.9981C23.2582 10.6817 22.2455 9.36534 20.9633 8.21863L18.3666 10.8153C18.8009 11.1882 19.195 11.5865 19.5418 11.9981C18.1773 13.6173 16.0819 15.0314 13.6816 15.5003L10.0108 19.1711Z" fill="#1B1F22"/>
						</svg>
				.btn.btn--black.registrations__btn ЗАРЕГИСТРИРОВАТЬСЯ