.sonic-sensor
  .sonic-sensor__list__title.sonic-sensor__list__title--mob Ультразвуковой датчик
  .sonic-sensor__row
    .sonic-sensor__col
      .sonic-sensor__list__title.sonic-sensor__list__title--desc Ультразвуковой датчик
      .sonic-sensor__list 
        ul 
          li Тонкие детали от 1 мм
          li Отсутсвие ударных элементов – повышенная надёжность
          li Наилучшее соотношение прикладываемой нагрузки к допускаемой шероховатости среди аналогов
    .sonic-sensor__col
      .sonic-sensor__tabel__title Нагрузка под разное  качество поверхности
      .sonic-sensor__tabel
        .sonic-sensor__tabel__row
          .sonic-sensor__tabel__col 
            span *
          .sonic-sensor__tabel__col
          .sonic-sensor__tabel__col 
            span *
            span *
          .sonic-sensor__tabel__col
          .sonic-sensor__tabel__col 
            span *
            span *
            span *
        .sonic-sensor__tabel__row
          .sonic-sensor__tabel__col У10
          .sonic-sensor__tabel__col =
          .sonic-sensor__tabel__col 1 кгс
          .sonic-sensor__tabel__col =
          .sonic-sensor__tabel__col 2,5 Ra
        .sonic-sensor__tabel__row
          .sonic-sensor__tabel__col У15
          .sonic-sensor__tabel__col =
          .sonic-sensor__tabel__col 1,5 кгс
          .sonic-sensor__tabel__col =
          .sonic-sensor__tabel__col 2,5 Ra
        .sonic-sensor__tabel__row
          .sonic-sensor__tabel__col У50
          .sonic-sensor__tabel__col =
          .sonic-sensor__tabel__col 5 кгс
          .sonic-sensor__tabel__col =
          .sonic-sensor__tabel__col 4,5 Ra
        .sonic-sensor__tabel__row
          .sonic-sensor__tabel__col У100
          .sonic-sensor__tabel__col =
          .sonic-sensor__tabel__col 10 кгс
          .sonic-sensor__tabel__col =
          .sonic-sensor__tabel__col 8 Ra
        .sonic-sensor__tabel__desc
          .sonic-sensor__tabel__desc__item
            .sonic-sensor__tabel__desc__star
              span *
            !="Тип датчика"
          .sonic-sensor__tabel__desc__item
            .sonic-sensor__tabel__desc__star
              span *
              span *
            !="Торированная нагрузка"
          .sonic-sensor__tabel__desc__item
            .sonic-sensor__tabel__desc__star
              span *
              span *
              span *
            !="Макс. допустимая шероховатость"
  .sonic-sensor__bg
    picture
      source(media="(max-width: 767px)", srcset="img/index/sonic-sensor__1--mob.png")
      img(src="img/index/sonic-sensor__1.png", srcset="img/index/sonic-sensor__1--2x.png 2x" alt="")
    .hints.hint__sonic-sensor
      div.hint.hint__sonic-sensor(data-template="one")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"  transform="scale(1)"/>
        </svg>
      div.hint.hint__sonic-sensor(data-template="two")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__sonic-sensor(data-template="tree")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__sonic-sensor(data-template="four")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__sonic-sensor(data-template="five")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>

      .hint__lists(style="display:none")
        .hint__list(id="one")
          p Эргономичная ручка  
          ul
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
        .hint__list(id="two")
          p Эргономичная ручка  
          ul
            li Надежный и ...
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
        .hint__list(id="tree")
          p Эргономичная ручка  
          ul
            li Надежный 3
        .hint__list(id="four")
          p Эргономичная ручка  
          ul
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
        .hint__list(id="five")
          p Эргономичная ручка  
          ul
            li Надежный 5
            li Надежный 5
            li Надежный 5
            li Надежный 5
