.catalog__describe {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  .text-block {
    margin-bottom: 55px;
    @include max(sm) {
      margin-bottom: 35px;
    }
  }
  &__title {
    margin-bottom: 55px;
    @include max(sm) {
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;
      margin-bottom: 24px;
  }
  }
  &__btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $fonBlack;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    img,svg {
      margin-left: 18px;
      @include max(md) {
        margin-left: 0;
        margin-right: 13px   ;
      }
    }
    @include max(md) {
      flex-flow: row-reverse nowrap;
      justify-content: flex-start;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.7px;
      
  }  
  }
  &__col {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start; 
    &:nth-child(1) {
      width: 69%;
      margin-right: 67px;
      @include max(lg) {
        width: 100%;
        margin-right: 0;
      }
    }
    &:nth-child(2) {
      width: 31%;
      @include max(lg) {
        width: 0%;
      }
    }

  }
}





