.change-pass {
	position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-bottom: 104px;
  @include max(sm ) {
    margin-bottom: 47px;
  }
  &__col {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    &:nth-child(1) {
      width: 73.2%;
      padding-right: 38px;
      @include max(lg) {
        width: 100%;
        padding-right: 0px;
      }

    }
    &:nth-child(2) {
      display: block;
      width: 27.8%;
      max-width: 32.81%;
      @include max(lg) {
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
      }
      @include max(md) {
        width: 100%;
        max-width: 100%;
      }
      @include max(sm) {
        margin-bottom: 20px;
      }
    }
  }
	.registrations {
		margin-left: 0;
		margin-right: 0;
		background: transparent;
    padding: 0;
    max-width: 583px;
		.registrations__btn {
			max-width: 167px;
			margin-left: 0;
			margin-right: 0;
      font-size: 12px;
      font-style: normal;
      font-weight: 550;
      line-height: 135%; /* 16.2px */
      text-transform: uppercase;
      height: 45px;
      margin-bottom: 10px;
      padding-left: 12px;
      padding-right: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      @include max(sm) {
        height: 42px;
        margin-top: 8px;
      }
      @include max(xs) {
        height: 42px;
        font-size: 11px;
      }
		}
		.registrations__field {
			border: 1px solid $grey;
		}
	}
}