.main__header.main__header__two {
  height: auto;
  margin-top: 200px;
  border-bottom: 1px solid #292B32;
  @include max(xxl) {
    margin-top: 150px;
  }
  // // @include max(lg) {
  // //   margin-top: vw(100);
  // // }
  @include max(sm) {
    margin-top: vw2(30);
  }
  .main__header__title {
    color: $white;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    @include max(xxl) {
      font-size: vw(56);
    }
    @include max(sm) {
      top: 0;
      font-size: vw2(28);
    }
  }
  .button__circle {
    right: 0;
    @include max(sm) {
      top: 0;
    }
  }
  .main__header__registry {
    bottom: 157px;
    @include max(xxl) {
      bottom: vw(157);
    }
    @include max(lg) {
      bottom: auto;
      top: vw(180);
    }
    @include max(sm) {
      top: vw2(90);
    }
  }
}


.sonic-sensor {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
	min-height: 795px;
	overflow: hidden;
  &__section {
    @include max(xs) {
      padding-top: 40px;
      padding-botton: 40px;
    }
  }
  @include max(lg) {
    justify-content: flex-end;
  }
  @include max(mdHeader) {
    flex-flow: column-reverse nowrap;
    padding-top: 138px;
  }
	@include max(md) {
		padding-bottom: 0;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 32px;
		min-height: auto;
    padding-top: 138px;
	}
	@include max(sm) {
    padding-top: 88px;
	}
  &__list {
    &__title {
      position: relative;
      display: block;
      color: $white;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;
      margin-bottom: 48px;
      &--mob {
        display: none;
        @include max(mdHeader) {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          max-width: 300px;
          @include max(sm) {
            max-width: 200px;
          }
        }
      }
      &--desc {
        @include max(mdHeader) {
          display: none;
        }
      }
      @include max(sm) {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 135%;
          margin-bottom: 24px;
      }
    }
    ul {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 15px;
      padding-top: 0;
      margin-top: 0;
      color: #CBCECF;
      font-size: 15px;
      font-style: normal;
      font-weight: 550;
      line-height: 135%;
      margin-bottom: 0px;
      @include max(sm) {
          font-size: 12px;
          font-style: normal;
          line-height: 150%;
          margin-bottom: 10px;
      }
      li {
        position: relative;
        list-style-type: none;
        color: #CBCECF;
        font-size: 15px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        margin-bottom: 14px;
        &:last-child {
          margin-bottom: 0;
        }
        @include max(sm) {
            font-size: 12px;
            font-style: normal;
            line-height: 150%;
            margin-bottom: 10px;
        }
        &::before {
          content: '';
          display: block;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: $red;
          left: -15px;
          top: 7px;
          position: absolute;
        }
      }
    }
  }
  &__row  {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		z-index: 5;
		@include max(lg) {
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			
		}
		@include max(mdHeader) {
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: flex-start;
			
		}
    @include max(sm) {
      flex-flow: column nowrap;
    }
	}
	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		&__title {
			margin-bottom: 30px;
			@include max(md) {
				margin-bottom: 16px;
				
			}
		}
		&:nth-child(1) {
			max-width: 320px;
      @include max(lg) {
        margin-bottom: 35px;
      }
			@include max(md) {
				margin-bottom: 23px;
				
			}
      @include max(sm) {
        max-width: 100%;
      }
		}
		&:nth-child(2) {
			max-width: 300px;
			@include max(sm) {
				max-width: 180px;
				
			}
      @include max(sm) {
        max-width: 100%;
      }
		}
	}
	&__bg  {
		position: absolute;
		right: 0;
		left: 0;
		bottom: -10px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 764px;
    z-index: 800;
    @include max(lg) {
      left: auto;
      right: 0;
    }
    @include max(mdHeader) {
      position: relative;
    }
		@include max(md) {
			position: relative;
			width: 100%;
		}
		img,picture {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right top;
      @include max(mdHeader) {
        object-position: left center;
      }
		}		
	}
  &__tabel {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: self-start;
    flex-flow: column nowrap;
    margin-left: 25px;
    @include max(sm) {
      margin-left: 0;
      width: 100%;
    }
    &__title {
      color: $white;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;
      margin-bottom: 20px;
      @include max(sm) {
        font-size: 16px;
        margin-bottom: 25px;
        max-width: 245px;          
      }
    }
    &__row {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      padding-bottom: 10px;
      border-bottom: 1px solid #25292C;
      margin-bottom: 22px;
      @include max(xs) {
        width: 100%;
      }
      &:first-child {
        border-bottom: none;
        margin-bottom: 0px;
      }

    }
    &__col {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      color:  #CBCECF;
      font-size: 16px;
      font-style: normal;
      font-weight: 550;
      line-height: 135%;
      min-width: 68px;

      &:nth-child(2n) {
        min-width: 40px;
      }
      &:nth-child(1) {
        justify-content: flex-start;
        min-width: 50px;
      }
      @include max(sm) {
        font-size: 12px;
      } 
      span {
        color: $red;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        margin-right: 4px;
        &:first-child {
          margin-left: 7px;
        }
        @include max(sm) {
          font-size: 14px;
        }      
      }  
    }
    &__desc {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      flex-flow: column nowrap;
      &__item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 8px;
        color: $grey;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        padding-left: 37px;
        @include max(sm) {
          font-size: 11px;           
        }
      }
      &__star {
        position: absolute;
        left: 0;
        top:0; 
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        span {
          color: $red;
          text-align: right;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 125%;
          margin-right: 4px;
          @include max(sm) {
            font-size: 14px;
          }      
        }  
      }
    }
  }
  .hint__sonic-sensor {
    &:nth-child(1) {
      top: 0;
      left: 240px;
      @include max(sm) {
        top: 0%;
        left: 25%;
      }
      @include max(xs) {
        top: -2%;
        left: 25%;
      }
    }
    &:nth-child(2) {
      top: 50px;
      left: 190px;
      @include max(sm) {
        top: 8%;
        left: 20%;
      }
      @include max(xs) {
        top: 8%;
        left: 15%;
      }
    }
    &:nth-child(3) {
      top: 200px;
      left: 190px;
      @include max(sm) {
        top: 28%;
        left: 18%;
      }
    }
    &:nth-child(4) {
      top: 400px;
      left: 190px;
      @include max(sm) {
        top: 50%;
        left: 18%;
      }
    }
    &:nth-child(5) {
      top: 600px;
      left: 120px;
      @include max(sm) {
        top: 73%;
        left: 8%;
      }
    }
  }
}

.dynamic-sensor {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
	overflow: hidden;
  min-height: 768px;
  &__section {
    @include max(xs) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
	@include max(md) {
		padding-bottom: 0;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 32px;
		min-height: auto;
	}
  &__list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 443px;
    @include max(sm) {
      max-width: 220px;
    }
    &__title {
      position: relative;
      display: block;
      color: $white;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;
      margin-bottom: 48px;
      &--mob {
        display: none;
        @include max(mdHeader) {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          max-width: 300px;
        }
        @include max(sm) {
          max-width: 190px;
        }
      }
      &--desc {
        @include max(mdHeader) {
          display: none;
        }
      }
      @include max(sm) {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 135%;
          margin-bottom: 24px;
      }
    }
    ul {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 15px;
      padding-top: 0;
      margin-top: 0;
      color: #CBCECF;
      font-size: 15px;
      font-style: normal;
      font-weight: 550;
      line-height: 135%;
      margin-bottom: 0px;
      @include max(sm) {
          font-size: 12px;
          font-style: normal;
          line-height: 150%;
          margin-bottom: 10px;
      }
      li {
        position: relative;
        list-style-type: none;
        color: #CBCECF;
        font-size: 15px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        margin-bottom: 28px;
        &:last-child {
          margin-bottom: 0;
        }
        @include max(sm) {
            font-size: 12px;
            font-style: normal;
            line-height: 150%;
            margin-bottom: 10px;
        }
        &::before {
          content: '';
          display: block;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: $red;
          left: -15px;
          top: 7px;
          position: absolute;
        }
      }
    }
  }
  &__bg  {
		position: absolute;
		right: auto;
		left: 0;
		bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 764px;
    z-index: 800;
		@include max(lg) {
			position: relative;
			width: 100%;
		}
		img,picture {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right top;
		}		
	}
  &__col {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 764px);
    @include max(mdHeader) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 330px;
    }
    @include max(lg) {
      max-width: 330px;
    }
    @include max(sm) {
      bottom: -10px;
    }
  }
  .hint__dynamic-sensor {
    &:nth-child(1) {
      top: 130px;
      right: 185px;
      @include max(sm) {
        top: 13%;
        right: 16%;
      }
      @include max(xs) {
        top: 13%;
        right: 14%;
      }
    }
    &:nth-child(2) {
      top: 221px;
      right: 174px;
      @include max(sm) {
        top: 28%;
        right: 14%;
      }
      @include max(xs) {
        top: 26%;
        right: 12%;
      }
    }
    &:nth-child(3) {
      top: 290px;
      right: 205px;
      @include max(sm) {
        top: 46%;
        right: 18%;
      }
      @include max(xs) {
        top: 43%;
        right: 18%;
      }
    }
    &:nth-child(4) {
      top: 600px;
      right: 225px;

      @include max(sm) {
        top: 75%;
        right: 23%;
      }
      @include max(xs) {
        top: 73%;
        right: 20%;
      }
    }
    &:nth-child(5) {
      top: 628px;
      right: 125px;
      @include max(sm) {
        top: 83%;
        right: 8%;
      }
      @include max(xs) {
        top: 82%;
        right: 9%;
      }
    }
  }
}

.electronic-unit {
	min-height: 795px;
	overflow: hidden;
  &__section {
    @include max(md) {
      padding-bottom: 0px;
    }
    @include max(xs) {
      padding-top: 40px;
      padding-bottom: 0px;
    }
  }
  &--desc {
    @include max(md) {
      display: none;
    }
  }
  &--mob {
    display: none;
    @include max(md) {
      display: flex;
      flex-flow: column nowrap;
    }
  }
  @include max(lg) {
    min-height: 540px;
  }
  &__title {
    position: relative;
    display: block;
    color: $white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 48px;
    @include max(sm) {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 24px;
    }
    @include max(xs) {
      max-width: 175px;
      margin-bottom: 0;
    }
  }
  &__list {
    margin-bottom: 56px;
    &__title {
      margin-bottom: 30px;
      text-decoration: none;
      span {
        margin-right: 8px;
      }
    }
    ul {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 45px;
      padding-top: 0;
      margin-top: 0;
      color: #CBCECF;
      font-size: 15px;
      font-style: normal;
      font-weight: 550;
      line-height: 135%;
      margin-bottom: 0px;
      @include max(sm) {
          font-size: 14px;
          font-style: normal;
          line-height: 150%;
          margin-bottom: 10px;
      }
      li {
        position: relative;
        list-style-type: none;
        color: #CBCECF;
        font-size: 15px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        margin-bottom: 14px;
        &:last-child {
          margin-bottom: 0;
        }
        @include max(sm) {
            font-size: 14px;
            font-style: normal;
            line-height: 150%;
            margin-bottom: 10px;
        }
        &::before {
          content: '';
          display: block;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: $red;
          left: -15px;
          top: 7px;
          position: absolute;
        }
      }
    }
  }
  &__row  {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		z-index: 5;
    margin-top: 96px;
		// @include max(md) {
		// 	flex-flow: column nowrap;
		// 	justify-content: flex-start;
		// 	align-items: flex-start;
			
		// }
	}
	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		&__title {
			margin-bottom: 30px;
			@include max(md) {
				margin-bottom: 16px;
				
			}
		}
		&:nth-child(1) {
			max-width: 320px;
			@include max(md) {
				margin-bottom: 23px;
				
			}
		}
		&:nth-child(2) {
			max-width: 300px;
			@include max(sm) {
				max-width: 180px;
				
			}
		}
	}
	&__bg  {
		position: absolute;
		right: 0;
		left: 0;
		bottom: -10px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 534px;
    z-index: 800;
		@include max(lg) {
			max-width: 350px;
		}
		@include max(md) {
			position: relative;
			width: 100%;
		}
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right top;
		}		
	}
  &__tabel {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: self-start;
    flex-flow: column nowrap;
    margin-left: 25px;
    &__title {
      color: $white;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;
      margin-bottom: 20px;
      @include max(sm) {
        font-size: 16px;
        margin-bottom: 25px;            
      }
    }
    &__row {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      padding-bottom: 10px;
      border-bottom: 1px solid #25292C;
      margin-bottom: 22px;
      &:first-child {
        border-bottom: none;
        margin-bottom: 0px;
      }

    }
    &__col {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      color:  #CBCECF;
      font-size: 16px;
      font-style: normal;
      font-weight: 550;
      line-height: 135%;
      min-width: 68px;
      &:nth-child(2n) {
        min-width: 40px;
      }
      &:nth-child(1) {
        justify-content: flex-start;
        min-width: 50px;
      }
      @include max(sm) {
        font-size: 12px;
      } 
      span {
        color: $red;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        margin-right: 4px;
        &:first-child {
          margin-left: 7px;
        }
        @include max(sm) {
          font-size: 14px;
        }      
      }  
    }
    &__desc {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      flex-flow: column nowrap;
      &__item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 8px;
        color: $grey;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;
        padding-left: 37px;
        @include max(sm) {
          font-size: 11px;           
        }
      }
      &__star {
        position: absolute;
        left: 0;
        top:0; 
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        span {
          color: $red;
          text-align: right;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 125%;
          margin-right: 4px;
          @include max(sm) {
            font-size: 14px;
          }      
        }  
      }
    }
  }
  .hint__electronic-unit {
    &:nth-child(1) {
      top: 130px;
      right: 185px;
      @include max(md) {
        top: 8%;
        right: 50%;
      }
    }
    &:nth-child(2) {
      top: 221px;
      right: 174px;
      @include max(md) {
        top: 19%;
        right: 28%;
      }
    }
    &:nth-child(3) {
      @include max(md) {
        top: 35%;
        right: 56%;
      }
    }
    &:nth-child(4) {
      @include max(md) {
        top: 49%;
        right: 32%;
      }
    }
  }
}

.hints {
  z-index: 9999;
  .hint {
    position: absolute;
    width: 46px;
    height: 46px;
    z-index: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35;
    cursor: pointer;
    svg {
      @include max(sm) {
        width: 46px;
        height: 46px;
      }
    }

    &::before {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      width: 0px;
      height: 0px;
      transition: all 0.3s;
    }
    &:hover {
      transition: all 0.3s;
      &::before {
        transition: all 0.3s;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $red;
        display: block;
        content: "";
    
      }
    }
    &__list {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      // max-width: 226px;
      background: #fff;
      &__title {
  
      }
      ul {
        position: relative;
        display: block;
        width: 100%;
        padding-left: 15px;
        padding-top: 0;
        margin-top: 0;
        color: #CBCECF;
        font-size: 15px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        margin-bottom: 0px;
        @include max(sm) {
            font-size: 14px;
            font-style: normal;
            line-height: 150%;
            margin-bottom: 10px;
        }
        li {
          position: relative;
          list-style-type: none;
          color: #CBCECF;
          font-size: 15px;
          font-style: normal;
          font-weight: 550;
          line-height: 135%;
          margin-bottom: 14px;
          &:last-child {
            margin-bottom: 0;
          }
          @include max(sm) {
              font-size: 14px;
              font-style: normal;
              line-height: 150%;
              margin-bottom: 10px;
          }
          &::before {
            content: '';
            display: block;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: $red;
            left: -15px;
            top: 7px;
            position: absolute;
          }
        }
      }
    }
  }
}
.calibrate {
  &__section {
    @include max(xs) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__title {
    position: relative;
    display: block;
    color: $white;
    font-size: 40px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin-bottom: 80px;
    @include max(sm) {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 24px;
        margin-bottom: 34px;
    }
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    @include max(mdHeader) {
      flex-flow: column nowrap;
    }

  }
  &__col {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    width: 50%;
    @include max(mdHeader) {
      width: 100%;
    }
    &:first-child {
      @include max(xxl) {
        margin-right: 30px;
      }
      @include max(lg) {
        margin-right: 15px;
      }
      margin-right: 70px;
      @include max(mdHeader) {
        margin-right: 0;
      }

    }
    &:last-child {
      margin-left: 70px;
      @include max(xxl) {
        margin-left: 30px;
      }
      @include max(lg) {
        margin-left: 15px;
      }
      @include max(mdHeader) {
        margin-left: 0;
      }
    }
    &__me {
      @include max(mdHeader) {
        margin-bottom: 40px;
      }
      .calibrate__col__title {
        border: 3px solid $red;
      }
      .calibrate__error__metod {
        border: 3px solid $red;
        border-style: dashed;
      }
      .calibrate__list {
        ul {
          li {
            &::before {
              background-color: $red;
            }
          }
        }
      }

    }
    &__title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 102px;
      border-radius: 16px;
      border: 3px solid #898989;
      font-size: 26px;
      font-style: normal;
      font-weight: 550;
      line-height: normal;
      padding-left: 24px;
      padding-right: 24px;
      color: $white;
      margin-bottom: 61px;
      @include max(sm) {
        min-height: 76px;
        margin-bottom: 35px;
      }
      @include max(xs) {
        font-size: 16px;
        margin-bottom: 20px;
      }
      svg {
        margin-left: 10px;
        @include max(sm) {
          width: 56px;
        }
      }
    }
  }
  &__list {
    margin-bottom: 56px;
    @include max(lg) {
      margin-bottom: 0;
    }
    &__title {
      margin-bottom: 30px;
      text-decoration: none;
      span {
        margin-right: 8px;
      }
    }
    ul {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 15px;
      padding-top: 0;
      margin-top: 0;
      color: $white;
      font-size: 16px;
      font-style: normal;
      font-weight: 550;
      line-height: 135%;
      margin-bottom: 0px;
      @include max(sm) {
          font-size: 12px;
          font-style: normal;
          line-height: 150%;
          margin-bottom: 10px;
      }
      li {
        position: relative;
        list-style-type: none;
        color: $white;
        font-size: 16px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        margin-bottom: 0px;
        margin-bottom: 20px;
        @include max(sm) {
            font-size: 12px;
            font-style: normal;
            line-height: 150%;
            margin-bottom: 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &::before {
          content: '';
          display: block;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: #898989;
          left: -15px;
          top: 7px;
          position: absolute;
        }
      }
    }
  }
  &__error {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 61px;
    @include max(sm) {
      flex-flow: column nowrap;
      margin-bottom: 20px;
    }
    &__col {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column nowrap;
      width: 100%;
      &:first-child {
        margin-right: 30px;
        width: 190px;
        @include max(sm) {
          width: 100%;
          margin-right: 0;
        }
      }      
    }
    &__value  {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 26px;
      font-style: normal;
      font-weight: 550;
      line-height: normal;
      color: $white;
      @include max(sm) {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 17px;
        width: 100%;
      }
      @include max(xs) {
        font-size: 16px;
      }
      p {
        margin-bottom: 32px;
        @include max(sm) {
          margin-bottom: 0;
        }
      }
      svg {
        @include max(xs) {
          width: 112px;
        }
      }   
    }
    &__metod {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      border-radius: 16px;
      border: 3px solid #898989;
      border-style: dashed;
      font-size: 13px;
      font-style: normal;
      font-weight: 550;
      line-height: normal;
      padding: 25px 17px;
      color: $white;
      height: 100%;
      @include max(sm) {
        font-size: 11px;
        font-style: normal;
        font-weight: 550;
        line-height: 120%;
      } 
      &__item {
        br {
          // @include max(sm) {
          //   display: none;
          // }          
        }
        span {
          position: relative;
          display: inline-block;
          margin-top: 5px;
          margin-bottom: 5px;
          @include max(sm) {
            display: none;
          }
        }
      }
    }
  }
}

.equipment {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row-reverse nowrap;
	overflow: hidden;
  min-height: 768px;
  @include max(sm) {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__section {
    @include max(xs) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
	@include max(md) {
		padding-bottom: 0;
		min-height: auto;
	}
  &__title {
    position: relative;
    display: block;
    color: $white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 80px;
    &--desc {
      @include max(sm) {
        display: none;
      }
    }
    &--mob {
      display: none;
      @include max(sm) {
        display: block;
        order: 1;
      }
    }
    @include max(sm) {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 16px;
    }
  }
  &__list {
    margin-bottom: 56px;
    @include max(sm) {
      margin-bottom: 18px;
    }
    &:last-child {
      @include max(sm) {
        margin-bottom: 0px;
      }
    }
    &__title {
      margin-bottom: 40px;
      text-decoration: none;
      @include max(sm) {
        margin-bottom: 18px;
        @include max(sm) {
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 135%
      }
      }
      span {
        margin-right: 8px;
      }
    }
    ul {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 15px;
      padding-top: 0;
      margin-top: 0;
      color: #CBCECF;
      font-size: 15px;
      font-style: normal;
      font-weight: 550;
      line-height: 135%;
      margin-bottom: 0px;
      @include max(sm) {
          font-size: 12px;
          font-style: normal;
          line-height: 150%;
          margin-bottom: 10px;
      }
      li {
        position: relative;
        list-style-type: none;
        color: #CBCECF;
        font-size: 15px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        margin-bottom: 14px;
        &:last-child {
          margin-bottom: 0;
        }
        @include max(sm) {
            font-size: 12px;
            font-style: normal;
            line-height: 150%;
            margin-bottom: 10px;
        }
        &::before {
          content: '';
          display: block;
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: $red;
          left: -15px;
          top: 7px;
          position: absolute;
          @include max(sm) {
           width: 4px;
           width: 4px;
        }
        }
        a {
          position: relative;
          cursor: pointer;
          display: inline-block;
          text-decoration: none;
          color: #CBCECF;
          font-size: 15px;
          font-style: normal;
          font-weight: 550;
          line-height: 135%;
          @include max(sm) {
            font-size: 12px;
            font-style: normal;
            line-height: 150%;
            margin-bottom: 10px;
          }
          &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 50%;
              height: 1px;
              display: block;
              background: $grey;
              transition: all .3s;
          }
          &::before {
              transition: all .3s;
              content: '';
              position: absolute;
              bottom: 0;
              right: 50%;
              width: 50%;
              height: 1px;
              display: block;
              background: $grey;
          }
          &:hover {
              &::before {
                  width: 10%;
              }
              &::after   {
                  width: 10%;
              }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__bg  {
    position: relative;
		width: 100%;
		max-width: 569px;
    display: flex;
    align-items: flex-start;
    @include max(sm) {
      order: 2;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    &:before {
      width: 100%;
      content: "";
      display: block;
      padding-top: 170.65%;   
      position: relative;
      
    }
    img, picture {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      object-position: left bottom;
      z-index: 1;
      @include max(sm) {
        order: 2;
        object-position: center center;
      }
    }			
	}
  &__col {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 458px;
    margin-left: 144px;
    flex-flow: column nowrap;
    @include max(lg) {
      margin-left: 50px;
    }
    @include max(md) {
      margin-left: 0px;
    }
    @include max(sm) {
      order: 3;
    }
  }
}
.comparison {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
  &__section {
    @include max(xs) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .container {
      @include max(sm) {
        max-width: calc(100% - 0px);
        padding-left: 16px;
      }
    }
  }
  &__tabel {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    width: 100%;
    min-width: 1200px;
    padding-bottom: 16px;
    @include max(sm) {
      min-width: 600px;    
    }
    @include max(xs) {
      min-width: 573px;    
    }
    &__top {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      @include max(sm) {
        margin-bottom: 15px;
      }
      .comparison__tabel__row {
        margin-bottom: 34px;
        border-bottom: none;
      }
      .comparison__tabel__col {
        &:first-child {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;
        }
        &__title {
          position: relative;
          display: block;
          color: $white;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: 135%;
          margin-bottom: 16px;
          @include max(sm) {
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 135%;
              margin-bottom: 10px;
          }
        }
        &__subtitle {
          position: relative;
          display: block;
          color: $white;
          font-size: 24px;
          font-style: normal;
          font-weight: 550;
          line-height: 150%;
          @include max(sm) {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
          }
        }
      }
    }
    &__row {
      position: relative;
      display: flex;
      align-items: stretch;
      width: 100%;
      min-height: 37px;
      border-bottom: 1px solid #25292C;
      margin-bottom: 14px;
      padding-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
      @include max(sm) {
        min-height: 25px;
        margin-bottom: 10px;
        padding-bottom: 10px;      
      }
    }
    &__col {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      color: $grey;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      @include max(sm) {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%;       
      }
      &:nth-child(1) {
        width: 38.05%;
        justify-content: flex-start;
        align-items: flex-start;
      }
      &:nth-child(2) {
        width: 20.65%;
      }
      &:nth-child(3) {
        width: 20.65%;
      }
      &:nth-child(4) {
        width: 20.65%;
      }
      p {
       margin-bottom: 10px;
       &:last-child {
        margin-bottom: 0;
       }
      }

    }
    &__picture  {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: column nowrap;
      align-items: center;
      width: 220px;
      @include max(sm) {
        width: 123px;
      }
      &:before {
        width: 100%;
        content: "";
        display: block;
        padding-top: 100%;   
        position: relative;
        
      }
      img, picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
        object-position: top center;
        z-index: 1;
      }
      &__desc  {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 6px;
      }
    }
  }
}




.tippy-box[data-theme~='tomato'] {
	background-color: #FFFFFF;
  padding: 20px 20px;
  border-radius: 15px;
  @include max(sm) {
    padding: 10px 10px;
  }
  p  {
    color: $mainDark;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 19px;
    @include max(sm) {
      font-size: 12px;
      font-style: normal;
      line-height: 150%;
      margin-bottom: 10px;
      max-width: 160px;
  }
  }
  ul {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-top: 0;
    margin-top: 0;
    color:  #454545;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    @include max(sm) {
        font-size: 12px;
        font-style: normal;
        line-height: 150%;
        margin-bottom: 10px;
        max-width: 180px;
    }
    li {
      position: relative;
      list-style-type: none;
      color:  #454545;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      @include max(sm) {
          font-size: 12px;
          font-style: normal;
          line-height: 150%;
          margin-bottom: 10px;
      }
      &::before {
        content: '';
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: $mainDark;
        left: -15px;
        top: 7px;
        position: absolute;
      }
    }
  }
  // .hint {
  //   &__list {
  //     position: relative;
  //     display: flex;
  //     flex-flow: column nowrap;
  //     width: 100%;
  //     background: #fff;
  //     &__title {
  //     }

  //   }
  // }
}
.tippy-box[data-theme~='tomato'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #fff;
  transform: scale(2.5);
}
