.main__header.main__header__two {
  height: auto;
  margin-top: 200px;
  border-bottom: 1px solid #292B32;
  @include max(xxl) {
    margin-top: 150px;
  }
  
  // // @include max(lg) {
  // //   margin-top: vw(100);
  // // }
  @include max(sm) {
    margin-top: vw2(30);
  }
  .main__header__title {
    color: $white;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    @include max(xxl) {
      font-size: vw(56);
    }
    @include max(sm) {
      top: 0;
      font-size: vw2(28);
    }
  }
  .button__circle {
    right: 0;
    @include max(sm) {
      top: 0;
    }
  }
  .main__header__registry {
    bottom: 157px;
    @include max(xxl) {
      bottom: vw(157);
    }
    @include max(lg) {
      bottom: auto;
      top: vw(180);
    }
    @include max(sm) {
      top: vw2(90);
    }
  }
}
