.main__header {
  position: relative;
  width: 100%;
  background: $fonBlack;
  min-height: 791px;
  .container {
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
  }
  .button__circle {
    animation-name: fadeInRight;
    animation-delay: 1s;  
  }
  &__registry {
    position: absolute;
    bottom: 0;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeInRight;
    animation-delay: 1s;  
  }
  &__title {
    position: absolute;
    left: 0px;
    top: 0;
    color:  #CBCECF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    width: 100%;
    max-width: 331px;
    animation-name: fadeInLeft;
    animation-delay: 1s; 
    // @include max(xxl) {
    //   left: vw(251, 1920);
    // }

  }
  &__button {
    position: absolute;
    bottom: 0;
    left: 0px;
    text-decoration: none;
    animation-name: fadeInLeft;
    animation-delay: 1s; 
    z-index: 50;
  }
}


