.news {
	&__top {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		flex-flow: row wrap;
	}
	&__tabs {
		display: flex;
		position: relative;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		max-width: 740px;
		@include max(sm) {
			flex-flow: row wrap;
		}
	}
	&__tab {
		border-radius: 5px;
		border: 1px solid var(--gray-font, #7F8589);
		max-width: 173px;
		width: auto;
		width: 100%;
		margin-right: 16px;
		margin-bottom: 12px;
		margin-left: 0;
		@include max(sm) {
			width: 114px;
			height: 33px;
			font-size: 11px;
			font-style: normal;
			font-weight: 550;
			line-height: 135%; /* 14.85px */
			text-transform: uppercase;
			margin-right: 10px;
			margin-bottom: 10px;		
		}
		&:last-child {
			@include max(md) {
				margin-right: 0;
			}
		}


		&:hover{
			color: #ffffff!important;
		}
		&.active {
			background: var(--main-dark, #1B1F22);
			color: #ffffff!important;
		}
	}
	.periodSelect {
		@include max(sm) {
			width: 275px;
		}
		.select2-container .select2-selection--single {
		}
	}
	&__row {
		display: block;
		margin-left: -30px;
		display: flex;
		flex-wrap: wrap;
		>*{
			display: none;
			width: calc(33.333% - 30px);
			margin-top: 30px;
			margin-left: 30px;
			@media (max-width: 992px){
				margin-top: 24px;
				width: 50%;
				width: calc(50% - 30px);
			}
			@media (max-width: 767px){
				width: 100%;
				width: calc(100% - 30px);
			}
			&:nth-child(-n+9) {
				display: block;
			}
		}
		@media (max-width: 767px){
			>a {
				display: none;
				&:nth-child(-n+4) {
					display: block;
				}
			}
		}
	}
	&-pane {
		flex-direction: column;
	}


	&__show-more-mybtn {
		margin-top: 42px;
		background-color: #F5F5F5;
		color: var(--main-dark, #1B1F22);
		font-size: 14px;
		font-style: normal;
		font-weight: 550;
		line-height: 135%; 
		letter-spacing: 0.42px;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 100%;
		color: #000000!important;
		height: 64px;
		border: 0px solid #4E5051;
		border-radius: 5px;
		cursor: pointer;
		&:hover{
			color: #ffffff!important;
			border: 0px solid #4E5051;
			background-color: #000000;
		}
	}


	&__top-container {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1200px){
			flex-direction: column;
		}
		
		.select2-selection__rendered {
			padding-top: 0!important;
			padding-bottom: 0!important;
		}
		.selection .select2-selection__arrow b[role=presentation] {
			width: 9px;
			height: 9px;
		}
	}
}

// .select2.select2-container {
// 	width: auto!important;
// 	@media (max-width: 1200px){
// 		margin-top: 30px;
// 	}
// }
// .selection {
// 	margin: 0;
// 	height: 100%;
// 	.select2-selection {
// 		height: 100%;
// 		border-radius: 5px!important;
// 		border: 1px solid var(--main-dark, #1B1F22)!important;
// 		position: relative;
// 		@media (max-width: 1200px){
// 			border: 0px solid var(--main-dark, #1B1F22)!important;
// 		}
// 		&__rendered {
// 			height: 100%;
// 			display: flex!important;
// 			align-items: center;
// 			padding-top: 16px;
// 			padding-left: 24px!important;
// 			padding-right: 50px!important;
// 			padding-bottom: 16px;
// 			@media (max-width: 1200px){
// 				padding-left: 0px!important;
// 				padding-right: 0px!important;
// 			}
// 		}
// 		&__arrow {
// 			right: 24px!important;
// 			top: 35%!important;
// 			transform: translate(0, -50%);
// 			b[role="presentation"] {
// 				width: 14px;
// 				height: 14px;
// 				border: none!important;
// 				border: 1px solid #000000!important;
// 				border-top: none!important;
// 				border-left: none!important;
// 				transform: rotate(45deg);
// 			}
// 		}
// 		&.select2-container--focus {
// 			.select2-selection__arrow {
// 				b[role="presentation"] {
// 					width: 14px;
// 					height: 14px;
// 					border: none!important;
// 					border: 1px solid #000000!important;
// 					border-top: none!important;
// 					border-left: none!important;
// 					transform: rotate(45deg);
// 				}
// 			}
// 		}
// 		&.select2-container--open {
// 			.select2-selection__arrow {
// 				b[role="presentation"] {
// 					width: 14px;
// 					height: 14px;
// 					border: none!important;
// 					border: 1px solid #000000!important;
// 					border-top: none!important;
// 					border-left: none!important;
// 					transform: rotate(225deg);
// 				}
// 			}
// 		}
// 	}
// }