.infocenter
  .infocenter__title.title__40 Инфоцентр
  .swiper-container.infocenter__swiper.js-infocenter
    .swiper-wrapper
      a(href="#").swiper-slide.infocenter__slide
        .infocenter__slide__gallery
          img(src="img/index/infocenter--1.png", alt="")
        .infocenter__slide__bottom 
          .infocenter__slide__title  новости
          .infocenter__slide__text.text__20   Меры твердости поставляются теперь в фирменных металлических футлярах Меры твердости поставляются теперь в фирменных металлических футлярах
          .infocenter__slide__date  12 марта 2023 
          .infocenter__slide__button
            img(src="img/svg/arrow--right.svg", alt="")
      a(href="#").swiper-slide.infocenter__slide
        .infocenter__slide__gallery
          img(src="img/index/infocenter--2.png", alt="")
        .infocenter__slide__bottom 
          .infocenter__slide__title  новости
          .infocenter__slide__text.text__20   Меры твердости поставляются теперь в фирменных металлических футлярах
          .infocenter__slide__date  12 марта 2023 
          .infocenter__slide__button
            img(src="img/svg/arrow--right.svg", alt="")
      a(href="#").swiper-slide.infocenter__slide
        .infocenter__slide__gallery
          img(src="img/index/infocenter--3.png", alt="")
        .infocenter__slide__bottom 
          .infocenter__slide__title  новости
          .infocenter__slide__text.text__20   Меры твердости поставляются теперь в фирменных металлических футлярах
          .infocenter__slide__date  12 марта 2023 
          .infocenter__slide__button
            img(src="img/svg/arrow--right.svg", alt="")
      a(href="#").swiper-slide.infocenter__slide
        .infocenter__slide__gallery
          img(src="img/index/infocenter--1.png", alt="")
        .infocenter__slide__bottom 
          .infocenter__slide__title  новости
          .infocenter__slide__text.text__20   Меры твердости поставляются теперь в фирменных металлических футлярах
          .infocenter__slide__date  12 марта 2023 
          .infocenter__slide__button
            img(src="img/svg/arrow--right.svg", alt="")
      a(href="#").swiper-slide.infocenter__slide
        .infocenter__slide__gallery
          img(src="img/index/infocenter--2.png", alt="")
        .infocenter__slide__bottom 
          .infocenter__slide__title  новости
          .infocenter__slide__text.text__20   Меры твердости поставляются теперь в фирменных металлических футлярах
          .infocenter__slide__date  12 марта 2023 
          .infocenter__slide__button
            img(src="img/svg/arrow--right.svg", alt="")
      a(href="#").swiper-slide.infocenter__slide
        .infocenter__slide__gallery
          img(src="img/index/infocenter--3.png", alt="")
        .infocenter__slide__bottom 
          .infocenter__slide__title  новости
          .infocenter__slide__text.text__20   Меры твердости поставляются теперь в фирменных металлических футлярах
          .infocenter__slide__date  12 марта 2023 
          .infocenter__slide__button
            img(src="img/svg/arrow--right.svg", alt="")

  .swiper-button-prev.infocenter-prev
  .swiper-button-next.infocenter-next

  .btn.infocenter__btn все публикации