.hardness-tester {
	position: relative;
	width: 100%;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	height: 100%;
  
  &__slide {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 35px;
    background: #F5F5F5;
    width: 418px;
    padding: 48px 40px;
    &__title {
      width: 100%;
      max-width: 252px;
    }
    &__gallery {
      position: relative;
      display: flex;
      width: 100%;
    }
    &__bottom {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 24px;
    }
    &__cost  {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      &__title {
        color: $greyBlack;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;    
      }
      &__value {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &--sale {
          color: $greyBlack;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 125%; /* 30px */
          text-decoration: line-through;
          margin-right: 11px;         
        }
        &--actual {
          color: $mainDark;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 125%;         
        }
      }
    }
    &__buttons {
      position: relative;
      display: flex;
      justify-content: flex-end;
    }
    &__cart {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background: $red;
      margin-right: 16px;
    }
    &__front {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      background: $mainDark;
      margin-right: 16px;
    }
  }

}
.hardness-tester-prev,.hardness-tester-next {
  &::after {
    color: $greyBlack;
  }
}
.hardness-tester-prev{
  left: -72px;
  right: auto;
}
.hardness-tester-next {
  right: -72px;
  left:auto;
}
.hardness-gallery {
  position: relative;
	width: 100%;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	height: 100%;
  padding-bottom: 30px;
  .swiper-pagination-bullet {
    background: $grey;
    &-active {
      background: $mainDark;
    }
  }
}