.dynamic-sensor
  .dynamic-sensor__list__title.dynamic-sensor__list__title--mob.title__40  Динамический датчик
  .dynamic-sensor__col
    .dynamic-sensor__list
      .dynamic-sensor__list__title.dynamic-sensor__list__title--desc.title__40  Динамический датчик
      ul 
        li Быстрее всех других методов
        li Массивные детали
        li Самый популярный портативный способ (точно есть на соседнем заводе)
  .dynamic-sensor__bg
    picture
      source(media="(max-width: 767px)", srcset="img/index/dynamic-sensor__bg--mob.png")
      img(src="img/index/dynamic-sensor__bg.png", srcset="img/index/dynamic-sensor__bg--2x.png 2x" alt="")
    .hints.hints__dynamic-sensor
      div.hint.hint__dynamic-sensor(data-template="dynamic-sensor__1")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"  transform="scale(1)"/>
        </svg>
      div.hint.hint__dynamic-sensor(data-template="dynamic-sensor__2")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__dynamic-sensor(data-template="dynamic-sensor__2")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__dynamic-sensor(data-template="dynamic-sensor__3")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__dynamic-sensor(data-template="dynamic-sensor__5")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>

      .hint__lists(style="display:none")
        .hint__list(id="dynamic-sensor__1")
          p Эргономичная ручка  
          ul
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
        .hint__list(id="dynamic-sensor__2")
          p Эргономичная ручка  
          ul
            li Надежный и ...
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
        .hint__list(id="dynamic-sensor__3")
          p Эргономичная ручка  
          ul
            li Надежный 3
        .hint__list(id="dynamic-sensor__4")
          p Эргономичная ручка  
          ul
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
        .hint__list(id="dynamic-sensor__5")
          p Эргономичная ручка  
          ul
            li Надежный 5
            li Надежный 5
            li Надежный 5
            li Уменьшает дискомфорт при большом количестве измерений