.filters 
  .filters__btn 
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.23224 8L0.866119 13.3661L2.63389 15.1339L8 9.76777L13.3661 15.1339L15.1339 13.3661L9.76777 8L15.1339 2.63389L13.3661 0.866119L8 6.23224L2.63389 0.866119L0.866119 2.63389L6.23224 8Z" fill="#1B1F22"/>
    </svg>
  .filter Роквелл
  .filter Супер-Роквелл
  .filter Бринелль
  .filter Виккерс
  .filter МикроВиккерс
  .filter Шор D