.selection
  .selection__item
    .selection__item__title.title__40 Подбор твердомера
    .selection__item__text.text__18 Здесь можно подобрать подходящий для ваших целей твердомер.
    .selection__item__picture
      img(src="img/catalog/selection--1.png", alt="")
    .btn.selection__item__btn.btn--redFull подобрать
  .selection__item
    .selection__item__title.title__40 Подбор мер твердости
    .selection__item__text.text__18 Здесь можно подобрать стандартные эталонные меры твердости 2-го разряда.
    .selection__item__picture
      img(src="img/catalog/selection--2-2.png", alt="")
    .btn.selection__item__btn.btn--redFull подобрать