.arguments {
	position: relative;
	display: flex;
	width: 100%;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	@media (max-width: 1150px) {
		align-items: center;
	}
	&__wrap {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: stretch;
		margin-bottom: 30px;
		@media (max-width: 1150px) {
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
		}
	}
	&__title {
		text-align: center;
		margin-bottom: 58px;
	}
	&__col {
		width: 50%;
		&:nth-child(2) {
			margin-left: 15px;
			@media (max-width: 1150px) {
				margin-left: 0;
				width: 100%;
				max-width: 512px;
			}
		}
		&:nth-child(1) {
			margin-right: 15px;
			@media (max-width: 1150px) {
				margin-right: 0;
				width: 100%;
				max-width: 512px;
			}
		}
	}

	&__item {
		padding: 70px 47px;
		margin-bottom: 0;
		height: 100%;
		&--brend {
			justify-content: space-between;
			align-items: center;
			@include max(md) {
				padding: 32px 24px;
				margin-bottom: 0 !important;
			}
		}
		&--awards {
			@include max(lg) {
				padding: 32px 24px;
			}
			@media (max-width: 1150px) {
				margin-bottom: 24px;
			}
			.arguments__item__text {
				margin-bottom: 80px;
				max-width: 454px;
				@include max(md) {
					margin-bottom: 20px;
				}
			}


		}
		&__list {
			position: relative;
			display: flex;
			width: calc(100% + 0px);
			align-items: stretch;
			flex-flow: row wrap;
			margin-left: -0px;
			box-sizing: border-box;
			margin-bottom: 20px;
		}
		&__brend {
			box-sizing: border-box;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 33.333%;
			max-width: calc(33.3333% - 0px);
			height: auto;
			height: 35px;
			margin-top: 10px;
			margin-bottom: 48px;
			border-right: 1px solid #3F3F3F;
			@include max(lg) {
				padding: 32px 24px;
			}
			@include max(xs) {
				flex: 0 0 50%;
				max-width: calc(50% - 0px);
				margin-bottom: 20px;
			}
			&:nth-child(3n) {
				border-right: none;
				@include max(xs) {
					border-right: 1px solid #3F3F3F;
				}
			}
			&:nth-child(2n) {
				@include max(xs) {
					border-right: none;
				}

			}
		}
		&__title {
			margin-bottom: 58px;
			@include max(md) {
				margin-bottom: 22px;

			}
		}
		&__year {
			margin-bottom: 64px;
			max-height: 134px;
			@include max(md) {
				margin-bottom: 20px;
			}
		}

		&__buttons {
			position: relative;
			display: flex;
			width: 100%;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: row wrap;

			&__row {
				position: relative;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				width: 100%;
				max-width: 464px;
				margin-bottom: 16px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__button {
			max-width: 100%;
			&--double {
				&:first-child {
					margin-right: 5px;
				}
				&:last-child {
					margin-left: 5px;
				}
			}
		}
	}

}
