.arguments
  .arguments__title.title__40 Твердые аргументы
  .arguments__wrap
    .arguments__col
      .arguments__item.arguments__item--awards.block__overlay
        .arguments__item__year
          picture 
            source(media="(max-width: 992px)", srcset="img/index/arguments__item__year--mob.png")
            img(src="img/index/arguments__item__year.png", srcset="img/index/arguments__item__year--2x.png 2x" alt="")
        .arguments__item__text.text__15
          !="Центр «МЕТ» - разработчик высокоточных портативных твердомеров и мер твердости. Портативные твердомеры МЕТ позволяют осуществлять достоверный контроль твердости изделий из металла. Меры твердости МЕТ – средства измерения, позволяющие осуществлять поверку и калибровку твердомеров."	
        .arguments__item__buttons 
          .arguments__item__buttons__row
            .btn.btn--border.arguments__item__button--double
              img(src="img/svg/star.svg", alt="")
              !="Сертификаты"		
            .btn.btn--border.arguments__item__button--double 
              img(src="img/svg/award.svg", alt="")
              !="Награды"
          .arguments__item__buttons__row
            .arguments__item__button.btn.btn--border 
              img(src="img/svg/comment.svg", alt="")
              !="Отзывы"
    .arguments__col
      .arguments__item.arguments__item--brend.block__overlay
        .arguments__item__title.title__32 Нам доверяют
        .arguments__item__list
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--1.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--2.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--3.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--4.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--5.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--6.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--7.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--8.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--9.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--10.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--11.svg", alt="")
          .arguments__item__brend
            img(src="img/svg/arguments__item__brend--12.svg", alt="")
        .arguments__item__button.btn Все клиенты