.product-cart__filter
	.product-cart__filter__top
		.product-cart__filter__total
			.product-cart__filter__stock В наличии
			.product-cart__filter__cost.title__40 52 000 ₽
		.product-cart__filter__garantia 3 года гарантии
	.product-cart__filter__advice 
		.product-cart__filter__advice__title 
			<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#FF3E41"/>
			</svg>
			!="рекомендация специалистов MET"
		.product-cart__filter__block__wrap Датчик:
			.product-cart__filter__block__title
			.product-cart__filter__block
				.input-block.input-block--star.no-star
					label
						input(type="checkbox", name="", autocomplete="off", )
						span У10
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 0.5L6.12257 3.95492H9.75528L6.81636 6.09017L7.93893 9.54508L5 7.40983L2.06107 9.54508L3.18364 6.09017L0.244718 3.95492H3.87743L5 0.5Z" fill="#7F8589"/>
						</svg>
						b
			
				.input-block.input-block--star
					label
						input(type="checkbox", name="", autocomplete="off", checked="")
						span У15
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 0.5L6.12257 3.95492H9.75528L6.81636 6.09017L7.93893 9.54508L5 7.40983L2.06107 9.54508L3.18364 6.09017L0.244718 3.95492H3.87743L5 0.5Z" fill="#7F8589"/>
						</svg>
						b
				.input-block.input-block--star.no-star
					label
						input(type="checkbox", name="", autocomplete="off", )
						span У50
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 0.5L6.12257 3.95492H9.75528L6.81636 6.09017L7.93893 9.54508L5 7.40983L2.06107 9.54508L3.18364 6.09017L0.244718 3.95492H3.87743L5 0.5Z" fill="#7F8589"/>
						</svg>
						b
				.input-block.input-block--star.no-star
					label
						input(type="checkbox", name="", autocomplete="off", )
						span У100
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 0.5L6.12257 3.95492H9.75528L6.81636 6.09017L7.93893 9.54508L5 7.40983L2.06107 9.54508L3.18364 6.09017L0.244718 3.95492H3.87743L5 0.5Z" fill="#7F8589"/>
						</svg>
						b
			
				.input-block.input-block--star.no-star
					label
						input(type="checkbox", name="", autocomplete="off",)
						span У15k
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 0.5L6.12257 3.95492H9.75528L6.81636 6.09017L7.93893 9.54508L5 7.40983L2.06107 9.54508L3.18364 6.09017L0.244718 3.95492H3.87743L5 0.5Z" fill="#7F8589"/>
						</svg>
						b
			
				.input-block.input-block--star.no-star
					label
						input(type="checkbox", name="", autocomplete="off",)
						span У50k
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M5 0.5L6.12257 3.95492H9.75528L6.81636 6.09017L7.93893 9.54508L5 7.40983L2.06107 9.54508L3.18364 6.09017L0.244718 3.95492H3.87743L5 0.5Z" fill="#7F8589"/>
						</svg>
						b
			
		.product-cart__filter__bottom
			.product-cart__filter__bottom__row
				.product-cart__filter__counter
					.product-cart__filter__counter__prev
							<svg width="17" height="4" viewBox="0 0 17 4" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="1.31772" y="1.29832" width="14.6432" height="1.41503" rx="0.707517" fill="#7F8589" stroke="#7F8589" stroke-width="0.7"/>
							</svg>									
					.product-cart__filter__counter__count 1
					.product-cart__filter__counter__next
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect x="1.58481" y="8.29832" width="14.6432" height="1.41503" rx="0.707517" fill="#7F8589" stroke="#7F8589" stroke-width="0.7"/>
						<rect x="8.19883" y="16.3274" width="14.6432" height="1.41503" rx="0.707517" transform="rotate(-90 8.19883 16.3274)" fill="#7F8589" stroke="#7F8589" stroke-width="0.7"/>
						</svg>
				.btn.btn--black В корзину
	.product-cart__filter__links 
		a(href="#").product-cart__filter__link.text__16
			!="Описание прибора"
			.product-cart__filter__link__img
				<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.08423 2.71582L13.4526 10.0842L6.08423 17.4527" stroke="#7F8589" stroke-width="1.57895"/>
				</svg>
		a(href="#").product-cart__filter__link.text__16
			!="Характеристики"
			.product-cart__filter__link__img
				<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.08423 2.71582L13.4526 10.0842L6.08423 17.4527" stroke="#7F8589" stroke-width="1.57895"/>
				</svg>
		a(href="#").product-cart__filter__link.text__16
			!="Комппектация"
			.product-cart__filter__link__img
				<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.08423 2.71582L13.4526 10.0842L6.08423 17.4527" stroke="#7F8589" stroke-width="1.57895"/>
				</svg>
		a(href="#").product-cart__filter__link.text__16
			!="Дополнительные принадлежности"
			.product-cart__filter__link__img
				<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.08423 2.71582L13.4526 10.0842L6.08423 17.4527" stroke="#7F8589" stroke-width="1.57895"/>
				</svg>
		a(href="#").product-cart__filter__link.text__16
			!="Калибровка, поверка и сертификация"
			.product-cart__filter__link__img
				<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.08423 2.71582L13.4526 10.0842L6.08423 17.4527" stroke="#7F8589" stroke-width="1.57895"/>
				</svg>
		a(href="#").product-cart__filter__link.text__16
			!="Отзывы"
			.product-cart__filter__link__img
				<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.08423 2.71582L13.4526 10.0842L6.08423 17.4527" stroke="#7F8589" stroke-width="1.57895"/>
				</svg>	

	.product-cart__filter__bottom
		.product-cart__filter__bottom__row
			.btn.btn--border ПОМОЩЬ В ПОДБОРЕ