.equipment
  .equipment__title.equipment__title--mob Комплектация
  .equipment__col
    .equipment__title.equipment__title--desc Комплектация
    .equipment__list
      .equipment__list__title.text__20 Итальянский кейс
      ul 
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        li Nemo enim ipsam voluptatem quia voluptas 
    .equipment__list
      .equipment__list__title.text__20 Документация
      ul 
        li 
          a(href="") Паспорт устройства
        li 
          a(href="") Методика поверки
        li 
          a(href="") Свидетельство о поверке
  .equipment__bg.animate__animated
    picture
      source(media="(max-width: 560px)", srcset="img/index/equipment__bg--mob.png")
      img(src="img/index/equipment__bg.png", srcset="img/index/equipment__bg--2x.png 2x" alt="")