#soc--gray
  .sidebar__inner
    .soc.soc--gray
      .soc__wrap
        a(href="#").soc__item 
          .soc__item__text Telegram
          .soc__item__picture 
            img(src="img/svg/tg.svg", alt="logo")
        a(href="#").soc__item 
          .soc__item__text WhatsApp
          .soc__item__picture 
            img(src="img/svg/wt.svg", alt="logo")
        a(href="#").soc__item
          .soc__item__text одноклассники
          .soc__item__picture 
            img(src="img/svg/od.svg", alt="logo")
        a(href="#").soc__item 
          .soc__item__text в контакте
          .soc__item__picture 
            img(src="img/svg/vk.svg", alt="logo")
