.soc.soc--desc.soc--gray.animate__animated
  .container
    .soc__wrap
      a(href="#").soc__item 
        .soc__item__text Telegram
        .soc__item__picture 
          img(src="img/svg/tg.svg", alt="logo")
      a(href="#").soc__item 
        .soc__item__text WhatsApp
        .soc__item__picture 
          img(src="img/svg/wt.svg", alt="logo")
      a(href="#").soc__item
        .soc__item__text Mail
        .soc__item__picture 
          img(src="img/svg/sms.svg", alt="logo")
      a(href="#").soc__item 
        .soc__item__text Chat
        .soc__item__picture 
          img(src="img/svg/message.svg", alt="logo")
