.electronic-unit.electronic-unit--desc
  .electronic-unit__title Электронный блок
  .electronic-unit__row
    .sonic-sensor__col
      .electronic-unit__list
        .electronic-unit__list__title.text__20 
          span 1. 
          !="Разъёмы BINDER (Германия)"
        ul 
          li Проверенное немецкое качество
      .electronic-unit__list
        .electronic-unit__list__title.text__20 
          span 2. 
          !="ЖК экран"
        ul 
          li Чёткое отображение
          li Понятный интерфейс
      .electronic-unit__list
        .electronic-unit__list__title.text__20 
          span 3. 
          !="Клавиатура"
        ul 
          li Простое и понятное управление
          li Долговечность
    
    .electronic-unit__col
      .electronic-unit__list
        .electronic-unit__list__title.text__20 
          span 4. 
          !="Электронный блок"
        ul 
          li Пересчёт между шкалами твёрдости
          li Вычисление среднего значения из серии измерений
          li Архив измерений
      .electronic-unit__list
        .electronic-unit__list__title.text__20 
          span 5. 
          !="Алюминиевый литой корпус"
        ul 
          li Алюминиевый корпус с защитой от пыли и влаги IP65 (Германия)
  .electronic-unit__bg.animate__animated
    img(src="img/index/electronic-unit__bg.png", srcset="img/index/electronic-unit__bg--2x.png 2x" alt="")
.electronic-unit.electronic-unit--mob
  .electronic-unit__title Электронный блок
  .electronic-unit__bg
    img(src="img/index/electronic-unit__bg--mob.png", srcset="img/index/electronic-unit__bg--mob--2x.png 2x" alt="")
    .hints
      div.hint.hint__electronic-unit(data-template="electronic-unit__1")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"  transform="scale(1)"/>
        </svg>
      div.hint.hint__electronic-unit(data-template="electronic-unit__2")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__electronic-unit(data-template="electronic-unit__2")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__electronic-unit(data-template="electronic-unit__3")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      .hint__lists(style="display:none")
        .hint__list(id="electronic-unit__1")
          p Эргономичная ручка  
          ul
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
        .hint__list(id="electronic-unit__2")
          p Эргономичная ручка  
          ul
            li Надежный и ...
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
        .hint__list(id="electronic-unit__3")
          p Эргономичная ручка  
          ul
            li Надежный 3
        .hint__list(id="electronic-unit__4")
          p Эргономичная ручка  
          ul
            li Надежный и удобный обхват
            li Уменьшает дискомфорт при большом количестве измерений
