extends layouts/default
include helpers/mixins

block variables
	- const title = "Project title"

block content
	.main__header 
		.container
			.main__header__title.animate__animated 
				!="Точность без компромисcов"
			//- include ../blocks/modules/main-slider/main-slider
			.main__header__registry.animate__animated
				img(src="img/svg/reestr.svg" alt="")
			a(href="#").btn.main__header__button.animate__animated купить
			.button__circle.animate__animated
				.button__circle-inner
					img.button__circle-outside(src="img/svg/label-circle.svg" alt="")
					img.button__circle-inside(src="img/svg/play.svg" alt="logo")
	include ../blocks/modules/soc/soc
	include ../blocks/modules/main-pagination/main-pagination

	.section.section__black
		.container
			include ../blocks/components/hardness/hardness
			include ../blocks/components/ultrasonic/ultrasonic
			include ../blocks/components/measure/measure
			include ../blocks/components/warranty/warranty
	.section.section__white
		include ../blocks/modules/products/products

	.section.section__black
		.container
			include ../blocks/components/arguments/arguments	
			include ../blocks/modules/soc-big/soc-big

			include ../blocks/components/fabrication/fabrication

	.section.section__white
		.container
			include ../blocks/components/infocenter/infocenter
