.review__rating
  .review__total 5.0
  .review__stars
    .review__star
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
      <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
      </svg>
    .review__star
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
      <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
      </svg>
    .review__star
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
      <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
      </svg>
    .review__star.no-active
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
      <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
      </svg>
    .review__star.no-active
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
      <path d="M10.2686 0.37085L12.5258 7.31789H19.8303L13.9209 11.6114L16.1781 18.5584L10.2686 14.2649L4.35915 18.5584L6.61636 11.6114L0.70691 7.31789H8.0114L10.2686 0.37085Z" fill="#FFB906"/>
      </svg>