.soc {
	position: fixed;
	left: 15px;
	top: 313px;
	display: flex;
	justify-content: flex-end;
	flex-flow: column nowrap;
	width: 100%; 
  pointer-events: none; 
  z-index: 100;
  animation-name: fadeInRight;
	animation-delay: 1.7s;
  &--desc {
    @include max(lg) {
      display: none;
    }
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
    pointer-events: auto;
    width: auto;
    height: auto;
    width: 48px;
    height: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: 260%; 
    color: $white;
    text-decoration: none; 
    cursor: pointer;   
    &:hover {
      .soc__item__picture  {
        transition: all .5s;
        background: $red;
      }
      &:nth-child(1) {
        .soc__item__picture  {
          background: #259CD8;          
        }
      }
      &:nth-child(2) {
        .soc__item__picture  {
          background:  #43d854;
        }

      }
      .soc__item__text {
        transition: all .5s;
        width: 192px;
        padding-left: 25px;
      }
    }
    &__text {
      position: absolute;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: #313538;
      border-radius: 50px;
      padding-left: 0px;
      z-index: 2;
      transition: all .5s;
      overflow: hidden;
    }
    &__picture  {
      position: absolute;
      right: 0;
      top: 0;
      width: 49px;
      height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #313538;
      border-radius: 50px;
      z-index: 5;
      transition: all .5s;   
    }

  }
  .container {
    position: relative;
    width: 1920px;
    padding-left: 0px;
    padding-right: 27px;
    display: flex;
    justify-content: flex-end;
    @include max(xl) {
      padding-right: 0;
      max-width: calc(100% - 30px * 2);
    }
  }
	&__wrap {
		position: relative;
		display: flex;
		width: 48px;
		justify-content: flex-start;
		flex-flow: column nowrap;
		height: auto;
    align-self: flex-start;
	}
}