.product-cart__question.accordions
  .accordion
    .accordion__intro
      p Описание
      .accordion__intro__img
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <rect class='line-1' y="7" width="16" height="2" fill="white"/>
        <rect class='line-2' x="7.33301" y="16" width="16" height="2" transform="rotate(-90 7.33301 16)" fill="white"/>
        </svg>

    .accordion__content
      a(href="")  Описание прибора 1
      a(href="")  Описание прибора 2
      a(href="")  Описание прибора 3
  .accordion
    .accordion__intro
      p Технические характеристики
      .accordion__intro__img
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <rect class='line-1' y="7" width="16" height="2" fill="white"/>
        <rect class='line-2' x="7.33301" y="16" width="16" height="2" transform="rotate(-90 7.33301 16)" fill="white"/>
        </svg>

    .accordion__content
      a(href="")  Описание прибора 1
      a(href="")  Описание прибора 2
      a(href="")  Описание прибора 3
  .accordion
    .accordion__intro
      p Маркировка
      .accordion__intro__img
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <rect class='line-1' y="7" width="16" height="2" fill="white"/>
        <rect class='line-2' x="7.33301" y="16" width="16" height="2" transform="rotate(-90 7.33301 16)" fill="white"/>
        </svg>

    .accordion__content
      a(href="")  Описание прибора 1
      a(href="")  Описание прибора 2
      a(href="")  Описание прибора 3
  .accordion
    .accordion__intro
      p Преимущества
      .accordion__intro__img
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <rect class='line-1' y="7" width="16" height="2" fill="white"/>
        <rect class='line-2' x="7.33301" y="16" width="16" height="2" transform="rotate(-90 7.33301 16)" fill="white"/>
        </svg>

    .accordion__content
      a(href="")  Описание прибора 1
      a(href="")  Описание прибора 2
      a(href="")  Описание прибора 3
  .accordion
    .accordion__intro
      p Соответствие стандартам
      .accordion__intro__img
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <rect class='line-1' y="7" width="16" height="2" fill="white"/>
        <rect class='line-2' x="7.33301" y="16" width="16" height="2" transform="rotate(-90 7.33301 16)" fill="white"/>
        </svg>

    .accordion__content
      a(href="")  Описание прибора 1
      a(href="")  Описание прибора 2
      a(href="")  Описание прибора 3
  .accordion
    .accordion__intro
      p Дополнительные принадлежности
      .accordion__intro__img
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <rect class='line-1' y="7" width="16" height="2" fill="white"/>
        <rect class='line-2' x="7.33301" y="16" width="16" height="2" transform="rotate(-90 7.33301 16)" fill="white"/>
        </svg>

    .accordion__content
      a(href="")  Описание прибора 1
      a(href="")  Описание прибора 2
      a(href="")  Описание прибора 3
  .accordion
    .accordion__intro
      p Сертификация
      .accordion__intro__img
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <rect class='line-1' y="7" width="16" height="2" fill="white"/>
        <rect class='line-2' x="7.33301" y="16" width="16" height="2" transform="rotate(-90 7.33301 16)" fill="white"/>
        </svg>

    .accordion__content
      a(href="")  Описание прибора 1
      a(href="")  Описание прибора 2
      a(href="")  Описание прибора 3
  .accordion
    .accordion__intro
      p Отзывы
      .accordion__intro__img
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <rect class='line-1' y="7" width="16" height="2" fill="white"/>
        <rect class='line-2' x="7.33301" y="16" width="16" height="2" transform="rotate(-90 7.33301 16)" fill="white"/>
        </svg>

    .accordion__content
      a(href="")  Описание прибора 1
      a(href="")  Описание прибора 2
      a(href="")  Описание прибора 3