.hardness {
	padding: 92px 72px;
	overflow: hidden;
	&__title {
		width: 100%;
		max-width: 565px;
		margin-bottom: 58px;
		z-index: 2;
		@include max(md) {
			padding-left: 24px;
			padding-right: 24px;
			margin-bottom: 32px;
			max-width: 100%;
		}
		@include max(sm) {
			margin-bottom: 32px;
		}
	}
	@include max(md) {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	&__table {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		max-width: 620px;
		z-index: 2;
		@include max(md) {
			padding-left: 24px;
			padding-right: 24px;
			margin-bottom: 32px;
			max-width: 100%;
		}
		@include max(sm) {
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
		}
		&__col {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			width: calc(50% - 36px);
			&:first-child {
				@include max(sm) {
					margin-bottom: 32px;
				}				
			}
			@include max(sm) {
				width: 100%;
			}
			&__title {
				text-transform: uppercase;
				color: $greyBlack;
				margin-bottom: 22px;
			}
			.hardness__table__row {
				&:last-child {
					border-bottom: none;
				}
			}
		}
		&__row {
			position: relative;
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			padding-top: 12px;
			padding-bottom: 12px;
			border-bottom: 1px solid #303638;
		}
	}
	&__bg {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		@include max(md) {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			// height: 348px;
		}
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right top;
			@include max(md) {
				width: 65%;
			}			
			@include max(sm) {
				width: 100%;
			}			

		}
	}
}