.hardness.block__overlay
  .hardness__bg 
    img(src="img/index/hardness__bg.png", srcset="img/index/hardness__bg--2x.png 2x" alt="")

  .hardness__title.title__40 Достоверное измерение твердости по всем шкалам
  .hardness__table
    .hardness__table__col
      .hardness__table__col__title.text__16 Основные
      .hardness__table__row
        .hardness__table__property.text__16 Роквелла
        .hardness__table__value.text__16 HRC
      .hardness__table__row
        .hardness__table__property.text__16 Бринелля
        .hardness__table__value.text__16 HB
      .hardness__table__row
        .hardness__table__property.text__16 Виккерса
        .hardness__table__value.text__16 HV
      .hardness__table__row
        .hardness__table__property.text__16 Бринелля
        .hardness__table__value.text__16 HSD


    .hardness__table__col
      .hardness__table__col__title.text__16 Дополнительные
      .hardness__table__row
        .hardness__table__property.text__16 Роквелла
        .hardness__table__value.text__16 HRC
      .hardness__table__row
        .hardness__table__property.text__16 Супер-Роквелла
        .hardness__table__value.text__16 HRN / HRT
      .hardness__table__row
        .hardness__table__property.text__16 Лейба
        .hardness__table__value.text__16 HL
      .hardness__table__row
        .hardness__table__property.text__16 и другие...
        .hardness__table__value.text__16 
