.main__slider {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 728px;
	&-prev {
		display: none;
		@include max(sm) {
			display: flex;
		}
		@media (max-width: 576px) {
		left: -10px !important;
		}
		&::after {
			content: url(../img/svg/button-prev.svg);			
			@media (max-width: 576px)  {
					content: url(../img/svg/button-prev--mob.svg);   
			}
	}
	}
	&-next {
		display: none;
		@include max(sm) {
			display: flex;
		}
		@media (max-width: 576px) {
		right: -10px !important;
		}
		&::after {
			content: url(../img/svg/button-next.svg);
			@media (max-width: 576px) {
					content: url(../img/svg/button-next--mob.svg);   
			}
	}
	}
	@include max(xxl) {
    // height: calc(100vh - vh(100) - 100px);
		height: vw(728);
		min-height: vh(728);
	}
	@media (max-width: 1450px) {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	@include max(sm) {
		height: auto;
		width: 100%;
		padding-top: vw2(100);
		padding-bottom: vw2(36);
	}
	.main__slide {
		position: relative;
		height: 400px;
		@include max(xxl) {
			height: vw(400);
		}
		@include max(sm) {
			height: auto;
		}
		transition: all 1.5s;
		z-index: 5;
		&__picture {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			@include max(sm) {
				min-height: vw2(381);
			}
			@include max(xs) {
				// min-height: vw2(381);
				height: 50vh;
			}
			img {
				position: absolute;
				animation: TranslateXOut  1s ease   normal forwards;
				filter: blur(5px);
				top: 0;
				left: 0;
				height: 100%;
				object-fit: contain;
				object-position: center center;
				@include max(sm) {
					// position: relative;
					// height: 100%;
					width: 100%;
					animation: none;
					filter: blur(0px);
				}
			}

			@include max(sm) {
				&--desc{
					display: none;
				}
				&--mob {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
				}
			}
			&--mob {
				display: none;
			}
		}

		&__desc {
			position: absolute;
			top: 40%;
			left: -100%;
			display: flex;
			width: 100%;
			height: 100%;
			max-width: 513px;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			animation: decrease  1s ease   normal forwards;
			@include max(sm) {
				display: none;
			}
			&__title{
				color: $white;
				font-size: 72px;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;
				@include max(xxl) {
					font-size: vw(72);
				}	
			}
			&__text {
				position: relative;
				display: flex;
				align-items: center;
				color:  $grey;
				font-size: 16px;
				font-style: normal;
				font-weight: 550;
				line-height: 135%; 
				letter-spacing: 0.48px;
				text-transform: uppercase;
				cursor: pointer;
				text-decoration: none;
				@include max(xxl) {
					font-size: vw(16);
				}	
				&::before {
					content: "";
					position: relative;
					display: block;
					width: 88px;
					margin-right: 24px;
					border-bottom: 2px solid $grey;
					@include max(xxl) {
						width: vw(88);
						margin-right: vw(24);
					}	
				}							
			}
		}
		&__button {
			position:absolute;
			display: flex;
			flex-flow: row-reverse nowrap;
			align-items: center;
			color:  #FFF;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 125%;
			&__img {
				position: relative;
				width: 48px;
				height: 48px;
				z-index: 800;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.35;
				cursor: pointer;
				&__inner {
          transition: all 0.3s;
          position: absolute;
					left: 16px;
					top: 16px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: $red;
          display: block;
          content: "";
					z-index: 20;
					animation-name: pulse3;
					animation-timing-function: ease-in-out;
					animation-iteration-count: infinite;
				}
				&::before {

        }

			}
			@include max(xxl) {
				font-size: vw(32);
			}
			img, svg {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				display: block;
				width: 72px;
				height: 72px;
				object-fit: contain;
				object-position: center center;
				@include max(xxl) {
					font-size: vw(32);
					width: vw(72);
					height: vw(72);
				}
			}
			&--wrap {
				position: absolute;
				top: 0px;
				left: 50%;
				display: flex;
				width: 100%;
				height: 100%;
				max-width: 513px;
				justify-content: center;
				align-items: flex-start;
				flex-flow: column nowrap;
				animation: slideActive 0.5s ease 0s normal forwards;	

			}
		}
		&__choice {
			position: absolute;
			display: none;
			align-items: center;
			color:  $grey;
			font-size: vw2(12);
			font-style: normal;
			font-weight: 500;
			line-height: 135%; /* 16.2px */
			letter-spacing: 0.36px;
			text-transform: uppercase;
			bottom: vw2(-36);
			left: 0;
			cursor: pointer;
			text-decoration: none;
			@include max(sm) {
				display: flex;
			}
			&::before {
				content: "";
				position: relative;
				display: block;
				width: vw2(30);
				margin-right: vw2(12);
				border-bottom: 2px solid $grey;
			}				
		}
		&--right {
			.main__slide__desc {
				top: 40%;
				right: -80%;
				left: auto;
				align-items: flex-end;
				.main__slide__desc__title {
					text-align: right;

				}
			}
			.main__slide__button  {
				.main__slide__button__img {
					margin-right: 25px;
				}
			}	
		}
		&--left {
			.main__slide__button  {
				.main__slide__button__img {
					margin-left: 25px;
				}
			}	
		}
		&__specif {
			display: none;
			@include max(sm) {
				display: flex;
				position: relative;
				justify-content: center;
				align-items: center;
				flex-flow: column nowrap;
				width: 100%;
				margin-top: vw2(10);
			}
			&__title {
				color: $white;
				text-align: center;
				font-size: vw2(28);
				font-style: normal;
				font-weight: 700;
				line-height: 125%;
				margin-bottom: vw2(8);			
			}
			&__text {
				color: $grey;
				text-align: center;
				font-size: vw2(18);
				font-style: normal;
				font-weight: 700;
				line-height: 125%; 
			}
		}
	}
	.main__slide--right {
		&:not(.swiper-slide-active)  {
			cursor: pointer;
		}
		.main__slide__desc  {
			align-items: flex-end;
				
		}
		.main__slide__button {
			flex-flow: row nowrap;
			img {
				margin-right: 40px;
				@include max(xxl) {
					margin-right: vw(40);
				}
			}
		}
		.main__slide__button--wrap {
			left: 30%;
			animation: slideNoActive 1s ease 0s 1 normal forwards;	
		}
		.main__slide__picture {
			img {
				@include max(sm) {
					object-position: center center;				
				}	
			}

		}
	}  
	.main__slide--left {
		height: 400px;
		transition: all 1.5s;
		&:not(.swiper-slide-active)  {
			cursor: pointer;
		}
		.main__slide__picture {
			img {
				animation: TranslateXOut  1s ease   normal forwards;
				object-position: right center;
				@include max(sm) {
					animation: none;
					filter: blur(0);
					object-position: center center;
				}
			}

		}
		.main__slide__desc  {
			align-items: flex-start;
				
		}	
		.main__slide__button {
			img {
				margin-left: 40px;
				@include max(xxl) {
					margin-right: vw(40);
				}
			}
		}
		.main__slide__button--wrap {
			left: -25%;
			align-items: flex-start;
			animation: slideNoActive 1s ease  normal forwards;	
		}					
	} 
	.swiper-slide-active {
		z-index: 10;
		height: 728px;
		@include max(xxl) {
			height: vw(728);
		}

		.main__slide__desc  {
			animation: rise 1s ease  normal forwards;
			.main__slide__desc__title {
				font-size: 72px;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;
				@include max(xxl) {
					font-size: vw(72);
				}		
			}
			
		}
		.main__slide__button--wrap {
			animation: slideActive 1s ease  normal forwards;

		}
		.main__slide__picture {
			img {
				animation: TranslateXIn 1s ease   normal forwards;
				object-position: right center;	
				@include max(sm) {
					animation: none;
				}
			}

		}
	} 
	@keyframes rise {
		0% {
			opacity: 0;
			visibility: hidden;
		}
	
		100% {
			opacity: 1;	
			visibility: visible;
		}
	}
	@keyframes decrease {
		0% {
			opacity: 1;
			visibility: visible;
		}
	
		100% {
			opacity: 0;
			visibility: hidden;
		}
	}
	@keyframes slideNoActive {
		0% {
			transform: scale(0);
			opacity: 0;
		}
	
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	@keyframes slideActive {
		0% {
			transform: scale(1);
			opacity: 1;
		}
	
		100% {
			transform: scale(0);
			opacity: 0;
		}
	}
	@keyframes TranslateXIn {
		0% {
			transform: translateX(0%);
			filter: blur(5px);
		}
	
		100% {
			transform: translateX(-20%);
			filter: blur(0px);
		}
	}
	@keyframes TranslateXOut {
		0% {
			transform: translateX(-20%);
			filter: blur(0px);
		}
	
		100% {
			transform: translateX(0%);
			filter: blur(5px);
		}
	}

	.swiper-wrapper {
		align-items: center;
	}
}

@keyframes pulse3 {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.5, 1.5, 1.5);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


