.swiper-container.main__slider.js-main__slider
	.swiper-wrapper
		.swiper-slide.main__slide.main__slide--left.animate__animated.animate__fadeInLeft
			.main__slide__picture
				img(src="img/index/slider__main__1.png", srcset="img/index/slider__main__1--2x.png 2x" alt="")
			.main__slide__desc 
				.main__slide__desc__title
					| Твердомеры
				a(href="#").main__slide__desc__text
					| Как выбрать 
			.main__slide__specif
				.main__slide__specif__title
					| Твердомеры
				.main__slide__specif__text
					| Меры твердости
			.main__slide__choice как выбрать
			.main__slide__button--wrap
				.main__slide__button 
					<svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none">
					<circle cx="36" cy="36" r="35.5" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589"/>
					</svg>
					!="Твердомеры"
		.swiper-slide.main__slide.main__slide--right.animate__animated.animate__fadeInRight
			.main__slide__picture
				img(src="img/index/slider__main__2.png", srcset="img/index/slider__main__2--2x.png 2x" alt="")
			.main__slide__desc 
				.main__slide__desc__title
					| Меры твердости
				a(href="#").main__slide__desc__text
					| Проверка подлинности
			.main__slide__specif
				.main__slide__specif__title
					| Твердомеры
				.main__slide__specif__text
					| Меры твердости
			.main__slide__choice как выбрать
			.main__slide__button--wrap
				.main__slide__button 
					.main__slide__button__img
						<svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72" fill="none">
						<circle cx="36" cy="36" r="35.5" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589"/>
						</svg>
					!="Меры твердости"
