.main__slider {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 728px;
	.main__slide {
		position: relative;
		height: 728px;
		transition: all 1.5s;
		z-index: 5;
		@include max(sm) {
			min-height: 468px;
		}
		&__picture {
			img {
				position: absolute;
				filter: blur(0px);
				top: 0;
				left: 0;
				height: 100%;
				object-fit: contain;
				object-position: center center;
			}

			@include max(sm) {
				&--desc{
					display: none;
				}
				&--mob {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
				}
			}
			&--mob {
				display: none;
			}
		}

		&__desc {
			position: absolute;
			top: 40%;
			left: -100%;
			display: flex;
			width: 100%;
			height: 100%;
			max-width: 513px;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			animation: decrease 0.5s ease 0s 1 normal forwards;	
			&__title{
				color: $white;
				font-size: 32px;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;
			}
			&__text {
				position: relative;
				display: flex;
				align-items: center;
				color:  $grey;
				font-size: 16px;
				font-style: normal;
				font-weight: 550;
				line-height: 135%; 
				letter-spacing: 0.48px;
				text-transform: uppercase;
				&::before {
					content: "";
					position: relative;
					display: block;
					width: 88px;
					margin-right: 24px;
					border-bottom: 2px solid $grey;
				}							
			}
		}
		&__button {
			position:absolute;
			display: flex;
			flex-flow: row-reverse nowrap;
			align-items: center;
			color:  #FFF;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 125%;
			&--wrap {
				position: absolute;
				top: 0px;
				left: 50%;
				display: flex;
				width: 100%;
				height: 100%;
				max-width: 513px;
				justify-content: center;
				align-items: flex-start;
				flex-flow: column nowrap;
				animation: slideActive 0.5s ease 0s 1 normal forwards;	

			}
		}
		&--right {
			.main__slide__desc {
				top: 40%;
				right: -80%;
				left: auto;
				.main__slide__desc__title {
					text-align: right;
				}
			}			
		}
	}
	.swiper-slide-next {
		height: 400px;
		transition: all 1s;
		.main__slide__picture {
			img {
				filter: blur(5px);
				object-position: left center;
			}

		}
		.main__slide__desc  {
			align-items: flex-end;
				
		}
		.main__slide__button {
			flex-flow: row nowrap;
			img {
				margin-right: 40px;
			}
		}
		.main__slide__button--wrap {
			left: 30%;
			animation: slideNoActive 1s ease 0s 1 normal forwards;	
		}
		
	}  
	.swiper-slide-prev {
		height: 400px;
		transition: all 1s;
		.main__slide__picture {
			img {
				filter: blur(5px);
				object-position: right center	
			}

		}
		.main__slide__desc  {
			align-items: flex-start;
				
		}	
		.main__slide__button {
			img {
				margin-left: 40px;
			}
		}
		.main__slide__button--wrap {
			left: -20%;
			align-items: flex-start;
			animation: slideNoActive 1s ease 0s 1 normal forwards;	
		}					
	} 
	.swiper-slide-active {
		z-index: 10;
		.main__slide__desc  {
			align-items: flex-start;
			animation: rise 1s ease 0s 1 normal forwards;
			.main__slide__desc__title {
				font-size: 72px;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;		
			}
			
		}
		.main__slide__button--wrap {
			animation: slideActive 0.5s ease 0s 1 normal forwards;

		}
		.main__slide__picture {
			img {
				left: -20%;
				object-position: right center	
			}

		}
	} 
	@keyframes rise {
		0% {
			transform: scale(0);
		}
	
		100% {
			transform: scale(1);
		}
	}
	@keyframes decrease {
		0% {
			transform: scale(1);
		}
	
		100% {
			transform: scale(0);
		}
	}
	@keyframes slideNoActive {
		0% {
			transform: scale(0);
			opacity: 0;
		}
	
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	@keyframes slideActive {
		0% {
			transform: scale(1);
			opacity: 1;
		}
	
		100% {
			transform: scale(0);
			opacity: 0;
		}
	}

	.swiper-wrapper {
		align-items: center;
	}
}

.main__pagination  {
	position: fixed;
	left: 15px;
	top: 145px;
	display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
	width: 100%;
  .container {
    position: relative;
    width: 1920px;
    padding-left: 80px;
    padding-right: 80px;
  }
	&__wrap {
		position: relative;
		display: flex;
		width: 30px;
		justify-content: flex-start;
		flex-flow: column nowrap;
		height: auto;
	}

	&__item {
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		margin-bottom: 20px;
		font-size: 12px;
		color: #000;
		opacity: 1;
		background: transparent;
		color: #7F8589;
		font-size: 13px;
		font-style: normal;
		font-weight: 550;
		line-height: 135%; /* 17.55px */
		letter-spacing: 1.3px;
		text-transform: uppercase;
		transform: rotate(-90deg);
		text-decoration: none;
		&.active {
			color: $red;
		}		
	}

}

.hardness {
	padding: 92px 72px;
	&__title {
		width: 100%;
		max-width: 565px;
		z-index: 2;
	}
	&__table {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		max-width: 565px;
		z-index: 2;
		&__col {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			width: calc(50% - 36px);
			&__title {
				text-transform: uppercase;
				color: $greyBlack;
				margin-bottom: 22px;
			}
			.hardness__table__row {
				&:last-child {
					border-bottom: none;
				}
			}
		}
		&__row {
			position: relative;
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			padding-top: 12px;
			padding-bottom: 12px;
			border-bottom: 1px solid #303638;
		}
	}
	&__bg {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right top;
		}
	}
}
.ultrasonic {
	padding: 92px 72px;
	min-height: 782px;
	overflow: hidden;
	&__title {
		width: 100%;
		max-width: 616px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 136px;
	}
	&__row  {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}
	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		&__title {
			margin-bottom: 30px;
		}
		&:nth-child(1) {
			max-width: 300px;
		}
		&:nth-child(2) {
			max-width: 280px;
		}
	}
	&__btn {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		color: $red;
		text-decoration: underline;
		cursor: pointer;
		text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
		&:hover {
			text-decoration: none;
		}
	}
	&__bg  {
		position: absolute;
		right: 0;
		left: 0;
		bottom: -10px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 632px;
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right top;
		}		
	}
}

.measure {
	padding: 92px 72px;
	min-height: 600px;
	align-items: flex-end;

	&__title {
		width: 100%;
		max-width: 565px;
		z-index: 2;
	}
	&__col {
		position: relative;
		display: flex;
		width: 100%;
		min-height: calc(600px - 92*2px);
		max-width: 477px;
		flex-flow: column nowrap;
		justify-content: space-between;
		padding-bottom: 60px;
		z-index: 5;

	}
	&__desc {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
	}
	&__text {
		position: relative;
		display: inline-block;
		a {
			color: $white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__btn {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left top;
		}
	}
}

.warranty {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	&__col {
		&:nth-child(1) {
			width: 40.33%;
		}
		&:nth-child(2) {
			width: 57.38%;
		}
	}
	&__item {
		min-height: 376px;
		overflow: hidden;
		&:last-child {
			margin-bottom: 0;
		}
		&--one {
			padding-left: 72px;
			justify-content: center;
			.warranty__text {
				max-width: 364px;
			}
			.warranty__bg {
				position: absolute;
				right: 0;
				bottom: -10px;
				img {
					position: relative;
					width: 100%;
					object-fit: cover;
					object-position: right bottom;
				}
			}			
		}
		&--two {
			display: flex;
			justify-content: center;
			align-items: center;
			.warranty__btn {
				position: absolute;
				right: 56px;
				top: 48px;
			}
			.warranty__bg {
				margin-top: -50px;
				img {
					position: relative;
					width: 100%;
					object-fit: cover;
					object-position: right bottom;
				}
			}		
		}
	}
}
.security {
	padding: 77px 72px;
	margin-bottom: 0;
	overflow: hidden;
	min-height: 100%;
	&__bg {
		position: absolute;
		left: 0;
		bottom: -10px;
		img {
			position: relative;
			width: 100%;
			object-fit: cover;
			object-position: left bottom;
		}
	}
}

.arguments {
	position: relative;
	display: flex;
	width: 100%;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	&__wrap {
		position: relative;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: stretch;
		margin-bottom: 30px;	
	}
	&__title {
		text-align: center;
		margin-bottom: 58px;
	}
	&__col {
		width: 50%;
		&:nth-child(2) {
			margin-left: 15px;
		}
		&:nth-child(1) {
			margin-right: 15px;
		}
	}

	&__item {
		padding: 70px 47px;
		margin-bottom: 0;
		height: 100%;
		&--brend {
			justify-content: space-between;
			align-items: center;
		}
		&--awards {
			.arguments__item__text {
				margin-bottom: 80px;
				max-width: 454px;
			}
		}
		&__list {
			position: relative;
			display: flex;
			width: calc(100% + 0px);
			align-items: stretch;
			flex-flow: row wrap;
			margin-left: -0px;
			box-sizing: border-box;
			margin-bottom: 20px;
		}
		&__brend {
			box-sizing: border-box;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 0 33.333%;
			max-width: calc(33.3333% - 0px);
			height: auto;
			height: 35px;
			margin-top: 10px;
			margin-bottom: 48px;
			border-right: 1px solid #3F3F3F;
			&:nth-child(3n) {
				border-right: none;
			}
		}
		&__title {
			margin-bottom: 58px;
		}
		&__year {
			margin-bottom: 64px;
			max-height: 134px;
		}
		&__buttons {
			position: relative;
			display: flex;
			width: 100%;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: row wrap;
			&__row {
				position: relative;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				width: 100%;
				max-width: 464px;
				margin-bottom: 16px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__button {
			max-width: 100%;
		}
	}

}

.soc-big {
	position: relative;
	display: flex;
	justify-content: flex-start;
	width: calc(100% + 30px);
	margin-left: -30px;
	flex-flow: row nowrap;
	margin-bottom: 98px;
	&__item {
		position: relative;
		display: flex;
		flex: 1 0 33.333%;
		max-width: calc(33.333% - 30px);
		margin-left: 30px;
		justify-content: center;
		align-items: flex-start;
		padding-left: 32px;
		min-height: 120px;
		transition: all .87s;
		text-decoration: none;
		&:hover {
			transition: all .87s;
			.soc-big__item__title {
				color: $white;
			}
			.soc-big__item__picture {
				background: $white;
			}
		}
		&--tg {
			.soc-big__item__picture {
				background: #259CD8;
			}
			&:hover {
				background: #259CD8;
				.soc-big__item__picture {
					svg {
						path {
							fill: #259CD8;
						}
					}
				}

			}
			
		}
		&--mail {
			.soc-big__item__picture {
				background: $red;
			}
			&:hover {
				background: $red;
				.soc-big__item__picture {
					svg {
						path {
							fill: $red;
						}
					}
				}

			}
		}
		&--wt {
			.soc-big__item__picture {
				background: #25CB63;
			}
			&:hover {
				background: #25CB63;
				.soc-big__item__picture {
					svg {
						path {
							fill: #25CB63;
						}
					}
				}

			}
		}
		&__title {
			color: #7F8589;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%;	
		}
		&__subtitle {
			color: $white;
			font-size: 22px;
			font-style: normal;
			font-weight: 500;
			line-height: 150%;			
		}
		&__picture {
			position: absolute;
			right: 22px;
			width: 48px;
			height: 48px;	
			top: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $red;
			border-radius: 50%;
		}
	}
}


