.main__slider {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 728px;
	.main__slide {
		position: relative;
		height: 400px;
		transition: all 1.5s;
		z-index: 5;
		@include max(sm) {
			min-height: 468px;
		}
		&__picture {
			img {
				position: absolute;
				animation: TranslateXOut  1s ease   normal forwards;
				filter: blur(5px);
				top: 0;
				left: 0;
				height: 100%;
				object-fit: contain;
				object-position: center center;
			}

			@include max(sm) {
				&--desc{
					display: none;
				}
				&--mob {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
				}
			}
			&--mob {
				display: none;
			}
		}

		&__desc {
			position: absolute;
			top: 40%;
			left: -100%;
			display: flex;
			width: 100%;
			height: 100%;
			max-width: 513px;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			animation: decrease  1s ease   normal forwards;
			&__title{
				color: $white;
				font-size: 72px;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;		
			}
			&__text {
				position: relative;
				display: flex;
				align-items: center;
				color:  $grey;
				font-size: 16px;
				font-style: normal;
				font-weight: 550;
				line-height: 135%; 
				letter-spacing: 0.48px;
				text-transform: uppercase;
				&::before {
					content: "";
					position: relative;
					display: block;
					width: 88px;
					margin-right: 24px;
					border-bottom: 2px solid $grey;
				}							
			}
		}
		&__button {
			position:absolute;
			display: flex;
			flex-flow: row-reverse nowrap;
			align-items: center;
			color:  #FFF;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 125%;
			&--wrap {
				position: absolute;
				top: 0px;
				left: 50%;
				display: flex;
				width: 100%;
				height: 100%;
				max-width: 513px;
				justify-content: center;
				align-items: flex-start;
				flex-flow: column nowrap;
				animation: slideActive 0.5s ease 0s normal forwards;	

			}
		}
		&--right {
			.main__slide__desc {
				top: 40%;
				right: -80%;
				left: auto;
				align-items: flex-end;
				.main__slide__desc__title {
					text-align: right;

				}
			}			
		}
	}
	.main__slide--right {
		.main__slide__desc  {
			align-items: flex-end;
				
		}
		.main__slide__button {
			flex-flow: row nowrap;
			img {
				margin-right: 40px;
			}
		}
		.main__slide__button--wrap {
			left: 30%;
			animation: slideNoActive 1s ease 0s 1 normal forwards;	
		}
		
	}  
	.main__slide--left {
		height: 400px;
		transition: all 1.5s;
		.main__slide__picture {
			img {
				animation: TranslateXOut  1s ease   normal forwards;
				object-position: right center	
			}

		}
		.main__slide__desc  {
			align-items: flex-start;
				
		}	
		.main__slide__button {
			img {
				margin-left: 40px;
			}
		}
		.main__slide__button--wrap {
			left: -25%;
			align-items: flex-start;
			animation: slideNoActive 1s ease  normal forwards;	
		}					
	} 
	.swiper-slide-active {
		z-index: 10;
		height: 728px;
		.main__slide__desc  {
			animation: rise 1s ease  normal forwards;
			.main__slide__desc__title {
				font-size: 72px;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;		
			}
			
		}
		.main__slide__button--wrap {
			animation: slideActive 1s ease  normal forwards;

		}
		.main__slide__picture {
			img {
				animation: TranslateXIn 1s ease   normal forwards;
				object-position: right center	
			}

		}
	} 
	@keyframes rise {
		0% {
			opacity: 0;
			visibility: hidden;
		}
	
		100% {
			opacity: 1;	
			visibility: visible;
		}
	}
	@keyframes decrease {
		0% {
			opacity: 1;
			visibility: visible;
		}
	
		100% {
			opacity: 0;
			visibility: hidden;
		}
	}
	@keyframes slideNoActive {
		0% {
			transform: scale(0);
			opacity: 0;
		}
	
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}
	@keyframes slideActive {
		0% {
			transform: scale(1);
			opacity: 1;
		}
	
		100% {
			transform: scale(0);
			opacity: 0;
		}
	}
	@keyframes TranslateXIn {
		0% {
			transform: translateX(0%);
			filter: blur(5px);
		}
	
		100% {
			transform: translateX(-20%);
			filter: blur(0px);
		}
	}
	@keyframes TranslateXOut {
		0% {
			transform: translateX(-20%);
			filter: blur(0px);
		}
	
		100% {
			transform: translateX(0%);
			filter: blur(5px);
		}
	}

	.swiper-wrapper {
		align-items: center;
	}
}




