.swiper-container.main__slider.js-main__slider
	.swiper-wrapper
		.swiper-slide.main__slide
			.main__slide__picture
				picture 
					source(media="(max-width: 700px)", srcset="img/index/slider__main__1.png")
					img(src="img/index/slider__main__1.png", alt="")
			.main__slide__desc 
				.main__slide__desc__title
					| Твердомеры
				.main__slide__desc__text
					| Как выбрать 
			.main__slide__button--wrap
				.main__slide__button 
					img(src="img/svg/main__slide__button.svg", alt="")
					!="Твердомеры"
		.swiper-slide.main__slide.main__slide--right
			.main__slide__picture
				picture 
					source(media="(max-width: 700px)", srcset="img/index/slider__main__2.png")
					img(src="img/index/slider__main__2.png", alt="")
			.main__slide__desc 
				.main__slide__desc__title
					| Меры твердости
				.main__slide__desc__text
					| Проверка подлинности
			.main__slide__button--wrap
				.main__slide__button 
					img(src="img/svg/main__slide__button.svg", alt="")
					!="Меры твердости"
