.equipment-two.equipment-two--desc
  .equipment-two__title Комплектация
  .equipment-two__row
    .sonic-sensor__col
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 1. 
          !="Датчик ультразвуковой У15"
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 2. 
          !="Датчик динамический Д"
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 3. 
          !=" Электронный блок"
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 4. 
          !=" Кабель для подключения ультразвукового датчика к электронному блоку"
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 5. 
          !="Кабель для подключения динамического датчика к электронному блоку"    
    .equipment-two__col
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 6. 
          !="USB-провод для зарядки и соединения с ПК"
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 7. 
          !="Блок питания для зарядки"
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 8. 
          !="Насадка для сферических деталей"
      .equipment-two__list
        .equipment-two__list__title.text__20 
          span 9. 
          !="Насадка для цилиндрических деталей"
  .equipment-two__bg.animate__animated
    img(src="img/index/equipment-two__bg.png", srcset="img/index/equipment-two__bg--2x.png 2x" alt="")
.equipment-two.equipment-two--mob
  .equipment-two__title Электронный блок
  .equipment-two__bg
    img(src="img/index/equipment-two__bg--mob-2.png", srcset="img/index/equipment-two__bg--mob-2--2x.png 2x" alt="")
    .hints
      div.hint.hint__equipment-two(data-template="equipment-two__1")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"  transform="scale(1)"/>
        </svg>
      div.hint.hint__equipment-two(data-template="equipment-two__2")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__equipment-two(data-template="equipment-two__3")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__equipment-two(data-template="equipment-two__4")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__equipment-two(data-template="equipment-two__5")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__equipment-two(data-template="equipment-two__6")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__equipment-two(data-template="equipment-two__7")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__equipment-two(data-template="equipment-two__8")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      div.hint.hint__equipment-two(data-template="equipment-two__9")
        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
        <path d="M46.3852 23.0103C46.3852 35.5796 36.1957 45.7691 23.6264 45.7691C11.0571 45.7691 0.867653 35.5796 0.867653 23.0103C0.867653 10.4409 11.0571 0.251442 23.6264 0.251442C36.1957 0.251442 46.3852 10.4409 46.3852 23.0103Z" fill="#7F8589" fill-opacity="0.4" stroke="#7F8589" stroke-width="0.482376"/>
        <ellipse cx="23.6259" cy="23.0101" rx="2.55555" ry="2.55556" fill="#FF3E41"/>
        </svg>
      .hint__lists(style="display:none")
        .hint__list(id="equipment-two__1")
          p Датчик ультразвуковой У15
        .hint__list(id="equipment-two__2")
          p Датчик динамический Д 
        .hint__list(id="equipment-two__3")
          p Электронный блок  
        .hint__list(id="equipment-two__4")
          p Кабель для подключения ультразвукового датчика к электронному блоку 
        .hint__list(id="equipment-two__5")
          p Кабель для подключения динамического датчика к электронному блоку
        .hint__list(id="equipment-two__6")
          p USB-провод для зарядки и соединения с ПК
        .hint__list(id="equipment-two__7")
          p Блок питания для зарядки
        .hint__list(id="equipment-two__8")
          p Насадка для сферических деталей
        .hint__list(id="equipment-two__9")
          p Насадка для цилиндрических деталей
