.portable
  .portable__col.portable__col__one
    .portable__row
      .portable__tabel
        .portable__tabel__title.text__20 Измеряет твердость металлов по шкалам:
        .portable__tabel__row
          .portable__tabel__col.text__15 Роквелл «C» 20..70 HRC
          .portable__tabel__col.text__15 Погр: ±2 HRC
        .portable__tabel__row
          .portable__tabel__col.text__15 Бринелль 75.450(650) HB(HBW)
          .portable__tabel__col.text__15 Погр: ±12 HB
        .portable__tabel__row
          .portable__tabel__col.text__15 Виккерс 75.999 HV
          .portable__tabel__col.text__15 Погр: ±15 HV
    .portable__row
      .portable__row__title.text__20 Включён в ГОСРЕЕСТР СИ
      ul
        li.text__15 Действие поверки 1 год
        li.text__15 Поставляется поверенным
    .portable__row
      .portable__row__title.text__20 Заводская калибровка на мерах 1 разряда
  .portable__col
    .portable__picture
      picture
        source(media="(max-width: 767px)", srcset="img/index/portable__1--mob.png")
        img(src="img/index/portable__1--2.png", alt="")