.fabrication
  .fabrication__title.title__40 Наше производство
  .swiper-container.fabrication__swiper.js-fabrication
    .swiper-wrapper
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/index/fabrication--1.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 1")
        .fabrication__slide__gallery
          img(src="img/index/fabrication--1.png", alt="")

      .swiper-slide.fabrication__slide
        .fabrication__slide__gallery
          .fabrication__slide__gallery--quartet
            a.fabrication__slide__gallery--quartet__item.js-fabrication-fancy(href="img/index/fabrication--2.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 2")
              img(src="img/index/fabrication--2.png", alt="")
            a.fabrication__slide__gallery--quartet__item.js-fabrication-fancy(href="img/index/fabrication--3.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 3")
              img(src="img/index/fabrication--3.png", alt="")
            a.fabrication__slide__gallery--quartet__item.js-fabrication-fancy(href="img/index/fabrication--4.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 4")
              img(src="img/index/fabrication--4.png", alt="")
            a.fabrication__slide__gallery--quartet__item.js-fabrication-fancy(href="img/index/fabrication--5.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 5")
              img(src="img/index/fabrication--5.png", alt="")
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/index/fabrication--1.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 6")
        .fabrication__slide__gallery
          img(src="img/index/fabrication--6.png", alt="")
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/index/fabrication--1.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 1")
        .fabrication__slide__gallery
          img(src="img/index/fabrication--1.png", alt="")

      .swiper-slide.fabrication__slide
        .fabrication__slide__gallery
          .fabrication__slide__gallery--quartet
            a.fabrication__slide__gallery--quartet__item.js-fabrication-fancy(href="img/index/fabrication--2.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 2")
              img(src="img/index/fabrication--2.png", alt="")
            a.fabrication__slide__gallery--quartet__item.js-fabrication-fancy(href="img/index/fabrication--3.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 3")
              img(src="img/index/fabrication--3.png", alt="")
            a.fabrication__slide__gallery--quartet__item.js-fabrication-fancy(href="img/index/fabrication--4.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 4")
              img(src="img/index/fabrication--4.png", alt="")
            a.fabrication__slide__gallery--quartet__item.js-fabrication-fancy(href="img/index/fabrication--5.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 5")
              img(src="img/index/fabrication--5.png", alt="")
      a.swiper-slide.fabrication__slide.js-fabrication-fancy(href="img/index/fabrication--1.png" data-fancybox="gallery"  data-caption="Большое нзвание для фото 6")
        .fabrication__slide__gallery
          img(src="img/index/fabrication--6.png", alt="")


     
  .swiper-button-prev.fabrication-prev
  .swiper-button-next.fabrication-next

  .btn.fabrication__btn все публикации