.section__breadcrumbs
	.container 
		.breadcrumbs
			a.breadcrumbs__item 
				| Главная
			a.breadcrumbs__item 
				| Продукция
			a.breadcrumbs__item.breadcrumbs__item__active
				| Продукция описание