.products
  .products__title.title__40 Наша продукция
  .products__top
    .container
      .products__tabs
        .products__tab.text__18.active(data-tab="1") Твердомеры
        .products__tab.text__18(data-tab="2") Меры твердости
      .catalog__button.text__18
        img(src="img/svg/catalog__button.svg", alt="")
        !="В каталог"
  .container
    .products__tab-content 
      .products-pane.tab-pane(data-tab-content="1").active 

        .swiper-container.hardness-tester.js-hardness-testers
          .swiper-wrapper
            .swiper-slide.hardness-tester__slide
              .hardness-tester__slide__title.text__18   Ультразвуковой твердомер МЕТ-УДА
              .hardness-tester__slide__gallery
                .swiper-container.hardness-gallery.js-hardness-gallery
                  .swiper-wrapper
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--1.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--2.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--3.png", alt="")
                  .swiper-pagination.hardness-gallery-pagination
              .hardness-tester__slide__bottom 
                .hardness-tester__slide__cost           
                  .hardness-tester__slide__cost__title В наличии          
                  .hardness-tester__slide__cost__value         
                    .hardness-tester__slide__cost__value--sale 85 200       
                    .hardness-tester__slide__cost__value--actual  79 368      
                .hardness-tester__slide__buttons
                  .hardness-tester__slide__cart
                    img(src="img/svg/cart-lite.svg", alt="")
                  .hardness-tester__slide__front
                    img(src="img/svg/row-right.svg", alt="")
          
            .swiper-slide.hardness-tester__slide
              .hardness-tester__slide__title.text__18   Ультразвуковой твердомер МЕТ-УДА
              .hardness-tester__slide__gallery
                .swiper-container.hardness-gallery.js-hardness-gallery
                  .swiper-wrapper
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--2.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--1.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--3.png", alt="")
                  .swiper-pagination.hardness-gallery-pagination
              .hardness-tester__slide__bottom 
                .hardness-tester__slide__cost           
                  .hardness-tester__slide__cost__title В наличии          
                  .hardness-tester__slide__cost__value              
                    .hardness-tester__slide__cost__value--actual  82 100      
                .hardness-tester__slide__buttons
                  .hardness-tester__slide__cart
                    img(src="img/svg/cart-lite.svg", alt="")
                  .hardness-tester__slide__front
                    img(src="img/svg/row-right.svg", alt="")
          
            .swiper-slide.hardness-tester__slide
              .hardness-tester__slide__title.text__18   Ультразвуковой твердомер МЕТ-УДА
              .hardness-tester__slide__gallery
                .swiper-container.hardness-gallery.js-hardness-gallery
                  .swiper-wrapper
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--3.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--2.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--1.png", alt="")
                  .swiper-pagination.hardness-gallery-pagination
              .hardness-tester__slide__bottom 
                .hardness-tester__slide__cost           
                  .hardness-tester__slide__cost__title В наличии          
                  .hardness-tester__slide__cost__value         
                    .hardness-tester__slide__cost__value--sale 85 200       
                    .hardness-tester__slide__cost__value--actual  79 368      
                .hardness-tester__slide__buttons
                  .hardness-tester__slide__cart
                    img(src="img/svg/cart-lite.svg", alt="")
                  .hardness-tester__slide__front
                    img(src="img/svg/row-right.svg", alt="")
            .swiper-slide.hardness-tester__slide
              .hardness-tester__slide__title.text__18   Ультразвуковой твердомер МЕТ-УДА
              .hardness-tester__slide__gallery
                .swiper-container.hardness-gallery.js-hardness-gallery
                  .swiper-wrapper
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--1.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--2.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--3.png", alt="")
                  .swiper-pagination.hardness-gallery-pagination
              .hardness-tester__slide__bottom 
                .hardness-tester__slide__cost           
                  .hardness-tester__slide__cost__title В наличии          
                  .hardness-tester__slide__cost__value         
                    .hardness-tester__slide__cost__value--sale 85 200       
                    .hardness-tester__slide__cost__value--actual  79 368      
                .hardness-tester__slide__buttons
                  .hardness-tester__slide__cart
                    img(src="img/svg/cart-lite.svg", alt="")
                  .hardness-tester__slide__front
                    img(src="img/svg/row-right.svg", alt="")
          
            .swiper-slide.hardness-tester__slide
              .hardness-tester__slide__title.text__18   Ультразвуковой твердомер МЕТ-УДА
              .hardness-tester__slide__gallery
                .swiper-container.hardness-gallery.js-hardness-gallery
                  .swiper-wrapper
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--2.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--1.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--3.png", alt="")
                  .swiper-pagination.hardness-gallery-pagination
              .hardness-tester__slide__bottom 
                .hardness-tester__slide__cost           
                  .hardness-tester__slide__cost__title В наличии          
                  .hardness-tester__slide__cost__value              
                    .hardness-tester__slide__cost__value--actual  82 100      
                .hardness-tester__slide__buttons
                  .hardness-tester__slide__cart
                    img(src="img/svg/cart-lite.svg", alt="")
                  .hardness-tester__slide__front
                    img(src="img/svg/row-right.svg", alt="")
          
            .swiper-slide.hardness-tester__slide
              .hardness-tester__slide__title.text__18   Ультразвуковой твердомер МЕТ-УДА
              .hardness-tester__slide__gallery
                .swiper-container.hardness-gallery.js-hardness-gallery
                  .swiper-wrapper
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--3.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--2.png", alt="")
                    .swiper-slide.hardness-gallery__slide
                      img(src="img/index/hardness-gallery__slide--1.png", alt="")
                  .swiper-pagination.hardness-gallery-pagination
              .hardness-tester__slide__bottom 
                .hardness-tester__slide__cost           
                  .hardness-tester__slide__cost__title В наличии          
                  .hardness-tester__slide__cost__value         
                    .hardness-tester__slide__cost__value--sale 85 200       
                    .hardness-tester__slide__cost__value--actual  79 368      
                .hardness-tester__slide__buttons
                  .hardness-tester__slide__cart
                    img(src="img/svg/cart-lite.svg", alt="")
                  .hardness-tester__slide__front
                    img(src="img/svg/row-right.svg", alt="")

        .swiper-button-prev.hardness-tester-prev
        .swiper-button-next.hardness-tester-next
      .products-pane.tab-pane(data-tab-content="2") Tab content 2
