.products
  .products__title.title__40 Наша продукция
  .products__top
    .container
      .products__tabs
        .products__tab.text__18.active(data-tab="1") Твердомеры
        .products__tab.text__18(data-tab="2") Меры твердости
      .catalog__button.text__18
        img(src="img/svg/catalog__button.svg", alt="")
        !="В каталог"
  .container
    .products__tab-content 
      .products-pane.tab-pane(data-tab-content="1").active 
        include ../../../blocks/components/hardness-tester/hardness-tester
      .products-pane.tab-pane(data-tab-content="2") 
        include ../../../blocks/components/hardness-tester/hardness-tester
