.products {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  &__top {
    position: relative;
    display: flex;
    width: 100%;
    height: 54px;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid $grey;
    margin-bottom: 56px;
    .catalog__button {
      position: absolute;
      right: 0;
      top:0;
      &--desc {
        @include max(md) {
          display: none;
        }

      }
      &--mob {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        @include max(md) {
          display: flex;
        }
      }
    }
  }
  &__tabs {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    @include max(md) {
      justify-content: flex-start;
    }
  }
  &__tab {
    position: relative;
    display: flex;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    height: 54px;
    align-items: flex-start;
    color: $greyBlack !important;
    margin-right: 49px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: $mainDark !important;
      border-bottom: 1px solid $mainDark;
    }
  }
}

