.products
  .products__title.title__40 Наша продукция
  .products__top
    .container
      .products__tabs
        .products__tab.text__18.active Твердомеры
        .products__tab.text__18 Меры твердости
      .catalog__button.catalog__button--desc.text__18
        img(src="img/svg/catalog__button.svg", alt="")
        !="В каталог"
  .container.container--pr-none
    .products__tab-content 
      .products-pane.tab-pane
        include ../../../blocks/components/hardness-tester/hardness-tester

