.ultrasonic.block__overlay
  .ultrasonic__title.title__40 Ультразвуковой и динамический датчики
  .ultrasonic__row 
    .ultrasonic__col
      .ultrasonic__col__title.title__24 Включен в Госреестр СИ 
      .ultrasonic__item.text__16 ―  Действие поверки 1 год
      .ultrasonic__item.text__16 ―  Поставляется поверенным
    .ultrasonic__col
      .ultrasonic__col__title.title__24 Быстрая калибровка по мерам 1 разряда  
      a(href="#").btn.btn--red Подробнее
  .ultrasonic__bg 
    img(src="img/index/ultrasonic__bg.png", srcset="img/index/ultrasonic__bg--2x.png 2x" alt="")
