.ultrasonic {
	padding: 92px 60px;
	padding-top: 70px;
	min-height: 782px;
	overflow: hidden;
	@include max(md) {
		padding-bottom: 0;
		padding-left: 24px;
		padding-right: 24px;
		padding-top: 32px;
		min-height: auto;
	}
	&__title {
		width: 100%;
		max-width: 616px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 120px;
		@include max(md) {
			text-align: left;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 40px;
		}
		@include max(md) {
			margin-bottom: 32px !important;
		}
	}
	&__row  {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		z-index: 5;
		@include max(md) {
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
		}
		@include max(sm) {
			margin-bottom: -45px;
		}
	}
	&__col {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		&__title {
			margin-bottom: 30px;
			@include max(md) {
				margin-bottom: 16px;
				
			}
			@include max(sm) {
				margin-bottom: 12px;
				
			}
		}
		&:nth-child(1) {
			max-width: 300px;
			@include max(md) {
				margin-bottom: 25px;
				
			}
		}
		&:nth-child(2) {
			max-width: 280px;
			@include max(sm) {
				max-width: 180px;
				
			}
		}
	}
	&__bg  {
		position: absolute;
		right: 0;
		left: 0;
		bottom: -10px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 632px;
		z-index: 1;
		@include max(md) {
			position: relative;
			width: 100%;
		}
		@include max(xs) {
			// width: calc(100% + 48px);
			// margin-left: -24px;
		}
		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right top;
		}		
	}
}