

.company-card {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	background: $greyLight;
	border-radius: 10px;
	padding: 30px;
	padding-bottom: 46px;
	@include max(sm) {
		padding: 20px;
		padding-bottom: 30px;
	}
	&__block {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		border-bottom: 1px solid #CBCECF;
		padding-bottom: 24px;
		margin-bottom: 24px;
		@include max(sm) {
			padding-bottom: 22px;
			margin-bottom: 22px;
		}
	}
	&__title {
		margin-bottom: 15px;
		font-weight: 700;
	}
	&__user {
		font-weight: 700;
	}
	&__sale {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		&__row {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
		}
		&__title {
			color: $red !important;
			font-weight: 700;		
		}
		&__name {
			color: $red !important;
		}
		&__value {
			color: $red !important;
			font-weight: 700;		
		}
	}
	&__link {
		color: $mainDark !important;
		font-weight: 400;
		text-decoration: none;
		transition: all .3s;
		&:hover {
			transition: all .3s;
			color: $greyBlack !important;
		}
	}
	&__report {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		margin-bottom: 24px;
		&__title {
			color: $greyBlack !important;
			margin-bottom: 18px;
		}
		&__date {
			position: relative;
			width: 100%;
			margin-bottom: 12px;
			label {
				.span__start  {
					position: absolute;
					top: 12px;
					right: 14px;
					z-index: 40;

				}
			}
		}	
	}
	&__btn {
		padding-left: 20px;
		padding-right: 20px;
		white-space: nowrap;
		font-size: 11px;
		font-style: normal;
		font-weight: 550;
		line-height: 135%; /* 14.85px */
		text-transform: uppercase;
	}
	&__bottom {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		&__row {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-bottom: 0px;

		}
	}
	&__btn--exit {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 100%;
		color: $greyBlack !important;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		padding-bottom: 0 !important;
		border: none;
		transition: all .3s;
		svg {
			margin-bottom: 4px;
		}
		&:hover {
			transition: all .3s;
			color: $mainDark !important;
		}
		&::after {
			display: none;
		}
		&::before {
				display: none;
		}
	}

}







.datepicker-btns {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.datepicker-btn {
	display: inline-block;
	border-radius: 24px;
	border: 1px solid $red;
	padding: 5px;
	box-sizing: border-box;
	width: calc(50% - 10px);
	max-width: calc(50% - 10px);
	cursor: pointer;

	
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: $red;
	transition: .3s;

	span {
		position: relative;
		z-index: 5;
	}

	&--reject {
		&:hover {
			background: #F4F3F0;
			border: 1px solid #F4F3F0;
			color: $red;
		}

	}

	&--accept {
		color: #FFFFFF;
		background: $mainDark;
		border: 1px solid $mainDark;
		overflow: hidden;
		position: relative;
		z-index: 1;
		&:hover {
			background: $greyBlack;
			border: 1px solid $greyBlack;
		}
	}
}



.flatpickr-wrapper {
	width: 100%;
}

.flatpickr-calendar {
	width: 250px;
	padding: 14px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 0;

	.select2-container {
		height: 40px;
		width: 100% !important;
		.select2-selection__arrow {
			margin-right: 6px;
			margin-left: 6px;
		}
		&.select2 {
			width: 100% !important;
		}

		.select2-selection--single {
			height: 40px;

			.select2-selection__rendered {
				font-weight: 500;
				font-size: 12px;
				line-height: 16px;
				color: $mainDark;
			}
		}

		.select2-dropdown .select2-results .select2-results__option {
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;
			color: $mainDark;


		}
		.select2-dropdown {
			background: transparent;


		}
	}
	.periodSelect {
		position: relative;
		width: 100%;
		height: 208px;
		background: #fff;
		padding: 32px;
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: 40px;
		&__date {
			position: relative;
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			&__title {
				position: relative;
				
				font-weight: 400;
				// font-size: $fz13;
				// line-height: $lh16;
				color: $mainDark;
				margin-bottom: 16px;
			}
			&__value {
				position: relative;
				display: flex;
				justify-content: space-between;
				height: 40px;
				width: 100%;
				margin-bottom: 32px;
				&__month {
					position: relative;
					display: inline-block;
					box-sizing: border-box; 
					width: 144px;
					margin-right: 32px;
	
				}
				&__years {
					position: relative;
					box-sizing: border-box; 
					width: 100%;
					max-width: 96px;
					border: none;
					border-bottom: 1px solid $mainDark;
					color: $mainDark;
					font-weight: 700;
					// font-size: $fz17;
					// line-height: $lh24;
		
				}
			}
		}
		&__button {
			height: 40px;
		}
	}
	.select2-container {
		border: none;
		color: $mainDark;
		font-weight: 700;
		// font-size: $fz17;
		// line-height: $lh24;
		height: 32px;
		.select2-selection--single {
			width: 100%;
		}
	}
	// .select2-container--open {
	// 	transition: all .3s;
	// 	.select2-selection__arrow {
	// 		transition: transform .3s;
	// 		transform: rotate(180deg);
	// 	}
	// }
}

.flatpickr-calendar:before,
.flatpickr-calendar:after {
	display: none !important;
}

.flatpickr-weekdays {
	margin-top: 15px;
	padding-right: 12px;
}

span.flatpickr-weekday {
	text-transform: lowercase;
	
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: $mainDark;

	&:last-child {
		color: $red;

	}
}


.flatpickr-time {
	display: none !important;
}

.flatpickr-prev-month,
.flatpickr-next-month {
	display: none;
}


.flatpickr-rContainer {
	width: 100%;
}

.flatpickr-current-month {
	width: 100%;
	left: 0;
}

.flatpickr-days {
	width: 100%;
}

.dayContainer {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	padding-right: 12px;
	margin-top: 10px;
	height: 192px;

}

.flatpickr-day {
	
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: $mainDark;
	height: 24px;
	width: 24px;
	max-width: 24px;
	margin-left: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all .3s;


	&:nth-child(7n-6) {
		margin-left: 0;

	}

	&:nth-child(7n) {
		color: $red;

	}


}



.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
	background: $red;
	color: #fff !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #fff;

	color: $mainDark;

	&:nth-child(7n) {
		color: $red;
	}

	&::before {
		opacity: 1;
	}
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
	cursor: pointer;
	outline: 0;
	background: $red;
	color: #fff !important;
	border-color: #fff;
}

.flatpickr-input {
	min-height: 45px;
	padding-left: 22px;
	padding-right: 30px;
	border-radius: 5px;
	border: 1px solid var(--Stroke, #E3E3E3);
	background: var(--white, #FFF);
	display: flex;
	width: 100%;
	outline: none;
	color: $mainDark;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
	&::placeholder {
		color: $mainDark;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 125%;
		@include max(sm) {
				font-size: 14px;
				font-style: normal;
				font-weight: 550;
				line-height: 150%;
		}
	}
}
.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
	opacity: 0;
	pointer-events: none;
}


.flatpickr-custom-selects {
	display: flex;
	justify-content: space-between;


}

.flatpickr-custom-select {

	.select2-container .select2-dropdown .select2-results__options {
		overflow: auto;
		max-height: 186px;
		&::-webkit-scrollbar {
			width: 3px;
			height: 3px;
			background-color: $greyLight;
		}
		
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: $greyBlack;
		}
		
		&::-webkit-scrollbar-track {
			border-radius: 10px;
	
			background-color: $grey;
		}
	}

	&--month {
		width: 100%;
		margin-right: 12px;
		.select2-results {
			width: 115px;
			
		}

	}

	&--year {
		width:100%;
		.select2-results {
			width: 95px;
		}

	}
}

.flatpickr-month {
	display: none;
}




.form-page {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: auto;
	background: #F4F3F0;
	padding-top: 60px;
	padding-bottom: 34px;

	@include max(sm) {
		padding-top: 40px;
	}

	.container {
		&:first-child {
			.form-page__layout--left {
				border-top: 1px solid rgba(0, 85, 182, 0.3);

				@include max(lg) {
					border-top: none;
				}

			}

			.form-page__layout--right {
				border-top: 1px solid rgba(0, 85, 182, 0.3);

				@include max(lg) {
					border-top: none;
				}
			}
		}

	}

	&__line {
		position: relative;
		height: 1px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 1440px;
		background: rgba(0, 85, 182, 0.3);

		@include max(lg) {
			display: none;
		}
	}

	&__title {
		font-weight: 500;
		// font-size: $fz32;
		// line-height: $lh40;
		color: $mainDark;
		margin-bottom: 60px;

		@include max(sm) {
			margin-bottom: 40px;
		}
	}

	&__layout {
		position: relative;
		width: 100%;
		display: flex;

		@include max(lg) {
			flex-flow: column nowrap;
		}

		&--left {
			position: relative;
			display: flex;
			flex: 1 0 368px;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			margin-right: 32px;
			padding-top: 40px;
			padding-bottom: 66px;

			@include max(lg) {
				flex: 1 0 auto;
				margin-right: 0;
				padding-right: 0;
				padding-top: 0;
				padding-bottom: 32px;
				border-bottom: 1px solid rgba(0, 85, 182, 0.3);
			}
		}

		&--right {
			padding-top: 40px;
			padding-bottom: 66px;
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			flex: 1 1 auto;
			width: 100%;

			@include max(lg) {
				padding-top: 40px;
				border: none;
			}
		}
	}
}


// .select2-named-example-form__dd .select2-results__options{
// 	max-height: 200px;
// 	overflow: auto;
// 	overflow-x: hidden;
// }


