.text-block 
  h3 Ультразвуковой твердомер МЕТ-У1 
  p
    !='<b>Твердомер представляет собой портативный прибор, состоящий из электронного блока и датчика, соединенных между собой кабелем.</b>'
  p 
    !='Электронный блок выпускается в двух модификациях. Модификация электронного блока для твердомера МЕТ-У1 выполнена в пластмассовом корпусе. Модификация электронного блока для твердомера МЕТ-У1А выполнена в алюминиевом, пылевлагонепроницаемом корпусе, класса защиты IP66.'
  p  
    !='Твердомер комплектуется ультразвуковым датчиком У15 (с нагрузкой 1,5 кгс) или У50 (с нагрузкой 5 кгс). По заявке заказчика, твердомер может быть укомплектован также датчиком У10, У100 или коротким датчиком У15К, У50К. Характеристики всех датчиков приведены в Таблице. Датчики совместимы с любой модификацией электронного блока'
  br
  <table>
    <tr>
      <th>Шкала твердости</th>
      <th>Диапазон измерений</th>
      <th>Пределы допускаемой абсолютной погрешности твердомера</th>
    </tr>
    <tr>
      <td>Шкала "С" Роквелла</td>
      <td>(20-70) HRC</td>
      <td>±2 HRC</td>
    </tr>
    <tr>
      <td>Шкала Бринелля</td>
      <td>(20-70) HRC</td>
      <td>±2 HRC</td>
    </tr>
    <tr>
      <td>Шкала Виккерса</td>
      <td>(20-70) HRC</td>
      <td>+2 HRC</td>
    </tr>
    <tr>
      <td>Шкала Шора</td>
      <td>(20-70) HRC</td>
      <td>+2 HRC</td>
    </tr>
  </table>
  h3 Отличительные особенности
  p 
    !='Реализует метод ультразвукового контактного импеданса (UCI). UCI-метод наиболее подходит для контроля твердости однородных материалов и для тонких или легких по весу изделий, где другие портативные методы испытаний оказываются ненадежными или неприменимыми'
  .text-block__picture
    img(src="../img/index/hardness-gallery__slide--1.png", alt="")
  h3 Отличительные особенности
  ul 
    li измерение твёрдости металлов и сплавов по стандартизованным шкалам твёрдости Роквелла (HRC), Бринелля (НВ), Виккерса (HV) и Шора (HSD);
    li наличие трех дополнительных шкал Н1, Н2, Н3 для калибровки различных шкал твердости (например, Роквелла В, Супер-Роквелла, Бринелля (HBW) и т.д.) для контроля твердости изделий из стали и других металлов (например, сплавов алюминия, меди и т.д.);
    li использование шкалы Rm (МПа) для определения предела прочности на разрыв (для сталей перлитного класса по ГОСТ 22761);
    li возможность контроля твердости изделий, которые по габаритам недоступны для стационарных твердомеров
    li измерение твердости любых по массе изделий толщиной от 1 мм, недоступных
