.comparison
  .comparison__tabel
    .comparison__tabel__top
      .comparison__tabel__row
        .comparison__tabel__col
          .comparison__tabel__col__title Сравнение
          .comparison__tabel__col__subtitle Портативные твердомеры
        .comparison__tabel__col
          .comparison__tabel__picture 
            img(src="img/index/comparison__tabel__picture__1.png", srcset="img/index/comparison__tabel__picture__1--2x.png 2x" alt="")
            .comparison__tabel__picture__desc МЕТ-Д1А
        .comparison__tabel__col
          .comparison__tabel__picture 
            img(src="img/index/comparison__tabel__picture__2.png", srcset="img/index/comparison__tabel__picture__2--2x.png 2x" alt="")
            .comparison__tabel__picture__desc МЕТ-У1А
        .comparison__tabel__col
          .comparison__tabel__picture 
            img(src="img/index/comparison__tabel__picture__3.png", srcset="img/index/comparison__tabel__picture__2--2x.png 2x" alt="")
            .comparison__tabel__picture__desc МЕТ-УДА
    .comparison__tabel__row
      .comparison__tabel__col Ультразвуковой датчик
      .comparison__tabel__col нет
      .comparison__tabel__col да
      .comparison__tabel__col да
    .comparison__tabel__row
      .comparison__tabel__col Динамический датчик
      .comparison__tabel__col да
      .comparison__tabel__col нет
      .comparison__tabel__col да
    .comparison__tabel__row
      .comparison__tabel__col Тип корпуса
      .comparison__tabel__col 
      .comparison__tabel__col Алюминиевый IP 67
      .comparison__tabel__col 
    .comparison__tabel__row
      .comparison__tabel__col Время одного замера твёрдости, с
      .comparison__tabel__col 0,5
      .comparison__tabel__col 2
      .comparison__tabel__col 0,5
    .comparison__tabel__row
      .comparison__tabel__col Минимальная масса детали, кг
      .comparison__tabel__col 3
      .comparison__tabel__col 0,01
      .comparison__tabel__col 0,01
    .comparison__tabel__row
      .comparison__tabel__col Минимальная толщина детали, мм
      .comparison__tabel__col 10
      .comparison__tabel__col 1
      .comparison__tabel__col 1
    .comparison__tabel__row
      .comparison__tabel__col Передача данных архива на ПК
      .comparison__tabel__col да
      .comparison__tabel__col да
      .comparison__tabel__col да
    .comparison__tabel__row
      .comparison__tabel__col Гарантия
      .comparison__tabel__col 
      .comparison__tabel__col 3 года
      .comparison__tabel__col
    .comparison__tabel__row
      .comparison__tabel__col Измерение твёрдости цилиндрических и сферических поверхностей
      .comparison__tabel__col да
      .comparison__tabel__col да
      .comparison__tabel__col да
    .comparison__tabel__row
      .comparison__tabel__col Максимально допустимая шероховатость
      .comparison__tabel__col 3.2 Ra
      .comparison__tabel__col
        p 3.2 Ra
        p 4.5 Ra (датчик У50)
        p 8.0 Ra (датчик У100)*
      .comparison__tabel__col
        p 2.5 Ra (датчик У15)
        p 4.5 Ra (датчик У50)
        p 8.0 Ra (датчик У100)*
    .comparison__tabel__row
      .comparison__tabel__col Использование штатива*
      .comparison__tabel__col нет
      .comparison__tabel__col да
      .comparison__tabel__col да
    .comparison__tabel__row
      .comparison__tabel__col Погрешность, HRC
      .comparison__tabel__col ±2
      .comparison__tabel__col ±2
      .comparison__tabel__col ±2
    .comparison__tabel__row
      .comparison__tabel__col Погрешность, НВ
      .comparison__tabel__col ±10
      .comparison__tabel__col ±10
      .comparison__tabel__col ±10
    .comparison__tabel__row
      .comparison__tabel__col Погрешность, HV
      .comparison__tabel__col ±12
      .comparison__tabel__col ±12
      .comparison__tabel__col ±12
    .comparison__tabel__row
      .comparison__tabel__col Глубина проникновения индентора, мкм
      .comparison__tabel__col 200
      .comparison__tabel__col 30
      .comparison__tabel__col 30; 200