.measure {
	padding: 92px 72px;
	min-height: 600px;
	align-items: flex-end;
	overflow: hidden;
	@include max(md) {
		display: flex;
		flex-flow: column-reverse nowrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		padding-bottom: 40px;
	}
	&__title {
		width: 100%;
		max-width: 565px;
		z-index: 2;
		@include max(sm) {
			max-width: 290px;
		}
	}
	&__col {
		position: relative;
		display: flex;
		width: 100%;
		min-height: calc(600px - 92*2px);
		max-width: 477px;
		flex-flow: column nowrap;
		justify-content: space-between;
		padding-bottom: 60px;
		z-index: 5;
		@include max(md) {
			min-height: auto;
			padding-bottom: 30px;
		}

	}
	&__desc {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: column nowrap;
		@include max(sm) {
			padding-left: 24px;
			padding-right: 24px;
			margin-bottom: 24px;
		}
	}
	&__text {
		position: relative;
		display: inline-block;
		@include max(sm) {
			max-width: 330px;
		}
		a {
			color: $white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__btn {
		position: absolute;
		bottom: 0;
		left: 0;
		@include max(sm) {
			left: 24px;
		}
	}
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		@include max(md) {
			position: relative;
			display: flex;
			justify-content: flex-start;
			width: 100%;
			margin-bottom: 30px;
		}
		img, picture {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left top;
			@include max(md) {
				width: 80%;
			}
			@include max(xs) {
				width: 97%;
			}
		}
	}
}