.measure.block__overlay
  .measure__col
    .measure__desc
      .measure__title.title__40 Измерение твёрдости по основным шкалам
      .measure__text.text__16
        !="Достигается за счет калибровки только с помощью эталонных <a href='#'>мер твердости</a> без использования переводных таблиц, которые «зашиты» в программы других твердомеров, увеличивающих погрешность измерения."
    .measure__btn.btn выбрать товары
  .measure__bg 
    img(src="img/index/measure__bg.png", alt="")
