h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
html {
	font-family: $mainFont;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	color: #031B4B;
    scroll-behavior: smooth;
}
body.Bodymotionless {
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
  }

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    display: flex;
	flex-direction: column;
	min-height: 100%;
}
.section__header  {
    flex: 0 0 auto;
}
.section {
    padding-top: 128px;
    padding-bottom: 128px;
    @include max(md) {
        padding-top: 54px;
        padding-bottom: 54px;       
    }
    &__border-b {
        border-bottom: 1px solid #292B32;
    }
    &__black {
        background: $fonBlack;
        .swiper-buttons {
            .swiper-button-prev,.swiper-button-next {
              @media (max-width: 1450px) {
                background: #25292C;
                &::after {
                    color: #7F8589;
                }
          
              }
          
          
            }
        }
    }
    &__white {
        background: $white;
        .title{
            &__40 {
                color: $mainDark;
            }
            &__24 {
                color: $mainDark;
            }
        }
        .text{
            &__20 {
                color: $mainDark;
            }
            &__18 {
                color: $mainDark;
            }
            &__16 {
                color: $mainDark;
            }
        }
        .btn {
          color: $mainDark;
            &::before {
                background: $mainDark;
            }
            &::after   {
                background: $mainDark;
            }
        }

    }
    &.section--breadcrumbs {
        padding-top: 62px;
        @include max(sm) {
            padding-top: 20px;     
        }
    }
    &.section--pr-none {
        .container {
            @include max(sm) {
              max-width: calc(100% - 0px);
              padding-left: 16px;
            }
          }
        .catalog__button {
            right: 16px;
        }
    }
}
.site-main {
	flex: 1 0 auto;
    padding-top: 73px;
    background: $mainDark;
    // overflow: hidden;
    @include max(mdHeader) {
        padding-top: 55px;  
    }
}
.site-footer{
	flex: 0 0 auto;
}

.container {
    position: relative;
	box-sizing: border-box;
	width: 1314px;
	max-width: 95%;
	max-width: calc(100% - 0px);
	margin: 0 auto;
    position: relative;
	@include max(xl) {
		//1024
		width: 1168px;
		max-width: calc(100% - 80px * 2);
	}
	@include max(lg) {
		//1024
		width: 1168px;
		max-width: calc(100% - 32px * 2);
	}

	@include max(md) {
		max-width: calc(100% - 32px * 2);
	}

	@include max(sm) {
		max-width: calc(100% - 16px * 2);
	}
    &--pr-none {
        @include max(sm) {
            max-width: calc(100% - 0px);
            padding-left: 16px;
        }
        .catalog__button {
            right: 16px;
        }
    }
}

.button {
    &__circle {
		width: 130px;
		height: 130px;
		position: absolute;
		right: -18px;
		top: 5px;
		opacity: 1;
		pointer-events: none;
		will-change: transform, opacity;
		transform-style: preserve-3d;
        @include max(xxl) {
            width: vw(130);
            height: vw(130);
        }
        @include max(sm) {
            width: vw2(72);
            height: vw2(68);
            right: vw2(-10);
            top: vw2(12)
        }
        &-inner {
			width: 100%;
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			will-change: opacity;
			transform-style: preserve-3d;
		}

		&-outside {
			width: 130px;
			animation: rotateCircle 15s infinite linear;
            @include max(xxl) {
                height: vw(130);
                width: vw(130);
            }
            @include max(sm) {
                width: vw2(72);
                height: vw2(68);
            }
		}

		&-inside {
			position: absolute;
			left: 68px;
			top: 65px;
			transform: translateX(-50%) translateY(-50%);
			width: 18px;
            @include max(xxl) {
                left: vw(68);
                top: vw(65);
                width: vw(18);
            }
            @include max(sm) {
                width: vw2(11);
                left: vw2(35.5);
                top: vw2(35.5);
            }
		}
    }
}
.swiper-buttons {
    position: absolute;
    display: flex;
    height: 100px;
    width: 100%;
    top: calc(50% - 28px);
    overflow: visible;
    @media (max-width: 1450px) {
      position: relative;
      justify-content: space-between;
      align-items: flex-start;
      height: 40px;
      top: 0;
      margin-top: 45px;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 120px;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      align-self: flex-start;
    }
    @include max(md) {
      max-width: 92px;
      margin-top: 45px;
    }
    .swiper-button-prev,.swiper-button-next {
        width: 28px;
        height: 56px;
        top: 0;
        &::after {
            font-size: 38px;
        }
        @media (max-width: 1450px) {
            width: 49px;
            height: 49px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            background: #F5F5F5;
            &::after {
            font-size: 20px;
            }
    
        }
        @include max(md) {
            width: 33px;
            height: 33px;
            &::after {
            font-size: 15px;
            }
    
        }
  
  
    }
    .swiper-button-prev {
        &::after {
            content: url(../img/svg/button-prev.svg);
            @media (max-width: 1450px)  {
                content: url(../img/svg/button-prev--mob.svg);   
            }
        }
  
    }
    .swiper-button-next {
        &::after {
            content: url(../img/svg/button-next.svg);
            @media (max-width: 1450px) {
                content: url(../img/svg/button-next--mob.svg);   
            }
        }
  
    }
}
.btn {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: max-content;
    padding-bottom: 10px;
    color: $grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; 
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    @include max(md) {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 135%; /* 16.2px */
        letter-spacing: 0.36px;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50%;
        height: 2px;
        display: block;
        background: $grey;
        transition: all .3s;
    }
    &::before {
        transition: all .3s;
        content: '';
        position: absolute;
        bottom: 0;
        right: 50%;
        width: 50%;
        height: 2px;
        display: block;
        background: $grey;
    }
    &:hover {
        &::before {
            width: 10%;
        }
        &::after   {
            width: 10%;
        }
    }
    &--border-white {
        justify-content: center;
        align-items: center;
        height: 56px;
        border-radius: 66px;
        width: 100%;
        max-width: 225px;
        border: 1px solid #4E5051;
        color: $white;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        padding-bottom: 0;
        text-transform: none;
        transition: all .8s;
        padding-bottom: 0 !important;
        @include max(md) {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            height: 45px;           
        }
        img {
            margin-right: 9px;
        }
        &::before {
            visibility: hidden;
            width: 0;
            height: 0;
        }
        &::after   {
            visibility: hidden;
            width: 0;
            height: 0;
        }
        &:hover {
            transition: all .8s;
            border: 1px solid #4E5051;
            background: #4E5051;
        }
    }
    &--border {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        background: transparent;
        color: $mainDark;
        font-size: 12px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        max-width: 100%;
        width: 100%;
        border: 1px solid $mainDark;
        text-transform: uppercase;
        transition: all .3s;
        padding-bottom: 0;
        height: 45px;
        &::after {
          display: none;
        }
        &::before {
            display: none;
        }
        svg,img {
            margin-right: 10px;
            path {
                @include max(sm) {
                    fill: $red;
                }
            }

        }
        &:hover {
          transition: all .3s;
          background: $mainDark;
          border: 1px solid $mainDark;
          color: $white;
        }
    }
    &--red {
        padding-bottom: 0;
        text-transform: none !important;
        color: $red !important;
        &::after {
            background: $red !important;
        }
        &::before {
            background: $red !important;
        }
        &:hover {
            &::before {
                width: 10%;
            }
            &::after   {
                width: 10%;
            }
        }        
    }
    &--black{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        background: $mainDark;
        color: $white !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        min-height: 45px;
        padding-left: 42px;
        padding-right: 42px;
        max-width: 100%;
        width: 100%;
        text-transform: uppercase;
        transition: all .3s;
        padding-bottom: 0;
        &::after {
          display: none;
        }
        &::before {
            display: none;
        }
        @include max(md) {
            padding-bottom: 0;
        }
        @include max(sm) {
            color: $red;
            font-size: 11px;
            font-style: normal;
            font-weight: 550;
            line-height: 135%; /* 14.85px */
            text-transform: uppercase;
            padding-left: 15px;
            padding-right: 15px;
        }
        svg,img {
            margin-right: 10px;
            path {
                @include max(sm) {
                    fill: $red;
                }
            }

        }
        &:hover {
          transition: all .3s;
          background: $greyBlack;
          @include max(sm) {
            background: $greyLight;
            }
        }
    }

    &--filter {
        position: absolute;
        bottom: 14px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        background: $mainDark;
        color: $white;
        font-size: 12px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        min-height: 45px;
        padding-left: 42px;
        padding-right: 42px;
        text-transform: uppercase;
        margin-right: 0px;
        transition: all .3s;
        @include max(sm) {
            color: $red;
            font-size: 11px;
            font-style: normal;
            font-weight: 550;
            line-height: 135%; /* 14.85px */
            text-transform: uppercase;
            background: transparent;
            padding-left: 15px;
            padding-right: 15px;
        }
        svg,img {
            margin-right: 10px;
            path {
                @include max(sm) {
                    fill: $red;
                }
            }

        }
        &:hover {
          transition: all .3s;
          background: $greyBlack;
          @include max(sm) {
            background: $greyLight;
            }
        }
    }
    &--description  {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        color: $greyBlack;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.9px;
        transition: all .3s;
        @include max(sm) {
            position: relative;
            right: auto;
            top: auto;
            margin-right: auto;
            margin-bottom: 30px;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.7px;
        }        
        svg,img {
            transition: all .3s;
            margin-right: 18px;

            @include max(md) {
                width: 40px;
                height: 40px;
            }
            @include max(sm) {
                margin-right: 13px;
            }
        }

        &:hover {
            transition: all .3s;
            background: $grey;
            padding-right: 10px;
            color: $white;
            svg {
                path {
                    fill: $white; 
                }
                .rect-border {
                    fill: $white;                    
                }
            }
        }
    }
    &--redFull {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        background: $red;
        color: $white !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 550;
        line-height: 135%;
        min-height: 45px;
        padding-left: 42px;
        padding-right: 42px;
        text-transform: uppercase;
        margin-right: 0px;
        transition: all .3s;
        padding-bottom: 0;
        border: none;
        width: 100%;
        max-width: 251px;
        margin-left: auto;
        margin-right: auto;
        @include max(sm) {
            max-width: 209px;
            font-size: 11px;
            line-height: 135%; /* 14.85px */
        }
        &::after {
            display: none;
        }
        &::before {
            display: none;
        }        
        &:hover {
          transition: all .3s;
          background: $greyBlack;
        }        
    }

}

@keyframes rotateCircle {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

.title__40 {
    position: relative;
    display: block;
    color: $white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 48px;
    @include max(sm) {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 24px;
    }
}
.title__32 {
    position: relative;
    display: block;
    color: $white;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    @include max(sm) {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 135%
    }
}
.title__24 {
    position: relative;
    display: block;
    color: $white;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    @include max(sm) {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
}
.text__20 {
    color: $white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    @include max(sm) {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
}
.text__18 {
    color: $white;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 150%;
    @include max(sm) {
        font-size: 14px;
        font-style: normal;
        font-weight: 550;
        line-height: 150%;
    }
}
.text__16 {
    color: $grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    @include max(sm) {
        font-size: 12px;
        font-style: normal;
        font-weight: 550;
        line-height: 150%;
    }
}
.text__15 {
    color: $grey;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    @include max(sm) {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }
}
.input-block--checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    &--title{
        position: relative;
        display: block;
        width: 100%;
        margin-left: 10px;
			
    }
    label:not(.checkbox-container) {
        width: 18px;
        height: 18px;
        min-width: 18px;
        max-width: 18px;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        vertical-align: top;
        color: #2c2c2c;
        font-size: 12px;
        span {
            font-size: 12px;
            line-height: 17px;
            color: #2c2c2c;
        }

        input {
            display: none;
            min-width: 18px;
            max-width: 18px;
            &:checked + b {
                min-width: 18px;
                max-width: 18px;
                height: 18px;
                background-color: $red;
                border-color: $red;
                background-image: url(../img/svg/checkbox--icon.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        b {
            min-width: 18px;
            max-width: 18px;
            height: 18px;
            border: 1px solid #a5a5a5;
            background-color: #ffffff;
            border-radius: 3px;
            box-sizing: border-box;
        }
    }
}
.input-block--star {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    margin-right: 7px;
    &--title{
        position: relative;
        display: block;
        width: 100%;
        margin-left: 10px;
			
    }
    &.no-star {
        svg {
            display: none !important;
        }
    }
    label:not(.checkbox-container) {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 35px;
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        vertical-align: top;
        font-size: 12px;
        font-style: normal;
        font-weight: 550;
        line-height: normal;
        text-transform: uppercase;
        color: $greyBlack;
        padding-left: 12px;
        padding-right: 12px;
        span {
            position: relative;
            font-size: 12px;
            font-style: normal;
            font-weight: 550;
            line-height: normal;
            text-transform: uppercase;
            color: $greyBlack
        }

        input {
            display: none;
            &:checked + span + svg {
                path {
                    fill: #FF3E41;
                }
            }
            &:checked + span  {
                color: #FF3E41;
            }
            &:checked + span + svg + b {
                border: 1px solid #FF3E41;
            }
        }

        b {
            position: absolute;
            top:0;
            left: 0;
            height: 35px;
            width: 100%;
            border: 1px solid #a5a5a5;
            border-radius: 5px;
            box-sizing: border-box;
        }
        svg {
            position: relative;
            display: block;
            margin-left: 6px;
            margin-top: -2px;
        }
    }
}
.block{
    &__overlay {
        position: relative;
        display: flex;
        border-radius: 28px;
        background: #25292C;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
        @include max(sm) {
          margin-bottom: 24px;  
        }       
    }
}


.scroll-down{
	position: relative;
	display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: flex-start;
	pointer-events: none;
	user-select: none;
    &__wrap {
        position: relative;
        width: 100%;
        position: fixed;
        left: 20px;
        bottom: 93px;
        .container {
            position: relative;
            width: 1920px;
            padding-left: 80px;
            padding-right: 80px;
            @include max(xl) {
              padding-left: 0;
                padding-right: 0;
                max-width: calc(100% - 40px * 2);
                padding-left: 0px;
                padding-right: 0px;
                left: 0;
            }
                @include max(lg) {
                    //1024
                    width: 1168px;
                    max-width: calc(100% - 32px * 2);
                    padding-left: 0px;
                    padding-right: 0px;
                }
            
                @include max(md) {
                    max-width: calc(100% - 32px * 2);
                }
            
                @include max(sm) {
                    max-width: calc(100% - 16px * 2);
                }
          }
    }
    @include max(xl) {
		left: 0;
	}
	@include max(lg) {
		display: none;
	}

	&__icon{
        display: block;
		width: 14px;
		height: 20px;
		box-sizing: border-box;
		border: 3px solid #191919;
		border-radius: 7px;
		position: relative;
		span{
			border-radius: 50%;
			background: #191919;
			display: block;
			position: absolute;
			top: 1px;
			left: 1px;
			width: 6px;
			height: 6px;
			animation: 1.3s infinite normal scrollDown;
		}
	}
	&__text{
        position: relative;
        display: inline-block;
        margin-bottom: 14px;
        width: 14px;
		color: #191919;
		font-size: 14px;
		line-height: 1;
        transform: rotate(-90deg);
	}
	&--white{
		.scroll-down{
			&__icon{
				border-color: $greyBlack;
				span{
					background: $greyBlack;
				}
			}
			&__text{
				color: $greyBlack;
			}
		}
	}
}
@keyframes scrollDown {
	0% {
		top: 1px;
		opacity: 0;
	}
	20% {
		top:1px;
		opacity: 1;
	}
	80% {
		top: 7px;
		opacity: 1;
	}
	100% {
		top: 7px;
		opacity: 0;
	}
}

.tab-pane {
    display: none;
    &.active {
        display: flex;
    }
}
.catalog__button {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    &--mob {
        display: none;
        position: absolute;
        bottom: 30px;
        right: 0;
        @include max(md) {
          display: flex;
        }
      }
    &:hover {
        transition: all .3s;
        color: $greyBlack;
    }
}

.hints {
    z-index: 9999;
    .hint {
      position: absolute;
      width: 46px;
      height: 46px;
      z-index: 800;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.35;
      cursor: pointer;
      svg {
        @include max(sm) {
          width: 46px;
          height: 46px;
        }
      }
  
      &::before {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 0px;
        height: 0px;
        transition: all 0.3s;
      }
      &:hover {
        transition: all 0.3s;
        &::before {
          transition: all 0.3s;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: $red;
          display: block;
          content: "";
      
        }
      }
      &__list {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        // max-width: 226px;
        background: #fff;
        &__title {
    
        }
        ul {
          position: relative;
          display: block;
          width: 100%;
          padding-left: 15px;
          padding-top: 0;
          margin-top: 0;
          color: #CBCECF;
          font-size: 15px;
          font-style: normal;
          font-weight: 550;
          line-height: 135%;
          margin-bottom: 0px;
          @include max(sm) {
              font-size: 14px;
              font-style: normal;
              line-height: 150%;
              margin-bottom: 10px;
          }
          li {
            position: relative;
            list-style-type: none;
            color: #CBCECF;
            font-size: 15px;
            font-style: normal;
            font-weight: 550;
            line-height: 135%;
            margin-bottom: 14px;
            &:last-child {
              margin-bottom: 0;
            }
            @include max(sm) {
                font-size: 14px;
                font-style: normal;
                line-height: 150%;
                margin-bottom: 10px;
            }
            &::before {
              content: '';
              display: block;
              height: 5px;
              width: 5px;
              border-radius: 50%;
              background-color: $red;
              left: -15px;
              top: 7px;
              position: absolute;
            }
          }
        }
      }
    }
}
.tippy-box[data-theme~='tomato'] {
	background-color: #FFFFFF;
  padding: 20px 20px;
  border-radius: 15px;
  @include max(sm) {
    padding: 10px 10px;
  }
  p  {
    color: $mainDark;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 19px;
    @include max(sm) {
      font-size: 12px;
      font-style: normal;
      line-height: 150%;
      margin-bottom: 10px;
      max-width: 160px;
  }
  }
  ul {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-top: 0;
    margin-top: 0;
    color:  #454545;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    @include max(sm) {
        font-size: 12px;
        font-style: normal;
        line-height: 150%;
        margin-bottom: 10px;
        max-width: 180px;
    }
    li {
      position: relative;
      list-style-type: none;
      color:  #454545;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
      @include max(sm) {
          font-size: 12px;
          font-style: normal;
          line-height: 150%;
          margin-bottom: 10px;
      }
      &::before {
        content: '';
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: $mainDark;
        left: -15px;
        top: 7px;
        position: absolute;
      }
    }
  }
  // .hint {
  //   &__list {
  //     position: relative;
  //     display: flex;
  //     flex-flow: column nowrap;
  //     width: 100%;
  //     background: #fff;
  //     &__title {
  //     }

  //   }
  // }
}
.tippy-box[data-theme~='tomato'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='top'] > .tippy-svg-arrow svg {
  border-top-color: #fff;
  fill: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='bottom'] > .tippy-svg-arrow svg {
  border-bottom-color: #fff;
  fill: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='left'] > .tippy-svg-arrow svg {
  border-left-color: #fff;
  fill: #fff;
  transform: scale(2.5);
}
.tippy-box[data-theme~='tomato'][data-placement^='right'] > .tippy-svg-arrow svg {
  border-right-color: #fff;
  fill: #fff;
  transform: scale(2.5);
}