.main__pagination.animate__animated
  .container
    .main__pagination__wrap
      a(href="index1").main__pagination__item.active
        !="01"
      a(href="index2").main__pagination__item
        !="02"
      a(href="index3").main__pagination__item
        !="03"
      a(href="index4").main__pagination__item
        !="04"
      a(href="index5").main__pagination__item
        !="05"
  