.main__pagination  {
	position: fixed;
	left: 20px;
	top: 175px;
	display: flex;
	justify-content: flex-start;
	flex-flow: column nowrap;
	width: 100%;
	animation-name: fadeInLeft;
	animation-delay: 1.3s;
	@include max(xl) {
		left: 0;
	}
	@include max(lg) {
		display: none;
	}
  .container {
    position: relative;
    width: 1920px;
    padding-left: 80px;
    padding-right: 80px;
		z-index: 0;
		@include max(xl) {
      padding-left: 0;
			padding-right: 0;
			max-width: calc(100% - 40px * 2);
			padding-left: 0px;
			padding-right: 0px;
			left: 0;
    }
		@include max(lg) {
			//1024
			width: 1168px;
			max-width: calc(100% - 32px * 2);
			padding-left: 0px;
			padding-right: 0px;
		}
	
		@include max(md) {
			max-width: calc(100% - 32px * 2);
		}
	
		@include max(sm) {
			max-width: calc(100% - 16px * 2);
		}
  }
	&__wrap {
		position: relative;
		display: flex;
		width: 30px;
		justify-content: flex-start;
		flex-flow: column nowrap;
		height: auto;
		z-index: 400;
	}

	&__item {
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		margin-bottom: 20px;
		font-size: 12px;
		color: #000;
		opacity: 1;
		background: transparent;
		color: #7F8589;
		font-size: 13px;
		font-style: normal;
		font-weight: 550;
		line-height: 135%; /* 17.55px */
		letter-spacing: 1.3px;
		text-transform: uppercase;
		transform: rotate(-90deg);
		text-decoration: none;
		&.active {
			color: $red;
		}		
	}

}