.main__pagination.animate__animated
  .container
    .main__pagination__wrap
      a(href="#").main__pagination__item.active
        !="01"
      a(href="#").main__pagination__item
        !="02"
      a(href="#").main__pagination__item
        !="03"
      a(href="#").main__pagination__item
        !="04"
      a(href="#").main__pagination__item
        !="05"
  